<div class="row">
	<div class="g12">
		<div class="item ls-horizontal right">
			<button type="button" class="btnTab btn-primary btn-sm"
				ng-if="ccGeneracion.id > 0" ng-click="registrarActividad()">Guardar</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="g12">
		<div class="g3">
			<div class="item right">
				<label>Metano quemado por regulaci&oacute;n</label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<input ng-model="ccGenActividad.cantMetano" type="number" min=0
					style="width: 150px;"
					title="Cantidad de metano que hubiera sido capturado o quemado, en cumplimiento con las regulaciones nacionales.">
				<label class="unidad">tCH<sub>4</sub></label>
			</div>

		</div>


	</div>
</div>
<h5>Combustible y energ&iacute;a el&eacute;ctrica usados en el
	proceso:</h5>

<div class="row">
	<div class="g12">
		<table id="tblGenCombustible" ng-table="tblGenCombustible"
			style="width: 50%;" show-filter="false" class="table square">
			<tbody>
				<tr ng-repeat="item in ccGenActividad.listCombustible">
					<td data-title="'Tipo de Combustible'">{{item.cc_tipoCombustible_desc}}
					</td>
					<td data-title="'Cantidad'" class="align-center"><input
						style="width: 200px;" type="number" ng-model="item.cantidad"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div style="margin-left: 20px;">
	<div class="row">
		<div class="g12">

			<div class="item">
				<label>Realiza el monitoreo de par&aacute;metros en el
					proyecto?</label>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="g12">
			<div class="g2">
				<div class="item">
					<input id="" type="radio" ng-model="ccGenActividad.monitoreo"
						value="1">Si
				</div>
			</div>
			<div class="g2">
				<div class="item">
					<input id="" type="radio" ng-model="ccGenActividad.monitoreo"
						value="0">No
				</div>
			</div>
		</div>
	</div>
	<div ng-if="ccGenActividad.monitoreo==1">
		<h5 style="font-weight: bold;">Datos del quemador:</h5>
		<div class="row">
			<div class="g12">
				<div class="g3">
					<div class="item right">
						<label>Horas de funcionamiento</label>
					</div>
				</div>
				<div class="g2">
					<div class="item">
						<input ng-model="ccGenActividad.horasFunc" type="number" min="0"
							max="8784"
							title="Horas, al a&ntilde;o, de funcionamiento del quemador.En caso de dos o m&aacute;s quemadores: horas promedio, al a&ntilde;o, de funcionamiento de los quemadores."
							style="width: 150px;"><label class="unidad">h/a&ntilde;o</label>
					</div>
				</div>
				<div class="g2">
					<div class="item right">
						<label>Eficiencia</label>
					</div>
				</div>
				<div class="g2">
					<div class="item">
						<input ng-model="ccGenActividad.eficienciaQuemador" type="number"
							min=0 style="width: 100px;"><label class="unidad">%</label>
					</div>
				</div>
			</div>
		</div>
		<h5 style="font-weight: bold;">Del gas generado:</h5>
		<div class="row">
			<div class="g12">
				<div class="g3">
					<div class="item right">
						<label>Gas total generado</label>
					</div>
				</div>
				<div class="g2">
					<div class="item">
						<input ng-model="ccGenActividad.total_gas" type="number" min=0
							style="width: 150px;"><label class="unidad">m<sup>3/a&ntilde;o</sup></label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="g12">
				<div class="g3">
					<div class="item right">
						<label>Gas enviado al quemador</label>
					</div>
				</div>
				<div class="g2">
					<div class="item">
						<input ng-model="ccGenActividad.gas_quemado" type="number" min=0
							style="width: 150px;"><label class="unidad">m<sup>3/a&ntilde;o</sup></label>
					</div>
				</div>
				<div class="g2">
					<div class="item right">
						<label>Gas para generaci&oacute;n</label>
					</div>
				</div>
				<div class="g3">
					<div class="item">
						<input ng-model="ccGenActividad.gas_generado" type="number" min=0
							title="Gas usado en la generación de energ&iacute;a el&eacute;ctrica"
							style="width: 150px;"><label class="unidad">m<sup>3</sup>/a&ntilde;o
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="g12">
				<div class="g3">
					<div class="item right">
						<label>Porcentaje de metano en el gas</label>
					</div>
				</div>
				<div class="g2">
					<div class="item">
						<input ng-model="ccGenActividad.ptj_metano_lfg" type="number"
							min=0 max="100" style="width: 100px;"><label
							class="unidad">m<sup>3</sup><sub>CH4</sub>/m<sup>3</sup><sub>LFG</sub></label>
					</div>
				</div>
				<div class="g2">
					<div class="item right">
						<label>Densidad de metano</label>
					</div>
				</div>
				<div class="g3">
					<div class="item">
						<input ng-model="ccGenActividad.densidad_metano" type="number"
							disabled style="width: 150px;"><label class="unidad">t<sub>CH4</sub>/m<sup>3</sup><sub>CH4</sub></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="ccGenActividad.monitoreo==0">
		<div class="g12">
			<div class="g3">
				<div class="item right">
					<label>Eficiencia en la captura de metano</label>
				</div>
			</div>
			<div class="g2">
				<div class="item">
					<input ng-model="ccGenActividad.eficienciaCaptura" type="number"
						min="0" max="100" style="width: 150px;"><label
						class="unidad">%</label>
				</div>
			</div>

		</div>
	</div>

</div>