<h5 style="font-weight: bold">Valores por defecto</h5>
<div class="row">
	<div class="g12">
		<div class="g2">
			<div class="item right">
				<label>GWP <sub class="unidad">CH4</sub></label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<input ng-model="ccGenCalc.potencial_cg" type="number" disabled
					style="width: 150px;" title="Potencial de calentamiento global">
			</div>
		</div>
		<div class="g2">
			<div class="item right">
				<label>OX</label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<input ng-model="ccGenCalc.factor_ox" type="number" disabled
					style="width: 150px;" title="Factor de oxidaci&oacute;n">
			</div>
		</div>
		<div class="g2">
			<div class="item right">
				<label>e</label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<input ng-model="ccGenCalc.euler" type="number" disabled
					style="width: 150px;">
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="g12">
		<div class="g2">
			<div class="item right">
				<label>Tipo de c&aacute;lculo y condiciones</label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<select ng-model="ccGenCalc.selFactor" ng-change="setPhi()"
					ng-options="item as item.descripcion for item in listCondicion track by item.factorCorreccionId">
					<option value="">-Seleccionar-</option>
				</select>
			</div>
		</div>
		<div class="g2">
			<div class="item right">
				<label>φy</label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<input ng-model="ccGenCalc.phi" type="number" disabled
					style="width: 150px;">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="g12">
		<div class="g2">
			<div class="item right">
				<label>F</label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<input ng-model="ccGenCalc.fraccion_lfg" type="number" disabled
					style="width: 150px;" title="Fracci&oacute;n de metano en el gas">
			</div>
		</div>
		<div class="g2">
			<div class="item right">
				<label>DOC<sub class="unidad">f</sub></label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<input ng-model="ccGenCalc.fraccion_doc" type="number" disabled
					style="width: 150px;"
					title="Fracci&oacute;n del carbono org&aacute;nico degradable.">
			</div>
		</div>
		<div class="g2">
			<div class="item right">
				<label>MCF</label>
			</div>
		</div>
		<div class="g2">
			<div class="item">
				<input ng-model="ccGenCalc.factor_cm" type="number" disabled
					style="width: 150px;"
					title="Factor de correcci&oacute;n de metano.">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="g12">

		<!-- 		<div class="g5"> -->
		<!-- 			<div class="item right"> -->
		<!-- 				<label>Tipo de clima</label> -->
		<!-- 			</div> -->
		<!-- 		</div> -->
		<!-- 		<div class="g3"> -->
		<!-- 			<div class="item"> -->
		<!-- 				<input ng-model="ccGenCalc.tipoClima" type="text" disabled -->
		<!-- 					style="width: 200px;"> -->
		<!-- 			</div> -->
		<!-- 		</div> -->

	</div>
</div>
<div class="row">
	<div class="g12">
		<div class="g6">
			<table id="tblTipoResiduoDOC" ng-table="tblTipoResiduoDOC"
				show-filter="false" class="table square">
				<tbody>
					<tr ng-repeat="item in listTipoResiduoDOC">
						<td data-title="'Tipo de Residuo'">{{item.descripcion}}</td>
						<td data-title="'DOC %'" class="align-center"
							ng-if="ccGenCalc.selFactor.condicionId == 'HU'">{{item.valorCondHumeda}}</td>
						<td data-title="'DOC %'" class="align-center"
							ng-if="ccGenCalc.selFactor.condicionId == 'SE'">{{item.valorCondSeca}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="g6">
			<table id="tblTipoResiduoTD" ng-table="tblTipoResiduoTD"
				show-filter="false" class="table square">
				<tbody>
					<tr ng-repeat="item in listTipoResiduoTD">
						<td data-title="'Tipo de Residuo'">{{item.descripcion}}</td>
						<td data-title="'Tasa de descomposici&oacute;n'"
							class="align-center">{{item.tasaDescomposicion}}</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<h5 style="font-weight: bold">Reducci&oacute;n de emisiones de GEI</h5>
<div class="row">
	<div class="g12">
		<div class="g3">
			<div class="item">
				<label>ER<sub>y</sub> = BE<sub>y</sub> - PE<sub>y</sub> - LE<sub>y</sub></label>
			</div>
		</div>
	</div>
</div>
<div class="row"></div>
<div class="row">
	<div class="g12">
		<div class="g1">
			<div class="itemlbl right">
				<label style="font-weight: bold;">ER<sub>y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">
				<label class="labelForm">{{ccGenCalc.ER|number:2}}</label> <label
					class="unidad">tCO<sub>2</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="g12">
		<div class="g1">
			<div class="itemlbl right">
				<label>BE<sub>y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">

				<label class="labelForm">{{ccGenCalc.BEy|number:2}}</label> <label
					class="unidad">tCO<sub>2</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
		<div class="g1">
			<div class="itemlbl right">
				<label>PE<sub>y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">

				<label class="labelForm">{{ccGenCalc.PE|number:2}}</label> <label
					class="unidad">tCO<sub>2</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
		<div class="g1">
			<div class="itemlbl right">
				<label>LE<sub>y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">

				<label class="labelForm">{{ccGenCalc.LE|number:2}}</label> <label
					class="unidad">tCO<sub>2</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
	</div>
</div>
<h5>Emisiones de GEI en la l&iacute;nea base</h5>
<div class="row">
	<div class="g12">
		<div class="g3">
			<div class="itemlbl">
				<label>BE<sub>y</sub> = BE<sub>CH4</sub></label>
			</div>
		</div>
	</div>
</div>
<div class="row"></div>
<div class="row">
	<div class="g12">
		<div class="g1">
			<div class="itemlbl right">
				<label style="font-weight: bold;">BE<sub>y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">

				<label class="labelForm">{{ccGenCalc.BEy|number:2}}</label> <label
					class="unidad">tCO<sub>2</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
		<div class="g1">
			<div class="itemlbl right">
				<label>BE<sub>CH4,y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">
				<label class="labelForm">{{ccGenCalc.BEch4y|number:2}}</label> <label
					class="unidad">tCO<sub>2</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
	</div>
</div>
<div class="row"></div>
<div class="row">
	<div class="g12">
		<div class="g10">
			<div class="item">
				<label>BE<sub>CH4,y</sub> = [(1 - OX) * F<sub>CH4,PJ,y</sub>
					- F<sub>CH4,BL,y</sub>] * GWP<sub>CH4</sub></label>
			</div>
		</div>
	</div>
</div>
<div class="row"></div>
<div class="row">
	<div class="g12">
		<div class="g1">
			<div class="itemlbl right">
				<label style="font-weight: bold;">BE<sub>CH4,y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">

				<label class="labelForm">{{ccGenCalc.BEch4y|number:2}}</label> <label
					class="unidad">tCO<sub>2</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
		<div class="g1">
			<div class="itemlbl right">
				<label>OX</label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">
				<label class="labelForm">{{ccGenCalc.factor_ox|number:2}}</label> <label
					class="unidad">tCO<sub>2</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
		<div class="g1">
			<div class="itemlbl right">
				<label>F<sub>CH4,PJ,y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">
				<label class="labelForm">{{ccGenCalc.Fch4pjy|number:2}}</label> <label
					class="unidad">tCH<sub>4</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="g12">
		<div class="g5">
			<div class="itemlbl right">
				<label>F<sub>CH4,BL,y</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">
				<label class="labelForm">{{ccGenCalc.Fch4bly|number:2}}</label> <label
					class="unidad">tCH<sub>4</sub>e/a&ntilde;o
				</label>
			</div>
		</div>
		<div class="g1">
			<div class="itemlbl right">
				<label>GWP<sub>CH4</sub></label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">
				<label class="labelForm">{{ccGenCalc.potencial_cg|number:2}}</label>
			</div>
		</div>

	</div>
</div>
<div class="row"></div>
<div class="row">
	<div class="g12">
		<div class="g3">
			<div class="itemlbl">
				<label><sup>y</sup>∑<sub>x=1</sub>∑<sub>j</sub>W<sub>j,x</sub>
					* DOC<sub>j</sub> * e <sup>-kj(y-x)</sup> * (1 - e <sup>-kj</sup>)</label>
			</div>
		</div>
		<div class="g3">
			<div class="itemlbl">
				<label class="labelForm">{{ccGenCalc.total|number:2}}</label>
			</div>
		</div>
	</div>
</div>
