
<div class="row">
	<div class="g12">
		<div class="item ls-horizontal right">
			<button type="button" class="btnTab btn-primary btn-sm"
				ng-if="ccGeneracion.id < 0" ng-click="registrarGeneracion()">Guardar</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="g12">
		<div class="g2">
			<div class="item">
				<label>A&ntilde;o de inicio del SDF</label>
			</div>
		</div>
		<div class="g1">
			<div class="item">
				<input ng-model="ccGeneracion.anioInicio" type="text"
					ng-disabled="fDisabled">
			</div>

		</div>
		<div class="g3">
			<div class="item">
				<label>Generaci&oacute;n de residuos s&oacute;lidos urbanos</label>
			</div>
		</div>
		<div class="g2">
			<div class="item" style="margin-bottom: 5px;">
				<input ng-model="ccGeneracion.totalRRSS" type="text" disabled
					title="t/a&ntilde;o">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="g12">
		<table id="tblGenComposicion" ng-table="tblGenComposicion"
			style="width: 50%;" show-filter="false" class="table square">
			<tbody>
				<tr ng-repeat="item in ccGeneracion.listComposicion">
					<td data-title="'Tipo de Residuo'">{{item.cc_tipoResiduoDesc}}
					</td>
					<td data-title="'Porcentaje de composici&oacute;n'"
						class="align-center">{{item.porcentaje}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


