<div ng-include="'src/views/parts/menu.html'"></div>

<div class="container container-full">
	<form>
		<div class="row">
			<div class="widget header">
				<h3 class="coll">Generaci&oacute;n de Energ&iacute;a</h3>
				<div class="clear"></div>
			</div>
		</div>

		<div class="container-panel panel-body">
			<div ng-repeat="alert in alerts">
				<notification ng-model="alert" />
			</div>

			<div class="row">
				<h5 class="coll" style="font-weight: bold;">C&aacute;lculo de
					las emisiones de gases de efecto invernadero, en l&iacute;nea base
					y proyecto</h5>
				<br> <label style="font-weight: bold;">Metodologia:
					ACM0001 v18.0: Flaring or use of landfill gas</label> <br> <label
					style="font-size: 11px; font-weight: bold;">Fuente: <a
					href="https://cdm.unfccc.int/filestorage/0/X/2/0X2IE6B1PJDLKMWN89AZGTFUHR3VYS/EB94_repan04_ACM0001.pdf?t=b1p8cDR2YXB5fDBCgF_pcTt7x0lHthHeM5dx">Methodology
						CMD</a>
				</label>
			</div>

			<div class="row"></div>
			<fieldset>
				<legend>Municipalidad</legend>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Departamento</label>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<select ng-model="selDepartamento" ng-change="lstProvincia()"
									ng-options="item as item.departamento for item in listDep track by item.departamento">
									<option value="">-Seleccionar-</option>
								</select>
							</div>

						</div>
						<div class="g1">
							<div class="item">
								<label>Provincia</label>
							</div>
						</div>
						<div class="g3">
							<div class="item">
								<select ng-model="selProvincia" ng-change="lstDistrito()"
									ng-options="item as item.provincia for item in listProv track by item.provincia">
									<option value="">-Seleccionar-</option>
								</select>
							</div>

						</div>
						<div class="g1">
							<div class="item">
								<label>Distrito</label>
							</div>
						</div>
						<div class="g3">
							<div class="item">
								<select ng-model="selDistrito" ng-change="getUltAnio()"
									ng-options="item as item.distrito for item in listDist track by item.ubigeoId">
									<option value="">-Seleccionar-</option>
								</select>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>A&ntilde;o del reporte</label>
							</div>
						</div>
						<div class="g1">
							<div class="item">
								<input ng-model="ccGeneracion.anioReporte" type="text" disabled>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Sitio de disposici&oacute;n final (SDF)</legend>
				<div class="row">
					<div class="g12">
						<div class="g1">
							<div class="item">
								<label>Seleccionar</label>
							</div>
						</div>
						<div class="g3">
							<div class="item">
								<select ng-model="sdf_selected"
									ng-change="getDatosGenerales_SDF()"
									ng-options="item as item.sitioDisposicion.nombre_sitio for item in listSDF track by item.sitioDisposicion.sitio_disposicion_id">
									<option value="">-Seleccionar-</option>
								</select>
							</div>

						</div>
					</div>
				</div>
				<div class="row"></div>
				<!-- 				Tabs -->
				<div class="pestanas">
					<ul ng-init="numTab=1">
						<li id="idGeneral" ng-class="{activeTab:numTab===1}"
							ng-click="numTab=1">Datos Generales</li>
						<li id="idActividad" ng-class="{activeTab:numTab===2}"
							ng-click="irTabActividad()">Datos de actividad del proyecto</li>
						<li id="idCalculo" ng-class="{activeTab:numTab===3}"
							ng-click="irTabCalculo()">C&aacute;lculo</li>
						<li id="idResultado" ng-class="{activeTab:numTab===4}"
							ng-click="numTab=4">Resultado</li>

					</ul>
				</div>

				<div class="contenidopestanas">
					<div ng-show="numTab===1"
						ng-include="'src/views/cambioclimatico/generacion/datosGeneralesSDF.html'"></div>
					<div ng-show="numTab===2"
						ng-include="'src/views/cambioclimatico/generacion/actividadProyectoSDF.html'"></div>
					<div ng-show="numTab===3"
						ng-include="'src/views/cambioclimatico/generacion/calculoSDF.html'"></div>
					<div ng-show="numTab===3"
						ng-include="'src/views/cambioclimatico/generacion/resultadoSDF.html'"></div>
				</div>

				<!-- 				Tabs -->

			</fieldset>
		</div>
	</form>
</div>

