<div ng-include="'src/views/parts/menu.html'"></div>

<form class="container container-full" nama="masterFiliacion">

	<div class="row">
		<div class="widget header">
			<div class="g4">
				<h3 class="coll">Datos Filiaci&oacute;n</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="panel-body">

		<div class="contenedor" id="idContenedor">

			<div id="pestanas">
				<ul id="lista">
					<li><a id="idPersonal" href="#idContenedor-1">Personales</a></li>
					<li><a id="idSeguro" href="#idContenedor-2" class="disabledLink" >Seguro</a></li>
					<li><a id="idImagen" href="#idContenedor-3" class="disabledLink" >Im&aacute;genes</a></li>
					<li><a id="idPosesionArma" href="#idContenedor-4" class="disabledLink">Posesi&oacute;n Armamento</a></li>
<!-- 					class="disabledLink" -->
					
				</ul>
			</div>

			<div id="contenidopestanas">
				<div id="idContenedor-1">
					<div ng-include="'src/views/filiacion/tabPersonal.html'"></div>
				</div>
				<div id="idContenedor-2">
					<div ng-include="'src/views/filiacion/tabSeguro.html'"></div>
				</div>
				<div id="idContenedor-3">
					<div ng-include="'src/views/filiacion/tabImagen.html'"></div>
				</div>
				<div id="idContenedor-4">
					<div ng-include="'src/views/filiacion/tabPosesionArma.html'"></div>
				</div>

			</div>

			

		</div>

	</div>

</form>