<script language="Javascript">

$('#fechaNacimiento').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});

$.datepicker.setDefaults($.datepicker.regional.es);
</script>


	<div class="container container-full">
		<div ng-repeat="alert in alerts">
			<notification ng-model="alert" />
		</div>



		<div id="idContentPersonal" ng-init="accordion=1">
			<div class="row" style="margin-bottom: 20px">
				<div class="item">
					<label id="lblDatosPersona" style="font-weight: bold;">{{paramFilter.datos_persona}}</label>
				</div>
				<div class="item ls-horizontal right">

					<button type="button" class="btn btn-primary btn-sm"
						style="font-family: Roboto, sans-serif;" id="btnGrabar"
						ng-click="grabarPersona()" title="Grabar" value="Grabar">
						<span class="icn icn-floppy-disk"></span>Grabar
					</button>
					<!-- 				<a title="Limpiar" class="btn btn-primary btn-sm" -->
					<!-- 					style="color: white;" ng-click="limpiarPersona()"><span -->
					<!-- 					class="icn icn-trash"></span>Limpiar</a> -->
				</div>

				<div class="clear"></div>
				<div class="clear"></div>
				<br>
				<h3 class="accordion" ng-class="{active:accordion==1}">
					<a href ng-click="accordion = 1">Datos Personales</a>
				</h3>

				<div class="accordion-content" ng-show="accordion==1">
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Apellido Paterno</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="text" ng-model="persona.apellidoPaterno"
										required>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>Apellido Materno</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="text" ng-model="persona.apellidoMaterno">
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<label>Nombres</label>
								</div>
							</div>
							<div class="g3">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="text" ng-model="persona.nombres">
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Tipo Documento</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<select style="width: 180px;"
										ng-model="persona.tipoDoc_selected"
										ng-options="item as item.valor_parametro for item in lstTipoDocumento track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>N&uacute;mero Documento</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="text" ng-model="persona.nroDoc">
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<label>Estado Civil</label>
								</div>
							</div>
							<div class="g3">
								<div class="item" style="margin-bottom: 3px">
									<select style="width: 180px;"
										ng-model="persona.estadoCivil_selected"
										ng-options="item as item.valor_parametro for item in lstEstadoCivil track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>CIP</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="text" ng-model="persona.cip" disabled>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>N&uacute;mero de Serie</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="text" ng-model="persona.nroSerie">
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<label>Grupo Sangu&iacute;neo</label>
								</div>
							</div>
							<div class="g3">
								<div class="item" style="margin-bottom: 3px">
									<select style="width: 180px;"
										ng-model="persona.gpoSangre_selected"
										ng-options="item as item.valor_parametro for item in lstGpoSangre track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Sexo</label>
								</div>
							</div>
							<div class="g10">
								<div class="item" style="margin-bottom: 3px">
									<select style="width: 180px;" ng-model="persona.sexo_selected"
										ng-options="item as item.valor_parametro for item in lstSexo track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>

				<h3 class="accordion" ng-class="{active:accordion==2}">
					<a href ng-click="accordion = 2">Fecha / Lugar de Nacimiento</a>
				</h3>
				<div class="accordion-content" ng-show="accordion==2">
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Fecha de Nacimiento</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" id="idDTP"
									style="width: 180px; margin-bottom: 3px">
									<input id="fechaNacimiento" name="fechaNacimiento" type="text"
										ng-change="calcularEdad()" placeholder="dd/MM/yyyy"
										ng-model="persona.fechaNacimiento"> <i id="idIcono"
										class="icn icn-calendar"></i>
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<label>Edad</label>
								</div>
							</div>
							<div class="g1">
								<div class="item" style="margin-bottom: 3px; width: 80px;">
									<input id="" type="text" ng-model="persona.edad" disabled>
								</div>
							</div>
							<div class="g6"></div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Departamento</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.departamentoNac_selected"
										ng-change="cargaProvinciaNac()"
										ng-options="item as item.ubigeo_descripcion for item in lstDepartamento track by item.ubigeo_id">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>Provincia</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.provinciaNac_selected"
										ng-change="cargaDistritoNac()"
										ng-options="item as item.ubigeo_descripcion for item in lstProvinciaNac track by item.ubigeo_id">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g4"></div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Distrito</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.distritoNac_selected"
										ng-change="cargaCentroPobladoNac()"
										ng-options="item as item.ubigeo_descripcion for item in lstDistritoNac track by item.ubigeo_id">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>Centro Poblado</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.ccppNac_selected"
										ng-options="item as item.ubigeo_descripcion for item in lstCentroPobladoNac track by item.ubigeo_id">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g4"></div>
						</div>
					</div>
				</div>

				<h3 class="accordion" ng-class="{active:accordion==3}">
					<a href ng-click="accordion = 3">Domicilio Actual</a>
				</h3>
				<div class="row" ng-show="accordion==3">
					<div class="coll ls-horizontal right" ng-show="fdisDirDom">
						<button type="button" class="btn btn-primary btn-sm"
							style="font-family: Roboto, sans-serif;" id="btnCrearNuevo"
							ng-click="limpiarDomicilioActual()"
							title="Actualizar Direcci&oacute;n" value="ActualizarDireccion">
							<span class="icn icn-plus-sign"></span>
						</button>

					</div>


				</div>

				<fieldset class="accordion-content" ng-show="accordion==3"
					ng-disabled="fdisDirDom">
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Departamento</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.departamentoDom_selected"
										ng-change="cargaProvinciaDom()"
										ng-options="item as item.ubigeo_descripcion for item in lstDepartamento track by item.ubigeo_id">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>Provincia</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.provinciaDom_selected"
										ng-change="cargaDistritoDom()"
										ng-options="item as item.ubigeo_descripcion for item in lstProvinciaDom track by item.ubigeo_id">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g4"></div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Distrito</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.distritoDom_selected"
										ng-change="cargaCentroPobladoDom()"
										ng-options="item as item.ubigeo_descripcion for item in lstDistritoDom track by item.ubigeo_id">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>Centro Poblado</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px"
										ng-model="persona.ccppDom_selected"
										ng-options="item as item.ubigeo_descripcion for item in lstCentroPobladoDom track by item.ubigeo_id">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g4"></div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>N&uacute;cleo Urbano</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.nucleoUrb_selected"
										ng-options="item as item.valor_parametro for item in lstNucleoUrb track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>

								</div>
							</div>
							<div class="g4">
								<div class="item" style="margin-bottom: 3px;">
									<input id="" type="text" ng-model="persona.nucleoUrb_nombre"
										placeholder="Descripci&oacute;n n&uacute;cleo urbano">
								</div>
							</div>
							<div class="g4"></div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Tipo V&iacute;a</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.tipoVia_selected"
										ng-options="item as item.valor_parametro for item in lstTipoVia track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="text" ng-model="persona.tipoVia_nombre"
										placeholder="Descripci&oacute;n tipo v&iacute;a">
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<input id="" type="text" ng-model="persona.tipoVia_numero"
										placeholder="N&uacute;mero">
								</div>
							</div>
							<div class="g3"></div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Tipo Interno</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<select style="width: 180px;"
										ng-model="persona.tipoInterno_selected"
										ng-options="item as item.valor_parametro for item in lstTipoInterno track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>

								</div>
							</div>
							<div class="g4">
								<div class="item" style="margin-bottom: 3px;">
									<input id="" type="text" ng-model="persona.tipoInterno_nombre"
										placeholder="Descripci&oacute;n tipo interno">
								</div>
							</div>
							<div class="g4"></div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Referencia</label>
								</div>
							</div>
							<div class="g6">
								<div class="item" style="margin-bottom: 3px;">
									<textarea ng-model="persona.referenciaDir"></textarea>

								</div>
							</div>
							<div class="g4"></div>
						</div>
					</div>
				</fieldset>

				<h3 class="accordion" ng-class="{active:accordion==4}">
					<a href ng-click="accordion = 4">Datos de Contacto</a>
				</h3>

				<div class="accordion-content" ng-show="accordion==4">
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Tel&eacute;fono Celular</label>
								</div>
							</div>
							<div class="g1">
								<div class="item" style="margin-bottom: 3px;">
									<input id="telCelular" type="text"
										ng-model="persona.telCelular">
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<label>Tel&eacute;fono Casa</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<input id="" type="text" ng-model="persona.telCasa">
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>Email</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="text" ng-model="persona.email" name="email">
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select ng-model="persona.dominio_selected"
										ng-options="item as item.valor_parametro for item in lstDominio track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Persona de Referencia</label>
								</div>
							</div>
							<div class="g4">
								<div class="item" style="margin-bottom: 3px;">
									<input id="" type="text" ng-model="persona.personaRef">
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>Tel&eacute;fono Celular Ref.</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px;">
									<input id="" type="text" ng-model="persona.telefonoRef">
								</div>
							</div>
							<div class="g2"></div>
						</div>
					</div>

				</div>
				<h3 class="accordion" ng-class="{active:accordion==5}">
					<a href ng-click="accordion = 5">Cuenta Bancaria</a>
				</h3>
				<div class="row" ng-show="accordion==5">
					<div class="coll ls-horizontal right">
						<button type="button" class="btn btn-primary btn-sm"
							ng-show="fdisDirDom" style="font-family: Roboto, sans-serif;"
							id="btnCrearNuevo" ng-click="limpiarCuentaBanco()"
							title="Actualizar Cuenta Bancaria" value="">
							<span class="icn icn-plus-sign"></span>
						</button>
					</div>
				</div>

				<fieldset class="accordion-content" ng-show="accordion==5">
					<div class="row">
						<div class="g12">
							<div class="g1">
								<div class="item">
									<label>Banco</label>
								</div>
							</div>
							<div class="g3">
								<div class="item" style="margin-bottom: 3px;">
									<select ng-model="persona.banco_selected"
										ng-options="item as item.valor_parametro for item in lstBanco track by item.codigo_parametro">
										<option value="">-Seleccionar-</option>
									</select>
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<label>N&uacute;mero Cuenta</label>
								</div>
							</div>
							<div class="g3">
								<div class="item" style="margin-bottom: 3px;">
									<input id="" type="text" ng-model="persona.numCuenta">
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<label>N&uacute;mero CCI</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="text" ng-model="persona.numCCI">
								</div>
							</div>

						</div>
					</div>
				</fieldset>


			</div>
		</div>
	</div>
