<script language="Javascript">

$('#fechaExp').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});

$('#fechaCad').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});
</script>

<div class="container container-full">
	<div ng-repeat="alert in alerts">
		<notification ng-model="alert" />
	</div>

	<div id="idContentPosArma">

		<div class="row" style="margin-bottom: 20px">
			<div class="item">
				<label id="lblDatosPersona" style="font-weight: bold;">{{paramFilter.datos_persona}}</label>
			</div>

			<div class="item ls-horizontal right">
				<button type="button" class="btn btn-primary btn-sm"
					ng-click="nuevoArmamento()" title="" value="">
					<span class="icn icn-plus-sign"></span> Agregar
				</button>
			</div>
			<div class="clear"></div>
			<br>
			<div class="row">
				<table ng-table="tblArmamento" show-filter="false"
					class="table square" wt-responsive-table>
					<tbody>
						<tr ng-repeat="item in $data">
							<td title="'Id'" style="text-align: center;">{{item.armamento_id}}</td>
							<td title="'Licencia'" style="text-align: center;">{{item.nroLicencia}}</td>
							<td title="'Fecha expedici&oacute;n'" style="text-align: center;">{{item.fechaExp}}</td>
							<td title="'Fecha caducidad'" style="text-align: center;">{{item.fechaCad}}</td>
							<td title="'Tipo armamento'" style="text-align: center;">{{item.tipoArmto.valor_parametro}}</td>
							<td title="'Marca'" style="text-align: center;">{{item.marcaArmto.valor_parametro}}</td>
							<td title="'Condici&oacute;n'" style="text-align: center;">{{item.condArmto.valor_parametro}}</td>
							<td title="'Calibre'" style="text-align: center;">{{item.calibre}}</td>
							<td title="'Nro. Serie'" style="text-align: center;">{{item.nroSerie}}</td>
							<td title="'Modelo'" style="text-align: center;">{{item.modelo}}</td>							
							<td title="'Editar'"><a ng-click="editarArmamento(item)"
								ng-show="{{item.flag24hrs}}"><span class="icn icn-edit"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="modalArmamento" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document" style="width: 75%">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Nro. Licencia</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<input id="" type="text" ng-model="armamento.nroLicencia">
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Fecha de Expedici&oacute;n</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" id="idDTP" style="margin-bottom: 3px">
								<input id="fechaExp" name="fechaExp" type="text"
									placeholder="dd/MM/yyyy" ng-model="armamento.fechaExp">
								<i id="idIcono" class="icn icn-calendar"></i>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Fecha de Caducidad</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" id="idDTP" style="margin-bottom: 3px">
								<input id="fechaCad" name="fechaCaducidad" type="text"
									placeholder="dd/MM/yyyy" ng-model="armamento.fechaCad">
								<i id="idIcono" class="icn icn-calendar"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Tipo de Armamento</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="armamento.tipoArmto_selected"
									ng-options="item as item.valor_parametro for item in lstTipoArmto track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Marca</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="armamento.marcaArmto_selected"
									ng-options="item as item.valor_parametro for item in lstMarcaArmto track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Condici&oacute;n</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="armamento.condArmto_selected"
									ng-options="item as item.valor_parametro for item in lstCondicion track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Nro. Serie</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<input id="" type="text" ng-model="armamento.nroSerie">
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Modelo</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<input id="" type="text" ng-model="armamento.modelo">
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Calibre</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<input id="" type="text" ng-model="armamento.calibre">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Observaci&oacute;n</label>
							</div>
						</div>
						<div class="g7">
							<div class="item" style="margin-bottom: 3px">
								<textarea ng-model="armamento.observacion" style="width: 60%"></textarea>
							</div>
						</div>
						<div class="g3">
							<div class="item">
								<input type="checkbox" ng-model="armamento.vigencia" /> <label>Vigente</label>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
						title="Grabar" ng-click="grabarArmamento()">Grabar</button>
					<button type="button" class="btn btn-primary btn-sm"
						data-dismiss="modal">Cancelar</button>
				</div>

			</div>
		</div>
	</div>
</div>