<script language="Javascript">

$('#fechaInicioSeg').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});
$('#fechaInicioCarta').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});
$('#fechaFinCarta').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});

$('#btnExaminar').on('change', function() {
	nombreArchivo = $("#dataFile").val().split('\\').pop();
	$('#fileinput').text(nombreArchivo);
});

function fileUploadSeguro(form) {
	
	//TODO :Valida campos obligatorios en  Formulario //	
	
 
    var action_url= angular.element(document.getElementById("idContentSeguro")).scope().urlRest + '/UploadFileServlet';
    console.log(action_url);   
  
    var iframe = document.createElement("iframe");
    iframe.setAttribute("id", "upload_iframe");
    iframe.setAttribute("name", "upload_iframe");
    iframe.setAttribute("width", "0");
    iframe.setAttribute("height", "0");
    iframe.setAttribute("border", "0");
    iframe.setAttribute("style", "width: 0; height: 0; border: none;");
 
    // Add to document...
    form.parentNode.appendChild(iframe);
    window.frames['upload_iframe'].name = "upload_iframe";
 
    iframeId = document.getElementById("upload_iframe");
 
    // Add event...
    var eventHandler = function () {
 
            if (iframeId.detachEvent) iframeId.detachEvent("onload", eventHandler);
            else iframeId.removeEventListener("load", eventHandler, false);
 
            // Message from server...
            if (iframeId.contentDocument) {
                content = iframeId.contentDocument.body.innerHTML;
                //console.log("contentDocument 1> :" + content);
            } else if (iframeId.contentWindow) {
                content = iframeId.contentWindow.document.body.innerHTML;
               // console.log("contentWindow 2> :" + content);
            } else if (iframeId.document) {
                content = iframeId.document.body.innerHTML;
                //console.log("document 3> :" + content);
            }            
           
            setTimeout('iframeId.parentNode.removeChild(iframeId)', 250)
            
            
            angular.element(document.getElementById("idContentSeguro")).scope().grabarCarta(content)
             
                 
            //limpiando nombre de archivo
            nombreArchivo = "";
            $("#dataFile").val("");
            $('#fileinput').text("");    

            $("#dataFileAsc").val("");
            $('#fileinput-Asc').text("");      
                 
    }
 
    if (iframeId.addEventListener){
        iframeId.addEventListener("load", eventHandler, true);
    }
    if (iframeId.attachEvent){
        iframeId.attachEvent("onload", eventHandler);
    }
 
    // Set properties of form...
    form.setAttribute("target", "upload_iframe");
    form.setAttribute("action", action_url);
    form.setAttribute("method", "post");
    form.setAttribute("enctype", "multipart/form-data");
    form.setAttribute("accept-charset", "UTF-8");
    
    form.submit();
}



</script>

<div class="container container-full">
	<div ng-repeat="alert in alerts">
		<notification ng-model="alert" />
	</div>

	<div id="idContentSeguro">

		<div class="row" style="margin-bottom: 20px">
			<div class="item">
				<label id="lblDatosPersona" style="font-weight: bold;">{{paramFilter.datos_persona}}</label>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g11">
						<div class="item">
							<h4 style="color: #10B0E0; text-decoration: underline;"
								class="coll">Detalle de Seguros</h4>
						</div>
					</div>
					<div class="g1">
						<div class="item">
							<button type="button" class="btn btn-primary btn-sm"
								ng-click="nuevoSeguro();">
								<span class="icn icn-plus-sign"></span>Agregar
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<table ng-table="tblDetalleSeguro" show-filter="false"
					class="table square" wt-responsive-table>
					<tbody>
						<tr ng-repeat="item in $data">
							<td title="'Id'" style="text-align: center;">{{item.poliza_id}}</td>
							<td title="'Seguro'" style="text-align: center;">{{item.emisor.nombre}}</td>
							<td title="'Tipo P&oacute;liza'" style="text-align: center;">{{item.tipoPoliza.valor_parametro}}</td>
							<td title="'Fecha de Inicio'" style="text-align: center;">{{item.fechaIni}}</td>
							<td title="'Cobertura'" style="text-align: left;"><a
								ng-click="verCobertura(item.cobertura)"><span
									class="icn icn-info-sign"></span>Cobertura</a></td>
							<td title="'Editar'"><a ng-click="editarSeguro(item)"
								ng-show="{{item.flag24Hrs}}"><span class="icn icn-edit"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g11">
						<div class="item">
							<h4 style="color: #10B0E0; text-decoration: underline;"
								class="coll">Carta Declaratoria</h4>
						</div>
					</div>
					<div class="g1">
						<div class="item">
							<button type="button" class="btn btn-primary btn-sm"
								ng-click="nuevaCarta();">
								<span class="icn icn-plus-sign"></span>Nuevo
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<table ng-table="tblDetalleCarta" show-filter="false"
					class="table square" wt-responsive-table>
					<tbody>
						<tr>
							<td title="'Id'" style="text-align: center;">{{carta.carta_id}}</td>
							<td title="'Fecha de Inicio'" style="text-align: center;">{{carta.fechaIni}}</td>
							<td title="'Fecha Fin'" style="text-align: center;">{{carta.fechaFin}}</td>
							<td title="'Carta Declaratoria'" style="text-align: left;"><a><span
									ng-click="descargarArchivo(carta.fileNameRef)"
									class="icn icn-download"></span>{{carta.fileName}}</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>

<div id="modalSeguro" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Seguro</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="seguro.emisor_selected"
									ng-options="item as item.nombre for item in lstEmisor track by item.emisor_id">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Tipo de P&oacute;liza</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="seguro.tipoPoliza_selected"
									ng-options="item as item.valor_parametro for item in lstTipoPoliza track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Cobertura</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" style="margin-bottom: 3px">
								<textarea ng-model="seguro.cobertura"></textarea>

							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Fecha de Inicio:</label>
							</div>
						</div>
						<div class="g6">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaInicioSeg" type="text" placeholder="dd/MM/yyyy"
									ng-model="seguro.fechaIni"> <i id="idIcono"
									class="icn icn-calendar"></i>
							</div>
						</div>
						<div class="g3">
							<div class="item">
								<input type="checkbox" ng-model="seguro.vigencia" /> <label>Vigente</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
						title="Grabar" ng-click="grabarSeguro()">Grabar</button>
					<button type="button" class="btn btn-primary btn-sm"
						data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modalCarta" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Fecha Inicio</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaInicioCarta" type="text"
									placeholder="dd/MM/yyyy" ng-model="carta.fechaIni"> <i
									id="idIcono" class="icn icn-calendar"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Fecha Fin</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaFinCarta" type="text" placeholder="dd/MM/yyyy"
									ng-model="carta.fechaFin"> <i id="idIcono"
									class="icn icn-calendar"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Carta Declaratoria</label>
							</div>
						</div>
						<div class="g9">
							<div class="input-group">
								<span class="form-control" id="fileinput"></span> <span
									class="input-group-addon btn btn-default btn-file"
									id="btnExaminar"> <span class="icn icn-folder-open"
									title="Examinar"></span> <input type="file" name="dataFile"
									id="dataFile" class="upload" />
								</span>
							</div>
							<div style="margin-top: 3px;">
								<a ng-model="fileDonwload" href=""
									ng-click="descargarArchivo(accion.fileNameRef)" ng-if="true"
									title="Descargar archivo"><span
									class="icn icn-download-alt"></span>{{accion.fileName}}</a>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
						title="Grabar"
						onclick="fileUploadSeguro(this.form); return false;">Grabar</button>
					<button type="button" class="btn btn-primary btn-sm"
						data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modalCobertura" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Cobertura</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" style="margin-bottom: 3px">
								<textarea disabled>{{cobertura}}</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>