<header>
	<div class="container container-full">
		<div ng-include="'src/views/parts/menu.html'"></div>
	</div>
</header>

<form name="myForm" class="container container-full">
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Administraci&oacute;n y Finanzas</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="container-panel">
		<div class="panel-group">
			<div class="panel-header">
				<h4>Aspectos Institucionales</h4>
			</div>

			<div class="panel-body">
				<fieldset>
					<legend>Arbitrios y sus pagos</legend>

					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Recaudaci&oacute;n de arbitrios por limpieza
										p&uacute;blica</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.recaudacion_arbitrios"> <label
										class="unidad">soles/a&ntilde;o</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Cantidad de predios que registran pago de
										arbitrios</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.cant_predios">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cu&aacute;l es el costo total del
										servicio de limpieza p&uacute;blica?</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.cant_predios">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Predios afectos al pago de arbitrios</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.predios_afectos">
								</div>
							</div>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>Oficinas relacionadas</legend>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cuenta con oficina de gesti&oacute;n
										ambiental o similar?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_ambiental">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_ambiental">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Nombre de la oficina o similar</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="text" style="width: 300px;"
										ng-model="finanzas.nombre_ambiental">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cuenta con &aacute;rea de limpieza
										p&uacute;blica o similar?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_limpieza">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_limpieza">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cuenta con oficina de rentas?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_rentas">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_rentas">No
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Plan operativo institucional (POI)</legend>

					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cuenta con Plan Operativo Institucional
										(POI)?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_poi">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_poi">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest; Cu&aacute;nto carga al POI?</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.carga_poi">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;El Plan Operativo Institucional (POI)
										est&aacute; articulado al Programa Presupuestal (PP 0036)?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1" ng-model="finanzas.flag_pp">Si

								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0" ng-model="finanzas.flag_pp">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>C&oacute;digo PP 0036</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="text" style="width: 150px;"
										ng-model="finanzas.codigo_pp">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Monto programado dentro de los productos del
										PP0036</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.monto_programado">
								</div>
							</div>
						</div>
					</div>
					<!-- 					<div class="row"> -->
					<!-- 						<div class="g12"> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item right"> -->
					<!-- 									<label>C&oacute;digo</label> -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item"> -->
					<!-- 									<input id="" type="text" style="width: 100px;" -->
					<!-- 										ng-model="finanzas.codigo_programado"> -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Monto ejecutado dentro de los productos del
										PP0036</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.monto_ejecutado">
								</div>
							</div>
						</div>
					</div>
					<!-- 					<div class="row"> -->
					<!-- 						<div class="g12"> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item right"> -->
					<!-- 									<label>C&oacute;digo</label> -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item"> -->
					<!-- 									<input id="" type="text" style="width: 100px;" -->
					<!-- 										ng-model="finanzas.codigo_ejecutado"> -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
				</fieldset>
				<fieldset>
					<legend>Programaci&oacute;n Multianual de Inversiones
						(PMI) </legend>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Ha priorizado al servicio de limpieza
										p&uacute;blica en la programaci&oacute;n multianual de
										inversiones (PMI)?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_pmi">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_pmi">No
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>C&oacute;digo PMI</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="text" style="width: 150px;"
										ng-model="finanzas.codigo_pmi">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Monto programado en inversiones para la
										gesti&oacute;n integral de residuos s&oacute;lidos</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.programado_inv"><label
										class="unidad">Soles/a&ntilde;o</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Monto ejecutado en inversiones para la
										gesti&oacute;n integral de residuos s&oacute;lidos</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="number" style="width: 150px;"
										ng-model="finanzas.ejecutado_inv"><label
										class="unidad">Soles/a&ntilde;o</label>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Proyecto de inversi&oacute;n (p&uacute;blica) en
						limpieza p&uacute;blica </legend>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cuenta con Proyecto de inversi&oacute;
										en limpieza p&uacute;blica?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_proyecto">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_proyecto">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label
										title="Incluye todos los procesos de la gesti&oacute;n integral de residuos s&oacute;lidos">&iquest;Es
										un proyecto integral?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_proyecto">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_proyecto">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>C&oacute;digo proyecto de inversi&oacute;n</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="text" style="width: 150px;"
										ng-model="finanzas.codigo_proyecto">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Estado</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="text" style="width: 200px;" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Situaci&oacute;n</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="text" style="width: 200px;" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Monto de inversi&oacute;n</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="text" style="width: 200px;" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Autor</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<input id="" type="text" style="width: 300px;" disabled>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Fuente de Financiamiento</label>
								</div>
							</div>
							<div class="g6">
								<div class="item">
									<select style="width: 200px"
										ng-model="finanzas.fuente_financiamiento">
										<option value="">Seleccionar</option>
										<option value="1">Recursos ordinarios</option>
										<option value="2">Endeudamiento</option>
										<option value="3">Tesoro p&uacute;blico (sin
											FONOPREL)</option>
										<option value="4">Tesoro p&uacute;blico (FONOPREL)</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Otros que no son proyectos de inversi&oacute;n </legend>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Para la gesti&oacute;n de residuos
										s&oacute;lidos, &iquest;cuenta con inversiones que no son
										proyectos de inversi&oacute;n?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.inv_no_proyectos">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.inv_no_proyectos">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<label style="font-weight: bold;">Informaci&oacute;n de
								la inversi&oacute;n qu&eacute; es un proyecto:</label>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<table id="tblInversion" ng-table="tblInversion"
								style="width: 80%" show-filter="false" class="table square">
								<thead>
									<tr>
										<th>Tipo de inversi&oacute;n</th>
										<th>Proceso</th>
										<th>Monto de inversi&oacute;n total (soles)</th>
										<th>Fuente de financiamiento</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in lstInversion">
										<td><span
											ng-hide="lstInversion[$index-1].tipo_inversion.tipo_inversion == item.tipo_inversion.tipo_inversion">{{item.tipo_inversion.tipo_inversion}}</span></td>
										<td><span ng-hide="item.tipo_inversion.proceso == null">{{item.tipo_inversion.proceso}}</span></td>
										<td class="tabla-celda"><input id="" type="number"
											ng-model="item.monto_inv" style="width: 150px;"></td>
										<td class="tabla-celda"><select id=""
											style="width: 180px;" ng-model="item.fuente_financ">
												<option value="1">Recursos ordinarios</option>
												<option value="2">Endeudamiento</option>
												<option value="3">Tesoro p&uacute;blico (sin
													FONOPREL)</option>
												<option value="4">Tesoro p&uacute;blico (FONOPREL)</option>
										</select></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cuenta con plan de manejo de residuos
										s&oacute;lidos?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_manejo">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_manejo">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Aduntar documento</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input type="file" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cuenta con Plan Provincial de la
										Gesti&oacute;n de Residuos S&oacute;lidos Municipales (PIGARS)
										aprobado?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_pigars">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_pigars">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Aduntar documento</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input type="file" disabled>
								</div>
							</div>
						</div>
					</div>
					<!-- 					<div class="row"> -->
					<!-- 						<div class="g12"> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item right"> -->
					<!-- 									<label>&iquest;Cuenta con instrumento de gesti&oacute;n -->
					<!-- 										ambiental de relleno sanitario?</label> -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item"> -->
					<!-- 									<input id="" type="radio" value="1" -->
					<!-- 										ng-model="finanzas.flag_instrumento">Si <input id="" -->
					<!-- 										type="radio" value="0" ng-model="finanzas.flag_instrumento">No -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<!-- 					<div class="row"> -->
					<!-- 						<div class="g12"> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item right"> -->
					<!-- 									<label>&iquest;Cuenta con licencia de funcionamiento -->
					<!-- 										del relleno sanitario?</label> -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item"> -->
					<!-- 									<input id="" type="radio" value="1" -->
					<!-- 										ng-model="finanzas.flag_licencia">Si <input id="" -->
					<!-- 										type="radio" value="0" ng-model="finanzas.flag_licencia">No -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<!-- 					<div class="row"> -->
					<!-- 						<div class="g12"> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item right"> -->
					<!-- 									<label>&iquest;Cuenta con aprobaci&oacute;n de -->
					<!-- 										expediente t&eacute;cnico de relleno sanitario?</label> -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 							<div class="g6"> -->
					<!-- 								<div class="item"> -->
					<!-- 									<input id="" type="radio" value="1" -->
					<!-- 										ng-model="finanzas.flag_exp_tecnico">Si <input id="" -->
					<!-- 										type="radio" value="0" ng-model="finanzas.flag_exp_tecnico">No -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>&iquest;Cuenta con ordenanza que regula el
										manejo de los residuos s&oacute;lidos?</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_ordenanza">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_ordenanza">No
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Aduntar documento</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input type="file" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g10">
								<div class="item">
									<label>&iquest;Cuenta con ordenanza de r&eacute;gimen
										tributario de arbitrios de limpieza p&uacute;blica ratificada
										por la municipalidad provincial?</label>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label></label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="finanzas.flag_tributario">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="finanzas.flag_tributario">No
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item right">
									<label>Aduntar documento</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input type="file" disabled>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>


		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">Volver</button>
					<button type="button" class="btnTab btn-primary btn-sm" id=""
						title="" ng-click="guardar()">Guardar</button>

				</div>
			</div>
		</div>

	</div>

</form>
