<div ng-include="'src/views/parts/menu.html'"></div>

<form name="myFormAlmacenamiento" class="container container-full">
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Almacenamiento</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>



	<div class="container-panel panel-body">
		<fieldset>
			
			<div class="row" style="margin-top: 10px;">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Costo anual</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<input id="" type="number" min="0" style="width: 150px;"
								title="Costo anual del almacenamiento p&uacute;blico (operaci&oacute;n y mantenimiento)"
								ng-model="almacenamiento.costo_anual"> <label
								class="unidad"> Soles/a&ntilde;o</label>
						</div>
					</div>

				</div>
			</div>

			<h5 class="coll">Papeleras</h5>

			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label style="color: red;">(*)</label> <label class="etiqueta">Capacidad
								promedio</label>
						</div>
					</div>
					<div class="g4">
						<div class="item">
							<input id="" type="number" style="width: 150px" min="50"
								max="299"
								title="En caso tener papeleras con diferentes capacidades, colocar la capacidad promedio de las mismas (se puede incluir cilindros).  M&iacute;nimo: 50 / M&aacute;ximo: 299 "
								ng-model="almacenamiento.capacidad_papeleras" required>
							<label class="unidad"> L</label>
						</div>
					</div>



				</div>
			</div>


			<h5 class="coll">Material de la papelera</h5>

			<div class="row">
				<div class="g12">

					<div class="g2">
						<div class="item">
							<input type="checkbox" ng-model="almacenamiento.metal"> <label>Metal</label>
						</div>
					</div>
					<div class="g2">
						<div class="item">
							<input type="checkbox" ng-model="almacenamiento.fibra_vidrio">
							<label>Fibra de vidrio</label>
						</div>
					</div>
					<div class="g2">
						<div class="item">
							<input type="checkbox" ng-model="almacenamiento.plastico">
							<label>Pl&aacute;stico</label>
						</div>
					</div>
					<div class="g1">
						<div class="item">
							<input type="checkbox" ng-model="almacenamiento.mixto"> <label>Otros</label>
						</div>
					</div>
					<div class="g4">
						<div class="item" ng-show="almacenamiento.mixto">
							<input id="" type="text" placeholder="Especificar"
								ng-model="almacenamiento.descripcion_mixto">
						</div>
					</div>

				</div>
			</div>
			<br> <br>
			<div class="row">
				<div class="g12">
					<div class="g4">
						<div class="item">
							<label><span style="font-weight: bold;">Cantidad
									de papeleras, seg&uacute;n su estado:</span></label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g12">

					<table id="tblPapeleras" ng-table="tblPapeleras"
						show-filter="false" class="table square">
						<thead>
							<tr>
								<th rowspan="2">Estado</th>
								<th colspan="4">Cantidad por ubicaci&oacute;n de papeleras</th>
							</tr>
							<tr>
								<th>Mercados</th>
								<th>Parques y plazuelas</th>
								<th>V&iacute;as principales</th>
								<th>Otros</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in lstPapeleras">
								<td>{{item.estado.nombre_estado}}</td>
								<td><input id="" type="number" ng-model="item.mercados" min="0"></td>
								<td><input id="" type="number" ng-model="item.parques" min="0"></td>
								<td><input id="" type="number" ng-model="item.vias" min="0"></td>
								<td><input id="" type="number" ng-model="item.otros" min="0"></td>

							</tr>
						</tbody>
					</table>

				</div>
			</div>



			<label style="font-weight: bold;"
				title="Recipientes para el almacenamiento de residuos s&oacute;lidos, a partir de 300 L">Contenerizaci&oacute;n
				(a partir de 300 L)</label>

			<div class="row">
				<table id="tblContenedor" ng-table="tblContenedor"
					show-filter="false" class="table square">
					<thead>
						<tr>
							<th class="etiqueta" rowspan="2">Contenedores instalados</th>
							<th class="etiqueta" rowspan="2" style="width: 15%;">Estado</th>
							<th class="etiqueta" rowspan="2"
								title="En caso tener contenedores con diferentes capacidades, colocar la capacidad promedio de los mismos">Capacidad
								promedio del contenedor (L)</th>
							<th class="etiqueta" rowspan="2"
								title="Cantidad estimada de residuos s&oacute;lidos urbanos almacenados por semana">Almacenamiento
								semanal promedio (m<sup>3</sup>/semana)
							</th>
							<th class="etiqueta" colspan="4">Cantidad de contenedores
								por su ubicaci&oacute;n</th>
						</tr>
						<tr>
							<th class="etiqueta">Mercados</th>
							<th class="etiqueta">Parques y plazuelas</th>
							<th class="etiqueta">V&iacute;as principales</th>
							<th class="etiqueta">Otros</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in lstContenedor">
							<td><span
								ng-hide="lstContenedor[$index-1].tipo_contenedor.tipo_contenedor== item.tipo_contenedor.tipo_contenedor">{{item.tipo_contenedor.tipo_contenedor}}</span></td>
							<td>{{item.tipo_contenedor.estado_contenedor}}</td>
							<td><input id="" type="number" ng-model="item.capacidad"
								title="M&iacute;nimo: 300 / M&aacute;ximo:1200" min="300"
								max="1200"></td>
							<td><input id="" type="number" ng-model="item.cantidad"
								ng-show="item.capacidad >= 300" title="M&iacute;nimo: 0.3"
								min="0.3"></td>
							<td><input id="" type="number" ng-model="item.mercados"
								title="M&iacute;nimo: 300 / M&aacute;ximo:1200" min="300"
								max="1200"></td>
							<td><input id="" type="number" ng-model="item.parques"
								title="M&iacute;nimo: 300 / M&aacute;ximo:1200" min="300"
								max="1200"></td>
							<td><input id="" type="number" ng-model="item.vias"
								title="M&iacute;nimo: 300 / M&aacute;ximo:1200" min="300"
								max="1200"></td>
							<td><input id="" type="number" ng-model="item.otros"
								title="M&iacute;nimo: 300 / M&aacute;ximo:1200" min="300"
								max="1200"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g10">
						<div class="item right">
							<label style="font-weight: bold;">Total recolectado en el
								almacenamiento: </label>
						</div>
					</div>
					<div class="g2">
						<div class="item">
							<label>{{ getTotalAlmacenamiento() }}</label><label class="unidad">m<sup>3</sup>/a&ntilde;o</label>
						</div>
					</div>
				</div>
			</div>

		</fieldset>


		<div>
			<label class="etiqueta" style="color: red">(*) Campos
				requeridos</label>
		</div>
		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">Volver</button>
					<button type="button" class="btnTab btn-primary btn-sm" id=""
						title="" ng-click="guardar()">Guardar</button>
					

				</div>
			</div>
		</div>

	</div>
</form>