
<div ng-include="'src/views/parts/menu.html'"></div>

<form class="container container-full">
	<div ng-repeat="alert in alerts">
		<notification ng-model="alert" />
	</div>
	<div class="row">
		<div class="widget header">
			<div class="g4">
				<h3 class="coll">Aprobaci&oacute;n de Usuario</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="panel-body">
		<div class="row">
			<table id="tblAprobacion" ng-table="tblAprobacion"
				show-filter="false" class="table square">
				<tbody>
					<tr ng-repeat="item in $data">
						<td data-title="'Id'" style="text-align: center;">{{item.solicitud_id}}</td>
						<td data-title="'Departamento'" style="text-align: center;">{{item.codigo_ubigeo_departamento}}</td>
						<td data-title="'Provincia'" style="text-align: center;">{{item.codigo_ubigeo_provincia}}</td>
						<td data-title="'Distrito'" style="text-align: center;">{{item.codigo_ubigeo_distrito}}</td>
						<td data-title="'RUC'" style="text-align: left;">{{item.ruc_municipalidad}}</td>
						<td data-title="'Aprobaci&oacute;n'" style="text-align: center;">
							<a ng-click="aprobar(item.solicitud_id)" class="icn icn-ok"
							title="Aprobar solicitud"></a> 
							<a	ng-click="rechazar(item.solicitud_id)" class="icn icn-remove"
							title="Rechazar solicitud"></a>
						</td>
						<td data-title="'Ver Detalle'"><a ng-click="verSolicitud(item)"><span
								class="icn icn-edit"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</form>
