<header>
	<div class="container container-full">
		<div ng-include="'src/views/parts/menu.html'"></div>
	</div>
</header>

<form>

		<div class="row">
			<div class="widget header">
				<div class="g4">
					<h3 class="coll">Bandeja de Usuario</h3>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div class="layout">
			<div class="row">
				<div class="panel-group">
					<div class="panel-header">
						<h4>Cabecera</h4>
					</div>

					<div class="panel-body">
						<div class="container container-full">
							<div class="row">
								<div class="right">
									<select style="width:150px;">
										<option>Criterio</option>
										<option>RUC</option>
										<option>Departamento</option>
										<option>Provincia</option>
										<option>Distrito</option>
									</select>
									<input id="" type="text" style="width:300px;" placeholder="Argumento">
									<input id="" type="button" value="Buscar" style="width:100px;">			
								</div>
							</div>
							<br><br>
							<table style="margin-top:100px;">
								<thead>
									<tr>
										<th>Id</th>
										<th>Departamento</th>
										<th>Provincia</th>
										<th>Distrito</th>
										<th>RUC</th>
										<th>Ver</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Lima</td>
										<td>Lima</td>
										<td>Surquillo</td>
										<td>10451237412</td>
										<td></td>
									</tr>
									<tr>
										<td>2</td>
										<td>Piura</td>
										<td>Piura</td>
										<td>Piura</td>
										<td>23451236159</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

</form>
