<div ng-include="'src/views/parts/menu.html'"></div>

<form name="myFormBarrido" class="container container-full">
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Barrido</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<!-- 	<div class="layout"> -->
	<!-- 		<div class="row"> -->
	<div class="container-panel panel-body">

		<fieldset>
			<legend>Demanda y Oferta </legend>
			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item right">
							<label style="color: red;">(*)</label> <label class="etiqueta">Administraci&oacute;n
								del Servicio</label>
						</div>
					</div>
					<div class="g3">
						<div class="item" style="margin-bottom: 3px">
							<select ng-model="barrido.adm_serv_id" required>
								<option value="">Seleccionar</option>
								<option value="1">Directo</option>
								<option value="2">Tercerizado</option>
								<option value="3">Mixto</option>
							</select>
						</div>
					</div>
					<div class="g2">
						<div class="item right">
							<label style="color: red;">(*)</label> <label>Costo Anual</label>
						</div>
					</div>
					<div class="g3">
						<div class="item" style="margin-bottom: 3px">
							<input id="" type="number" style="width: 150px;" min="0"
								title="Costo anual del barrido y limpieza de espacios p&uacute;blicos (operaci&oacute;n y mantenimiento)"
								ng-model="barrido.costo_anual" required> <label
								class="unidad"> Soles/a&ntilde;o</label>

						</div>
					</div>
				</div>
			</div>


			<h5>Demanda del barrido y limpieza de espacios p&uacute;blicos</h5>

			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item right">
							<label style="color: red;">(*)</label> <label>V&iacute;a pavimentada</label>
						</div>
					</div>
					<div class="g9">
						<div class="item" style="width: 350px;">
							<input id="" type="number" style="width: 180px" min="0"
								title="Incluye aceras, cunetas de aceras y bermas"
								ng-model="barrido.via_asfaltada" required> <label
								class="unidad"> m</label>

						</div>
					</div>
				</div>
			</div>
			<br> <br>
			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item right">
							<label style="color: red;">(*)</label> <label class="etiqueta">V&iacute;a no pavimentada</label>
						</div>
					</div>
					<div class="g9">
						<div class="item" style="width: 350px;">
							<input id="" type="number" style="width: 180px" min="0"
								ng-model="barrido.via_no_asfaltada" required> <label
								class="unidad"> m</label>
						</div>
					</div>
				</div>
			</div>
			<br> <br>
			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item right">
							<label style="color: red;">(*)</label> <label class="etiqueta">Plazas y parques</label>
						</div>
					</div>
					<div class="g9">
						<div class="item" style="width: 350px;">
							<input id="" type="number" style="width: 180px" min="0"
								ng-model="barrido.plazas" required> <label
								class="unidad"> m</label>
						</div>
					</div>
				</div>
			</div>
			<br> <br>
			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item right">
							<label style="color: red;">(*)</label> <label class="etiqueta">Playas y riberas</label>
						</div>
					</div>
					<div class="g9">
						<div class="item" style="width: 350px;">
							<input id="" type="number" style="width: 180px" min="0"
								ng-model="barrido.playas" required> <label
								class="unidad"> m</label>
						</div>
					</div>
				</div>
			</div>
			<br> <br>
			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item right">
							<label style="color: red;">(*)</label> <label class="etiqueta">Demanda de barrido en v&iacute;as
								de alto tr&aacute;nsito</label>
						</div>
					</div>
					<div class="g9">
						<div class="item" style="width: 350px;">
							<input id="" type="number" style="width: 180px" min="0"
								ng-model="barrido.demanda_barrido" required> <label
								class="unidad"> m</label><br>
						</div>
					</div>
				</div>
			</div>
			<br> <br>
			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item right">
							<label class="etiqueta">Otros</label> <input id="" type="text"
								style="width: 180px;" placeholder="Especificar"
								ng-model="barrido.otros_barridos">
						</div>
					</div>
					<div class="g9">
						<div class="item" style="width: 350px;">
							<input id="" type="number" style="width: 180px" min="0"
								ng-model="barrido.otros_demanda"> <label
								class="unidad"> m</label><br>
						</div>
					</div>
				</div>
			</div>
			<br> <br>

			<h5>Oferta del barrido y limpieza de espacios p&uacute;blicos</h5>


			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item right" style="margin-top: 5px;">
							<label>Frecuencia de barrido: </label>
						</div>
					</div>
					<div class="g2">
						<div class="item align-center">
							<input id="" type="number" ng-model="barrido.fr1"
								style="width: 100px;"> veces
						</div>
					</div>

					<div class="g3">
						<div class="item">
							cada <input id="" type="number" ng-model="barrido.fr2"
								style="width: 100px;"> <label>d&iacute;as</label>
						</div>
					</div>
				</div>
			</div>


			<h5>
				Oferta de barrido y limpieza de calles y espacios p&uacute;blicos,
				por tipo <label> (m)</label>
			</h5>
			<label style="font-size: 10px"><span
				class="icn icn-info-sign"></span> Metro lineal de vias pavimentadas
				y no pavimentadas de calles principales, plazas, parques, zonas
				comerciales, etc.</label>



			<div class="row">
				<table id="tblOferta" ng-table="tblOferta" show-filter="false"
					class="table square">
					<thead>
						<tr>
							<th class="etiqueta">Tipo de barrido y limpieza de calles</th>
							<th class="etiqueta">Pavimentado</th>
							<th class="etiqueta">No pavimentado</th>
							<th class="etiqueta">Plazas y parques</th>
							<th class="etiqueta">Playas y riberas</th>
							<th class="etiqueta">Otros <input type="text"
								ng-model="barrido.descripcion_otros" style="width: 180px"
								placeholder="Especificar"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tabla-celda" style="text-align: left">Mecanizado</td>
							<!--td colspan="2"><input type="text" ng-model="ofertaBarrido.total_vias" style="width: 200px"></td-->
							<td><input id="" type="number"
								ng-model="ofertaBarrido.total_asfaltada"></td>
							<td><input id="" type="number"
								ng-model="ofertaBarrido.total_no_asfaltada"></td>
							<td><input id="" type="number"
								ng-model="ofertaBarrido.total_plazas"></td>
							<td><input id="" type="number"
								ng-model="ofertaBarrido.total_playas"></td>
							<td><input id="" type="number"
								ng-model="ofertaBarrido.total_otros"></td>
						</tr>
						<tr>
							<td class="tabla-celda" colspan="6" style="text-align: left">Manual</td>
						</tr>
						<tr ng-repeat="item in lstOferta">
							<td class="tabla-celda">{{item.tipo_oferta.tipo_barrido}} <!-- 							<br> -->
								<!-- 								<label style="font-size: 11px;"><span --> <!-- 									class="icn icn-info-sign"></span> -->
								<!-- 									{{item.tipo_oferta.informacion}}</label> -->
							</td>
							<td><input id="" type="number"
								ng-model="item.total_asfaltada"></td>
							<td><input id="" type="number"
								ng-model="item.total_no_asfaltada"></td>
							<td><input id="" type="number" ng-model="item.total_plazas"></td>
							<td><input id="" type="number" ng-model="item.total_playas">
							</td>
							<td><input id="" type="number" ng-model="item.total_otros"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>

		<div class="row">
			<div class="g12">

				<table id="tblCapacidad" ng-table="tblCapacidad" show-filter="false" style="width: 60%;"
					class="table square">
					<thead>
						<tr>
							<th>Cantidad de dispositivos de almacenamiento llenos de
								residuos s&oacute;lidos (dispositivos/d&iacute;a)</th>
							<th>Capacidad promedio de dispositivos (L/recipiente)</th>
							<th>Total recolectado en el barrido (L/d&iacute;a)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input id="" type="number" ng-model="barrido.cr_25"></td>
							<td><input id="" type="number" ng-model="barrido.cpr_25"></td>
							<td><span style="float: right;">{{ getTotal25() }}</span></td>
						</tr>
						<tr>
							<td><input id="" type="number" ng-model="barrido.cr_25_65"></td>
							<td><input id="" type="number" ng-model="barrido.cpr_25_65"></td>
							<td><span style="float: right;">{{ getTotal2565() }}</span></td>
						</tr>
						<tr>
							<td><input id="" type="number" ng-model="barrido.cr_65"></td>
							<td><input id="" type="number" ng-model="barrido.cpr_65"></td>
							<td><span style="float: right;">{{ getTotal65() }}</span></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<div class="row">
			<div class="g12">
				<div class="g5">
					<div class="item right">
						<label style="font-weight: bold;">Total recolectado en el
							barrido y limpieza de espacios p&uacute;blicos</label>
					</div>
				</div>
				<div class="g2">
					<div class="item right">
						<label>{{ getTotal() }}</label> <label class="unidad">
							L/d&iacute;a</label>
					</div>
				</div>
			</div>
		</div>
		<br> <br>
		<fieldset>
			<legend> Barredores </legend>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>DNI</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<input id="" type="number" ng-model="trabajadores.dni" min="0"
								ng-maxlength="8">
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Nombres y apellidos</label>
						</div>
					</div>
					<div class="g5">
						<div class="item">
							<input id="" type="text" ng-model="trabajadores.nom_apellido">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Sexo</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<select id="" ng-model="trabajadores.sexo">
								<option value=""></option>
								<option value="Hombre">Hombre</option>
								<option value="Mujer">Mujer</option>
							</select>
						</div>
					</div>
					<div class="g3">
						<div class="item right">
							<label>Rango de edad</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<select id="" ng-model="trabajadores.rango">
								<option value=""></option>
								<option value="MIN25">Hasta 25 a&ntilde;os</option>
								<option value="25E65">25 - 65 a&ntilde;os</option>
								<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Cargo</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<select id="" ng-model="trabajadores.cargo">
								<option value=""></option>
								<option value="Coordinador">Coordinador</option>
								<option value="Barredor">Barredor</option>
							</select>
						</div>
					</div>
					<div class="g3">
						<div class="item right">
							<label>Condici&oacute;n laboral</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<select id="" ng-model="trabajadores.laboral">
								<option value=""></option>
								<option value="Nombrado">Nombrado</option>
								<option value="Contratado">Contratado</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Horario de trabajo</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<select id="" ng-model="trabajadores.horario">
								<option value=""></option>
								<option value="M">Ma&ntilde;ana</option>
								<option value="T">Tarde</option>
								<option value="DC">D&iacute;a completo</option>
							</select>
						</div>
					</div>
					<div class="g3">
						<div class="item right">
							<label>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<input id="" type="number" min="0" max="366"
								ng-model="trabajadores.dias_trabajados">
						</div>
					</div>
					<div class="g1">
						<div class="item">
							<button type="button" class="btn btn-primary1 btn-sm" id=""
								title="" ng-click="agregar()">Agregar</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g10">
					<div class="item right"></div>

				</div>
			</div>

			<div class="row">
				<div class="g12">

					<table id="tblBarredor" ng-table="tblBarredor" show-filter="false"
						class="table square">
						<thead>
							<tr>
								<th>DNI</th>
								<th>Nombres y apellidos</th>
								<th>Sexo</th>
								<th>Rango de edad</th>
								<th>Cargo</th>
								<th>Condici&oacute;n laboral</th>
								<th>Horario de trabajo</th>
								<th>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in lstBarredor">
								<td>{{item.dni}}</td>
								<td>{{item.nom_apellido}}</td>
								<td>{{item.sexo}}</td>
								<td><select id="" ng-model="item.rango" disabled>
										<option value=""></option>
										<option value="MIN25">Hasta 25 a&ntilde;os</option>
										<option value="25E65">25 - 65 a&ntilde;os</option>
										<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
								</select></td>
								<td><select id="" ng-model="item.cargo" disabled>
										<option value=""></option>
										<option value="Coordinador">Coordinador</option>
										<option value="Barredor">Barredor</option>
								</select></td>
								<td><select id="" ng-model="item.laboral" disabled>
										<option value=""></option>
										<option value="Nombrado">Nombrado</option>
										<option value="Contratado">Contratado</option>
								</select></td>
								<td><select id="" ng-model="item.horario" disabled>
										<option value=""></option>
										<option value="M">Ma&ntilde;ana</option>
										<option value="T">Tarde</option>
										<option value="DC">D&iacute;a completo</option>
								</select></td>
								<td style="text-align: right;">{{item.dias_trabajados}}</td>
								<td><span ng-click="borrar($index)" ng-show="flag == '0'"
									class="icn icn-trash"></span></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</fieldset>


		<div>
			<label style="color: red">(*) Campos requeridos</label>
		</div>
		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">Volver</button>
					<button type="button" class="btnTab btn-primary btn-sm" id=""
						title="" ng-click="guardar()" ng-disabled="!myFormBarrido.$valid">Guardar</button>

				</div>
			</div>
		</div>
	</div>

</form>