<div ng-include="'src/views/parts/menu.html'"></div>

<form name="myFormDatosGenerales" class="container container-full">
	<div class="row">
		<div id="cabecera1" class="widget p_header">
			<div class="g4">
				<h3 class="coll">Datos Generales</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="container-panel">
		<div class="panel-group">
			<div class="panel-header">
				<h4>Datos Municipalidad</h4>
			</div>
			<div class="panel-body">
				<h5 class="right">Jes&uacute;s Mar&iacute;a / Lima / Lima</h5>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Nombre del Alcalde</label>
							</div>
						</div>
						<div class="g3">
							<div class="item">
								<input id="" type="text" style="width: 300px"
									ng-model="datos.nombre_alcalde">
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Ubigeo</label>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<input id="" type="number" style="width: 100px" disabled>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Direcci&oacute;n f&iacute;sica</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 300px"
									ng-model="datos.direccion">
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Tel&eacute;fono fijo</label>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<input id="" type="number" style="width: 200px"
									ng-model="datos.telefono">
							</div>
						</div>
						<div class="g1">
							<div class="item right">
								<label>Fax</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 200px"
									ng-model="datos.fax">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Correo electr&oacute;nico</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="email" style="width: 300px"
									title="Correo electr&oacute;nico institucional"
									ng-model="datos.email">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Clasificaci&oacute;n municipal</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 300px" disabled
									title="Clasificaci&oacute;n de acuerdo al MEF"
									ng-model="datos.clasif_municipalidad">
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Tipo de municipalidad</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 300px" disabled
									ng-model="datos.tipo_municipalidad">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="panel-group">
			<div class="panel-header">
				<h4>&Aacute;rea encargada del manejo de residuos s&oacute;lidos</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Nombre del &Aacute;rea</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 300px"
									title="Nombre del &aacute;rea a cargo del servicio de limpieza p&uacute;blica (SLP)"
									ng-model="datos.nombre_slp">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Responsable del &aacute;rea</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 300px"
									ng-model="datos.responsable_slp">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Tel&eacute;fono fijo</label>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<input id="" type="text" style="width: 200px"
									title="Tel&eacute;fono fijo del &aacute;rea"
									ng-model="datos.telefono_slp">
							</div>
						</div>
						<div class="g1">
							<div class="item right">
								<label>Celular</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 200px"
									ng-model="datos.celular_slp">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Correo electr&oacute;nico</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="email" style="width: 300px"
									title="Correo electr&oacute;nico del responsable del &aacute;rea a cargo del manejo de residuos s&oacute;lidos"
									ng-model="datos.email_slp">
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="panel-group">
			<div class="panel-header">
				<h4>Responsable de SIGERSOL</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Nombre y Apellidos</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 300px"
									title="Responsable del Registro de Informaci&oacute;n en SIGERSOL"
									ng-model="datos.nombre_sigersol">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Tel&eacute;fono fijo</label>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<input id="" type="text" style="width: 200px"
									ng-model="datos.telefono_sigersol">
							</div>
						</div>
						<div class="g1">
							<div class="item right">
								<label>Celular</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 200px"
									ng-model="datos.celular_sigersol">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Correo electr&oacute;nico</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="email" style="width: 300px"
									ng-model="datos.email_sigersol">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Direcci&oacute;n f&iacute;sica</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="text" style="width: 300px"
									ng-model="datos.direccion_sigersol">
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="panel-group">
			<div class="panel-header">
				<h4>Datos demogr&aacute;ficos</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Poblaci&oacute;n urbana</label>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<input id="" type="number" style="width: 150px" disabled
									ng-model="datos.poblacion_urbana"> <label
									class="unidad">hab</label>
							</div>
						</div>
						<div class="g2">
							<div class="item right">
								<label>Poblaci&oacute;n rural</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="number" style="width: 150px" disabled
									ng-model="datos.poblacion_rural"> <label class="unidad">hab</label>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item right">
								<label>Total poblaci&oacute;n</label>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<input id="" type="number" style="width: 150px" disabled>
								<label class="unidad">hab</label>
							</div>
						</div>
						<div class="g2">
							<div class="item right">
								<label>Total viviendas</label>
							</div>
						</div>
						<div class="g4">
							<div class="item">
								<input id="" type="number" style="width: 150px" disabled
									ng-model="datos.total_viviendas"> <label class="unidad">viviendas</label>
							</div>
						</div>
					</div>
				</div>


			</div>

		</div>

		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">Volver</button>
					<button type="button" class="btnTab btn-primary btn-sm" id=""
						title="" ng-click="guardar()">Guardar</button>

				</div>
			</div>
		</div>

	</div>
</form>
<!-- <div ng-include="'src/views/parts/footer2.html'"></div> -->
