 <div ng-include="'src/views/parts/menu.html'"></div>

<form name="myForm" class="container container-full" novalidate>
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Disposici&oacute;n Final</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="container-panel panel-body">
		<div ng-init="accordion=0">
			<div class="row">
				<div class="clear"></div>
				<h3 class="accordion" ng-class="{active:accordion==1}"
					title="Relleno Sanitario">
					<a id="cabecera2" href ng-click="accordion = 1">Relleno
						Sanitario </a>
				</h3>

				<div class="accordion-content" ng-show="accordion==1">
					<!-- 					<div class="row"> -->
					<!-- 						<div class="g12"> -->
					<!-- 							<div class="g4"> -->
					<!-- 								<label>Dispone sus residuos s&oacute;lidos municipales -->
					<!-- 									en:</label> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->

					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>Relleno Sanitario</label>

								</div>
							</div>
							<div class="g2">
								<div class="item">
									<!--select style="width: 180px;" ng-model="disposicion.selec_relleno" ng-change="func()">
											<option ng-repeat="item in lstRelleno" value="{{item.sitio_disposicion_id}}">{{item.nombre_sitio}}</option>
										</select-->
									<select style="width: 180px;"
										ng-model="disposicion.selec_relleno" ng-change="func()"
										ng-options="item.sitio_disposicion_id as item.nombre_sitio for item in lstRelleno">
									</select>


								</div>
							</div>
						</div>
					</div>

					<div class="row" ng-show="disposicion.selec_relleno > 0">
						<div class="g12">
							<div class="item">
								<label>&iquest;Administra el relleno sanitario donde
									dispone sus residuos s&oacute;lidos? </label>
							</div>
						</div>
					</div>

					<div class="row" ng-show="disposicion.selec_relleno > 0">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Si</label> <input id="" type="radio" value="1"
										ng-model="disposicion.relleno">
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>No</label> <input id="" type="radio" value="0"
										ng-model="disposicion.relleno">
								</div>
							</div>
							<div class="g5">
								<div class="item">
									<a href="{{urlBase}}/#/disposicionFinalAdm"
										ng-show="disposicion.relleno == 1">Detalle de datos de
										Disposici&oacute;n Final</a>
								</div>
							</div>
						</div>
					</div>
					<fieldset ng-show="disposicion.relleno == 1">
						<legend>Datos del documento que aprueba el instrumento de
							gesti&oacute;n ambiental (IGA)</legend>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>N&uacute;mero de resoluci&oacute;n que aprueba
											el IGA</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="text" style="width: 300px;">
									</div>
								</div>
								<div class="g4">
									<div class="item right">
										<label>Tipo Documento:</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<select id="" style="width: 180px;">
											<option value=""></option>
											<option value="Resolucion">Resoluci&oacute;n</option>
											<option value="Documento de aprobacion">Documento de aprobaci&oacute;n</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Autoridad que emiti&oacute; el documento o
											resoluci&oacute;n:</label>
									</div>
								</div>
								<div class="g6">
									<div class="item">
										<input id="" type="text" style="width: 300px;">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Fecha de emisi&oacute;n</label>
									</div>
								</div>
								<div class="g6">
									<div class="item">
										<input id="" type="date" style="width: 200px;">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Adjuntar documento</label>
									</div>
								</div>
								<div class="g6">
									<div class="item">
										<input id="" type="file" style="width: 400px;" disabled>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Vigencia</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Inicio permiso:</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="date" style="width: 200px;">
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Culminaci&oacute;n permiso</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="date" style="width: 200px;">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset ng-show="disposicion.selec_relleno > 0">
						<legend>Datos del relleno sanitario</legend>
						<div class="row">

							<div class="g12">
								<div class="g3">
									<div class="item">
										<label style="font-weight: bold;">Datos Generales</span></label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label>Costo de la Disposici&oacute;n Final</label>
									</div>
								</div>
								<div class="g4">
									<div class="item">
										<input id="" type="number" style="width: 180px"
											ng-model="disposicion.costo"> <label class="unidad">(Soles/a&ntilde;o)</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g8">
									<div class="item">
										<label><span style="font-weight: bold;">Residuos
												s&oacute;lidos municipales dispuestos en el a&ntilde;o 2017</span></label>
									</div>
								</div>
								<div class="g4"></div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<table id="tblMuniDispDf" ng-table="tblMuniDispDf"
									style="width: 70%;" show-filter="false" class="table square">
									<thead>
										<tr>
											<th>Mes</th>
											<th>Cantidad (t)</th>
											<th
												title="M&eacute;todo usado para obtener la cantidad de residuos s&oacute;lidos dispuestos">M&eacute;todo
												Usado</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in lstMuniDispDf">
											<td>{{item.mes.nombre_mes}}</td>
											<td style="text-align: center;"><input id=""
												type="number" ng-model="item.cantidad" ng-change="change()"
												min="0" style="width: 40%; text-align: center;"></td>
											<td style="text-align: center;"><select id=""
												title="Estimaci&oacute;n: la cantidad de residuos fue establecida por c&aacute;lculos, opini&oacute;n de expertos o aproximaciones / Medici&oacute;n: pesaje directo."
												style="width: 40%" ng-model="item.metodo_usado">
													<option value="">Seleccionar</option>
													<option value="1">Estimaci&oacute;n</option>
													<option value="2">Medici&oacute;n Directa</option>
											</select></td>
										</tr>
									</tbody>
								</table>
							</div>


						</div>

					</fieldset>
					<div class="row">
						<div class="g12">
							<div class="item ls-horizontal right">
								<button type="button" class="btnTab btn-primary btn-sm" id=""
									title="" ng-click="grabar()">Grabar</button>
							</div>
						</div>

					</div>
				</div>
				<h3 class="accordion" ng-class="{active:accordion==2}">
					<a id="cabecera2" href ng-click="accordion = 2">&Aacute;rea
						degradada por residuos s&oacute;lidos municipales </label>
					</a>
				</h3>

				<div class="accordion-content" ng-show="accordion==2">
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>&Aacute;rea degradada</label>

								</div>
							</div>
							<div class="g2">
								<div class="item">

									<select ng-model="disposicion2.selec_degradada"
										ng-change="func2()"
										ng-options="item.sitio_disposicion_id as item.nombre_sitio for item in lstDegradada">
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row" ng-show="disposicion2.selec_degradada > 0">
						<div class="g12">
							<div class="item" style="margin-top: 10px;">
								<label>&iquest;Administra el &aacute;rea degradada donde
									dispone sus residuos s&oacute;lidos? </label>
							</div>
						</div>
					</div>

					<div class="row" ng-show="disposicion2.selec_degradada > 0">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>Si</label> <input id="" type="radio" value="1"
										ng-model="disposicion2.degradada">
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>No</label> <input id="" type="radio" value="0"
										ng-model="disposicion2.degradada">
								</div>
							</div>
							<div class="g5">
								<div class="item">
									<a href="{{urlBase}}/#/disposicionFinalAdm"
										ng-show="disposicion2.degradada == 1">Detalle de datos de
										Disposici&oacute;n Final</a>
								</div>
							</div>
						</div>
					</div>

					<fieldset ng-show="disposicion2.selec_degradada > 0">
						<legend>Datos del &aacute;rea degradada</legend>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item">
										<label style="font-weight: bold;">Datos Generales</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label>Costo de la disposici&oacute;n final</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;"
											ng-model="disposicion2.costo_degradadas"> <label
											class="unidad">(soles/a&ntilde;o)</label>
										<!-- 											<br> -->
										<!-- 										<label style="font-size: 11px"><span -->
										<!-- 											class="icn icn-info-sign"></span> Cantidad de personal que -->
										<!-- 											labora en los sitios de disposici&oacute;n final de residuos -->
										<!-- 											s&oacute;lidos</label> -->
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item" style="margin-top: 5px;">
										<label style="font-weight: bold;">Residuos
											s&oacute;lidos municipales dispuestos en el a&ntilde;o
											{{anioAnterior}}</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<table id="tblMuniDispDeg" ng-table="tblMuniDispDeg"
									style="width: 70%;" show-filter="false" class="table square">
									<thead>
										<tr>
											<th>Mes</th>
											<th>Cantidad (t)</th>
											<th
												title="M&eacute;todo usado para obtener la cantidad de residuos s&oacute;lidos dispuestos">M&eacute;todo
												Usado</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in lstMuniDispDeg">
											<td>{{item.mes.nombre_mes}}</td>
											<td style="text-align: center;"><input id=""
												type="number" ng-model="item.cantidad" ng-change="change()"
												min="0" style="width: 40%; text-align: center;"></td>
											<td style="text-align: center;"><select id=""
												title="Estimaci&oacute;n: la cantidad de residuos fue establecida por c&aacute;lculos,opini&oacute;n de expertos o aproximaciones / Medici&oacute;n: pesaje directo"
												style="width: 40%" ng-model="item.metodo_usado">
													<option value="">Seleccionar</option>
													<option value="1">Estimaci&oacute;n</option>
													<option value="2">Medici&oacute;n Directa</option>
											</select></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>

					</fieldset>
					<div class="row">
						<div class="g12">
							<div class="item ls-horizontal right">
								<button type="button" class="btnTab btn-primary btn-sm" id=""
									title="" ng-click="grabar2()">Grabar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">
						Volver
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 	<div> -->
	<!-- 		<label style="color: red">(*) Campos requeridos</label> -->
	<!-- 	</div> -->


</form>