<div ng-include="'src/views/parts/menu.html'"></div>


<form name="myForm" class="container container-full" novalidate>
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Administraci&oacute;n de la Disposici&oacute;n Final</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>


	<div class="container-panel panel-body">
		<div ng-init="accordion=0">
			<div class="row">

				<h3 class="accordion" ng-class="{active:accordion==1}">
					<a id="cabecera2" class="etiqueta" ng-click="accordion = 1">Relleno
						Sanitario</a>
				</h3>

				<div class="accordion-content" ng-show="accordion==1">
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label style="font-weight: bold;">Relleno Sanitario</label>

								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 5px;">

									<select ng-model="disposicion_adm.selec_relleno" ng-change="func()"
										ng-options="item.sitio_disposicion_id as item.nombre_sitio for item in lstRellenoAdm">
									</select>
									
									<!--select style="width: 180px;"
										ng-model="disposicion.selec_relleno" ng-change="func()"
										ng-options="item.sitio_disposicion_id as item.nombre_sitio for item in lstRelleno">
									</select-->

								</div>
							</div>
						</div>
					</div>
					<fieldset>
						<legend>Detalle</legend>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>A&ntilde;o de inicio</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="number" style="width: 150px;"
											ng-maxlength="4"
											title="A&ntilde;o en el que se empez&oacute; a disponer, residuos s&oacute;lidos municipales, en el relleno sanitario. Esta informaci&oacute;n es necesaria para el c&aacute;lculo de las emisiones de GEI"
											ng-model="disposicion_adm.anio_inicio">
									</div>
								</div>
								<div class="g3">
									<div class="item right">
										<label>Cantidad de personal operativo</label>
									</div>
								</div>
								<div class="g4">
									<div class="item">
										<input id="" type="number" style="width: 180px;"
											title="Cantidad de personal que labora en los sitios de disposici&oacute;n final de residuos s&oacute;lidos"
											ng-model="disposicion_adm.cant_personal">
									</div>
								</div>
							</div>
						</div>
						<!-- 						<div class="row"> -->
						<!-- 							<div class="g12"> -->
						<!-- 								<div class="g3"> -->
						<!-- 									<div class="item right"> -->
						<!-- 										<label style="font-weight: bold;">Ubicaci&oacute;n del -->
						<!-- 											relleno sanitario</label> -->
						<!-- 									</div> -->
						<!-- 								</div> -->
						<!-- 							</div> -->
						<!-- 						</div> -->
						<div class="row">
							<div class="g12">

								<div class="g3">
									<div class="item right">
										<label>Situaci&oacute;n de propiedad del terreno</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<select id="" style="width: 180px;"
											ng-model="disposicion_adm.situacion_terreno_id">
											<option value=""></option>
											<option value="PM">Propiedad municipal</option>
											<option value="CU">Cesi&oacute;n en uso</option>
											<option value="DO">Donaci&oacute;n</option>
											<option value="TR">Transferencia</option>
											<option value="AL">Alquiler</option>
											<option value="OT">Otros</option>
										</select>
									</div>
								</div>

								<div class="g3">
									<div class="item right">
										<label>Temperatura promedio de la zona: </label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 100px;"
											title="Fuente: SENAMHI. Se puede actualizar con el debido sustento. Esta informaci&oacute;n es necesaria para el c&aacute;lculo de las emisiones de GEI"
											ng-model="disposicion_adm.temperatura_zona"> <label
											class="unidad">C/a&ntilde;o</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Coordenadas UTM
											(UTM-WGS84)</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Zona</label>
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Norte</label>
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Este</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item">
										<p></p>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="utm.zona">
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="utm.norte">
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="utm.este">
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Ubicaci&oacute;n</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Departamento</label>
									</div>
								</div>
								<div class="g1">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="ubicacion.departamento" disabled>
										<!--{{ubicacion.departamento}}-->
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Provincia</label>
									</div>
								</div>
								<div class="g1">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="ubicacion.provincia" disabled>
										<!--{{ubicacion.provincia}}-->
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Distrito</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="ubicacion.distrito" disabled>
										<!--{{ubicacion.distrito}}-->
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Direcci&oacute;n</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" style="width: 500px;"
											ng-model="disposicion_adm.direccion">
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Referencia</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="text" style="width: 500px;"
											ng-model="disposicion_adm.ref_direccion">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Datos del terreno</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>&Aacute;rea Total</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;" ng-change="setAreaDisponible()"
											ng-model="disposicion_adm.area_total_terreno"> <label
											class="unidad">m<sup>2</sup>
										</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>&Aacute;rea utilizada</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;"
											ng-change="setAreaDisponible()"
											ng-model="disposicion_adm.area_utilizada_terreno"> <label
											class="unidad">m<sup>2</sup>
										</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>&Aacute;rea disponible</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;" disabled
											ng-model="disposicion_adm.area_disponible"> <label
											class="unidad">m<sup>2</sup>
										</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Altura promedio de la napa fre&aacute;tica:</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="number" style="width: 180px;"
											title="Medida a partir de la base de las celdas. Solo si cuenta con estudios de sustento"
											ng-model="disposicion_adm.altura_nf">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Tipo de manejo y
											tecnolog&iacute;a</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Tipo de manejo, seg&uacute;n equipamiento</label>
									</div>
								</div>
								<div class="g3">
									<div class="item" style="margin-bottom: 3px">
										<select id="" style="width: 50%"
											ng-model="disposicion_adm.tipo_manejo_eq_id">
											<option value="">Seleccionar</option>
											<option value="MA">Manual</option>
											<option value="SM">Semi-mecanizado</option>
											<option value="ME">Mecanizado</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Tipo de tecnolog&iacute;a</label>
									</div>
								</div>
								<div class="g3">
									<div class="item" style="margin-bottom: 3px">
										<select id="" style="width: 50%"
											ng-model="disposicion_adm.tipo_tecnologia_id">
											<option value="">Seleccionar</option>
											<option value="CO">Convencional (anaerobio)</option>
											<option value="SA">Semi-aerobio</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item">
										<label><span style="font-weight: bold;">Tipo de
												manejo, seg&uacute;n cobertura:</span></label>
									</div>
								</div>
								<div class="g10"></div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<table id="tblManejo" ng-table="tblManejo" show-filter="false"
									style="width: 60%;" class="table square">
									<tbody>
										<tr ng-repeat="item in lstManejo">
											<td data-title="'Tipo de cobertura'">{{item.cobertura.tipo_cobertura}}</td>
											<td data-title="'Espesor de cobertura (cm)'"
												style="text-align: center;"><input id="" type="number"
												ng-model="item.espesor_cobertura" ng-change="change()"
												min="0" style="width: 25%;"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<br> <br>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item ">
										<label><span style="font-weight: bold;">Informaci&oacute;n
												de las celdas:</span></label>
									</div>
								</div>

								<div class="g10"></div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<table id="tblInfoCeldas" ng-table="tblInfoCeldas"
									style="width: 60%;" false" class="table square">
									<tbody>
										<tr ng-repeat="item in lstInfoCeldas">
											<td data-title="'Par&aacute;metro'">{{item.celdas.parametro}}</td>
											<td data-title="'Celdas culminadas'"
												style="text-align: center;"
												title="Celdas culminadas: con vida &uacute;til, pero sin operaci&oacute;n"><input
												id="" type="number" ng-model="item.celdas_culminadas"
												ng-change="change()" min="0"
												style="width: 40%; text-align: center;"></td>
											<td data-title="'Celdas activas'" style="text-align: center;"><input
												id="" type="number" ng-model="item.celdas_activas"
												ng-change="change()" min="0" style="width: 40%;"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="item">
									<label><span style="font-weight: bold;">Cantidad
											de veh&iacute;culos y equipos usados:</span></label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<table id="tblCantVehiculos" ng-table="tblCantVehiculos"
									style="width: 80%;" false" class="table square">
									<tbody>
										<tr ng-repeat="item in lstCantVehiculos">
											<td data-title="'Tipo de veh&iacute;culo'">{{item.tipoVehiculo.nombre_tipo}}</td>
											<td
												data-title="'N&uacute;mero de veh&iacute;culos usados a tiempo parcial'"
												style="text-align: center;"><input id="" type="number"
												ng-model="item.tiempo_parcial" ng-change="change()" min="0"
												style="width: 38%;"></td>
											<td
												data-title="'N&uacute;mero de veh&iacute;culos usados a tiempo completo'"
												style="text-align: center;"><input id="" type="number"
												ng-model="item.tiempo_completo" ng-change="change()" min="0"
												style="width: 38%;"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item">
										<label><span style="font-weight: bold;">&iquest;Maneja
												sus lixiviados?</span></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">

								<div class="g2">
									<div class="item right">
										Si<input id="" type="radio"
											ng-model="disposicion_adm.maneja_lixiviados" value="1">
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										No<input id="" type="radio"
											ng-model="disposicion_adm.maneja_lixiviados" value="0">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label>Tipo de manejos lixiviados:</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<select id="" style="width: 180px;"
											ng-model="disposicion_adm.tipo_manejo_lixiviados_id">
											<option value=""></option>
											<option value="RE">Recirculaci&oacute;n</option>
											<option value="PT">Planta de tratamiento</option>
										</select>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item">
										<label><span style="font-weight: bold;">&iquest;Manejo
												de los gases?</span></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">

								<div class="g2">
									<div class="item right">
										Si<input id="" type="radio"
											ng-model="disposicion_adm.maneja_gases" value="1">
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										No<input id="" type="radio"
											ng-model="disposicion_adm.maneja_gases" value="0">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label style="font-weight: bold;">N&uacute;mero de
											chimeneas</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label>Instaladas:</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="number" style="width: 100px;"
											ng-model="disposicion_adm.num_chimenea_inst">
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label>Con quemador operativo:</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="number" style="width: 100px;"
											ng-model="disposicion_adm.num_chimenea_quem_op">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label>Tipo de manejo de gases:</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<select id="" style="width: 180px;"
											ng-model="disposicion_adm.tipo_manejo_gases">
											<option value=""></option>
											<option value="CE">Centralizada</option>
											<option value="DE">Descentalizada</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item">
										<label><span style="font-weight: bold;">&iquest;Generaci&oacute;n
												de energ&iacute;a el&eacute;ctrica?</span></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">

								<div class="g2">
									<div class="item right">
										Si<input id="" type="radio"
											ng-model="disposicion_adm.genera_ee" value="1">
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										No<input id="" type="radio"
											ng-model="disposicion_adm.genera_ee" value="0">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label>Capacidad instalada</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;"
											ng-model="disposicion_adm.cap_instalada_ee_mw"><label
											class="unidad">MW</label>
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Generaci&oacute;n anual</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="number" style="width: 100px;"
											ng-model="disposicion_adm.generacion_ee_anual_mw"><label
											class="unidad">MWh/a&ntilde;o</label>
									</div>
								</div>
							</div>
						</div>
						
						<fieldset>
							<legend>Trabajadores</legend>
							
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>DNI</label>
										</div>
									</div>
									<div class="g9">
										<div class="item">
											<input id="" type="number" ng-model="trabajadores.dni"
												ng-maxlength="8" style="width: 150px;">
										</div>
									</div>
								</div>
							</div>
		
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Nombres y apellidos</label>
										</div>
									</div>
									<div class="g9">
										<div class="item">
											<input id="" type="text" ng-model="trabajadores.nom_apellido"
												style="width: 400px;">
										</div>
									</div>
								</div>
							</div>
		
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Sexo</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<select id="" ng-model="trabajadores.sexo"
												style="width: 150px;">
												<option value="">Seleccionar</option>
												<option value="Hombre">Hombre</option>
												<option value="Mujer">Mujer</option>
											</select>
										</div>
									</div>
									<div class="g3">
										<div class="item right">
											<label>Rango de edad</label>
										</div>
									</div>
									<div class="g3">
										<div class="item">
											<select id="" ng-model="trabajadores.rango"
												style="width: 150px;">
												<option value="">Seleccionar</option>
												<option value="MIN25">Hasta 25 a&ntilde;os</option>
												<option value="25E65">25 - 65 a&ntilde;os</option>
												<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Cargo</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<select id="" ng-model="trabajadores.cargo"
												style="width: 150px;">
												<option value=""></option>
												<option value="Coordinador">Coordinador</option>
												<option value="Barredor">Barredor</option>
											</select>
										</div>
									</div>
									<div class="g3">
										<div class="item right">
											<label>Condici&oacute;n laboral</label>
										</div>
									</div>
									<div class="g3">
										<div class="item">
											<select id="" ng-model="trabajadores.laboral"
												style="width: 150px;">
												<option value=""></option>
												<option value="Nombrado">Nombrado</option>
												<option value="Contratado">Contratado</option>
											</select>
										</div>
									</div>
								</div>
							</div>
		
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Horario de trabajo</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<select id="" ng-model="trabajadores.horario"
												style="width: 150px;">
												<option value=""></option>
												<option value="M">Ma&ntilde;ana</option>
												<option value="T">Tarde</option>
												<option value="DC">D&iacute;a completo</option>
											</select>
										</div>
									</div>
									<div class="g3">
										<div class="item right">
											<label>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<input id="" type="number" max="366"
												ng-model="trabajadores.dias_trabajados" style="width: 150px;">
										</div>
									</div>
									<div class="g2">
										<div class="item right">
											<button type="button" class="btn btn-primary1 btn-sm" id=""
												title="" ng-click="insertar()">Agregar</button>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="g12">
		
									<table id="tblTrabajador" ng-table="tblTrabajador"
										show-filter="false" class="table square">
										<thead>
											<tr>
												<th>DNI</th>
												<th>Nombres y apellidos</th>
												<th>Sexo</th>
												<th>Rango de edad</th>
												<th>Cargo</th>
												<th>Condici&oacute;n laboral</th>
												<th>Horario de trabajo</th>
												<th>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstTrabajador">
												<td editable-td row="{{$index}}" field="dni"
													class="ng-binding" contenteditable="true"
													style="cursor: pointer;">{{item.dni}}</td>
												<td editable-td row="{{$index}}" field="nom_apellido"
													class="ng-binding" contenteditable="true"
													style="cursor: pointer;">{{item.nom_apellido}}</td>
												<td editable-td row="{{$index}}" field="sexo"
													class="ng-binding" contenteditable="true"
													style="cursor: pointer;">{{item.sexo}}</td>
												<td editable-td row="{{$index}}" field="rango"
													class="ng-binding" contenteditable="true"
													style="cursor: pointer;">{{item.rango}}</td>
												<td editable-td row="{{$index}}" field="cargo"
													class="ng-binding" contenteditable="true"
													style="cursor: pointer;">{{item.cargo}}</td>
												<td editable-td row="{{$index}}" field="laboral"
													class="ng-binding" contenteditable="true"
													style="cursor: pointer;">{{item.laboral}}</td>
												<td editable-td row="{{$index}}" field="horario"
													class="ng-binding" contenteditable="true"
													style="cursor: pointer;">{{item.horario}}</td>
												<td editable-td row="{{$index}}" field="dias_trabajados"
													class="ng-binding" contenteditable="true"
													style="cursor: pointer;">{{item.dias_trabajados}}</td>
												<td><span class="icn icn-trash" ng-click="borrar($index)"></span></td>
											</tr>
										</tbody>
									</table>
		
								</div>
							</div>
						</fieldset>
						
						<div class="row">
							<div class="g12">
								<div class="item ls-horizontal right">

									<button type="button" class="btnTab btn-primary btn-sm" id="" ng-click="grabar1()"
										title="">Guardar</button>
								</div>
							</div>
						</div>
					</fieldset>

				</div>

				<h3 class="accordion" ng-class="{active:accordion==2}">
					<a id="cabecera2" class="etiqueta" ng-click="accordion = 2">&Aacute;reas
						degradadas por residuos s&oacute;lidos municipales</a>
				</h3>

				<div class="accordion-content" ng-show="accordion==2">

					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label style="font-weight: bold;">&Aacute;rea degradada</label>

								</div>
							</div>
							<div class="g2">
								<div class="item">
									
									<select ng-model="degradadas.selec_degradada" ng-change="func2()"
										ng-options="item.sitio_disposicion_id as item.nombre_sitio for item in lstDegradadaAdm">
									</select>
									
									<!--select ng-model="disposicion2.selec_degradada"
										ng-change="func2()"
										ng-options="item.sitio_disposicion_id as item.nombre_sitio for item in lstDegradada">
										<option value="">-Seleccionar-</option>
									</select-->

								</div>
							</div>
						</div>
					</div>
					<fieldset>
						<legend>Detalle</legend>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item">
										<label style="font-weight: bold;">Datos Generales</label>
									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>A&ntilde;o de inicio</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="number" style="width: 50%;"
											title="A&ntilde;o en el que se
										empez&oacute; a disponer, residuos s&oacute;lidos municipales,
										en el &aacute;rea degradada por residuos s&oacute;lidos"
											ng-model="degradadas.anio_inicio">
									</div>

								</div>
								<div class="g3">
									<div class="item right">
										<label>Cantidad de personal operativo</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;"
											title="Cantidad de personal que labora en los sitios de disposici&oacute;n final de residuos s&oacute;lidos"
											ng-model="degradadas.cant_personal">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Administraci&oacute;n del Servicio</label>
									</div>
								</div>
								<div class="g3">
									<select style="width: 180px;" ng-model="degradadas.admin_servicio_id">
										<option value="">Seleccionar</option>
										<option value="DIR">Directo</option>
										<option value="TER">Tercerizado</option>
										<option value="MIX">Mixto</option>
									</select>
								</div>

							</div>
						</div>
						<!-- 						<div class="row"> -->
						<!-- 							<div class="g12"> -->
						<!-- 								<div class="g2"> -->
						<!-- 									<div class="item"> -->
						<!-- 										<label><span -->
						<!-- 											style="font-weight: bold; margin-left: -15px;">Ubicaci&oacute;n -->
						<!-- 												del relleno sanitario</span></label> -->
						<!-- 									</div> -->
						<!-- 								</div> -->
						<!-- 							</div> -->
						<!-- 						</div> -->
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Situaci&oacute;n de propiedad del terreno</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<select id="" style="width: 180px;"
											ng-model="degradadas.situacion_terreno_id">
											<option value=""></option>
											<option value="PM">Propiedad municipal</option>
											<option value="CU">Cesi&oacute;n en uso</option>
											<option value="DO">Donaci&oacute;n</option>
											<option value="TR">Transferencia</option>
											<option value="AL">Alquiler</option>
											<option value="OT">Otros</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Coordenadas UTM
											(UTM-WGS84)</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Zona</label>
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Norte</label>
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Este</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g1">
									<div class="item">
										<p></p>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="text" ng-model="utm2.zona">
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" ng-model="utm2.norte">
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" ng-model="utm2.este">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Ubicaci&oacute;n</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Departamento</label>
									</div>
								</div>
								<div class="g1">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="ubicacion2.departamento" disabled>
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Provincia</label>
									</div>
								</div>
								<div class="g1">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="ubicacion2.provincia" disabled>
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label>Distrito</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" style="width: 180px;" ng-model="ubicacion2.distrito" disabled>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Direcci&oacute;n</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" style="width: 400px;"
											ng-model="degradadas.direccion">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Referencia</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="text" style="width: 400px;"
											ng-model="degradadas.ref_direccion">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Datos del terreno</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>&Aacute;rea Total</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;" ng-change="setAreaDisponible()"
											ng-model="degradadas.area_total_terreno"><label
											class="unidad"> (m<sup>2</sup>)
										</label>
									</div>
								</div>


							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>&Aacute;rea utilizada</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;" ng-change="setAreaDisponible()"
											ng-model="degradadas.area_utilizada_terreno"> <label
											class="unidad">(m<sup>2</sup>)
										</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>&Aacute;rea disponible</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 180px;" disabled
											ng-model="degradadas.area_disponible"> <label
											class="unidad">(m<sup>2</sup>)
										</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Altura promedio de los residuos s&oacute;lidos</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="text" style="width: 180px;"
											ng-model="degradadas.altura_rs_ss"> <label
											class="unidad">(m)</label>
									</div>
									<!-- 									<label style="font-size: 11px"><span -->
									<!-- 										class="icn icn-info-sign"></span> Ver la gu&iacute;a para el -->
									<!-- 										m&eacute;todo del c&aacute;lculo</label> -->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label style="font-weight: bold;">Tipo de manejo y
											tecnolog&iacute;a</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Tipo de manejo seg&uacute;n cobertura</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<select id="" style="width: 180px"
											ng-model="degradadas.tipo_manejo_cob_id">
											<option value="">Seleccionar</option>
											<option value="COM">Compactado</option>
											<option value="SCO">Sin Cobertura</option>
											<option value="COD">Cobertura diaria</option>
											<option value="COI">Cobertura interdiaria</option>
											<option value="COS">Cobertura semanal</option>
										</select>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Altura de la napa fre&aacute;tica</label>
									</div>
								</div>
								<div class="g4">
									<div class="item" style="margin-bottom: 3px">
										<input id="" type="number" style="width: 180px"
											title="Medida a partir de la base de las celdas. Solo si cuenta con estudios de sustento"
											ng-model="degradadas.altura_nf"> <label
											class="unidad">m</label>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					
					
					<fieldset>
						<legend>Trabajadores</legend>
						
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>DNI</label>
									</div>
								</div>
								<div class="g9">
									<div class="item">
										<input id="" type="number" ng-model="trabajadores2.dni"
											ng-maxlength="8" style="width: 150px;">
									</div>
								</div>
							</div>
						</div>
	
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Nombres y apellidos</label>
									</div>
								</div>
								<div class="g9">
									<div class="item">
										<input id="" type="text" ng-model="trabajadores2.nom_apellido"
											style="width: 400px;">
									</div>
								</div>
							</div>
						</div>
	
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Sexo</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<select id="" ng-model="trabajadores2.sexo"
											style="width: 150px;">
											<option value="">Seleccionar</option>
											<option value="Hombre">Hombre</option>
											<option value="Mujer">Mujer</option>
										</select>
									</div>
								</div>
								<div class="g3">
									<div class="item right">
										<label>Rango de edad</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<select id="" ng-model="trabajadores2.rango"
											style="width: 150px;">
											<option value="">Seleccionar</option>
											<option value="MIN25">Hasta 25 a&ntilde;os</option>
											<option value="25E65">25 - 65 a&ntilde;os</option>
											<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Cargo</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<select id="" ng-model="trabajadores2.cargo"
											style="width: 150px;">
											<option value=""></option>
											<option value="Coordinador">Coordinador</option>
											<option value="Barredor">Barredor</option>
										</select>
									</div>
								</div>
								<div class="g3">
									<div class="item right">
										<label>Condici&oacute;n laboral</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<select id="" ng-model="trabajadores2.laboral"
											style="width: 150px;">
											<option value=""></option>
											<option value="Nombrado">Nombrado</option>
											<option value="Contratado">Contratado</option>
										</select>
									</div>
								</div>
							</div>
						</div>
	
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>Horario de trabajo</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<select id="" ng-model="trabajadores2.horario"
											style="width: 150px;">
											<option value=""></option>
											<option value="M">Ma&ntilde;ana</option>
											<option value="T">Tarde</option>
											<option value="DC">D&iacute;a completo</option>
										</select>
									</div>
								</div>
								<div class="g3">
									<div class="item right">
										<label>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="number" max="366"
											ng-model="trabajadores2.dias_trabajados" style="width: 150px;">
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<button type="button" class="btn btn-primary1 btn-sm" id=""
											title="" ng-click="insertar2()">Agregar</button>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="g12">
	
								<table id="tblTrabajador2" ng-table="tblTrabajador2"
									show-filter="false" class="table square">
									<thead>
										<tr>
											<th>DNI</th>
											<th>Nombres y apellidos</th>
											<th>Sexo</th>
											<th>Rango de edad</th>
											<th>Cargo</th>
											<th>Condici&oacute;n laboral</th>
											<th>Horario de trabajo</th>
											<th>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in lstTrabajador2">
											<td editable-td row="{{$index}}" field="dni"
												class="ng-binding" contenteditable="true"
												style="cursor: pointer;">{{item.dni}}</td>
											<td editable-td row="{{$index}}" field="nom_apellido"
												class="ng-binding" contenteditable="true"
												style="cursor: pointer;">{{item.nom_apellido}}</td>
											<td editable-td row="{{$index}}" field="sexo"
												class="ng-binding" contenteditable="true"
												style="cursor: pointer;">{{item.sexo}}</td>
											<td editable-td row="{{$index}}" field="rango"
												class="ng-binding" contenteditable="true"
												style="cursor: pointer;">{{item.rango}}</td>
											<td editable-td row="{{$index}}" field="cargo"
												class="ng-binding" contenteditable="true"
												style="cursor: pointer;">{{item.cargo}}</td>
											<td editable-td row="{{$index}}" field="laboral"
												class="ng-binding" contenteditable="true"
												style="cursor: pointer;">{{item.laboral}}</td>
											<td editable-td row="{{$index}}" field="horario"
												class="ng-binding" contenteditable="true"
												style="cursor: pointer;">{{item.horario}}</td>
											<td editable-td row="{{$index}}" field="dias_trabajados"
												class="ng-binding" contenteditable="true"
												style="cursor: pointer;">{{item.dias_trabajados}}</td>
											<td><span class="icn icn-trash" ng-click="borrar2($index)"></span></td>
										</tr>
									</tbody>
								</table>
	
							</div>
						</div>
					</fieldset>					
					<div class="row">
						<div class="g12">
							<div class="item ls-horizontal right">

								<button type="button" class="btnTab btn-primary btn-sm" id="" ng-click="grabar2()"
									title="">Guardar</button>
							</div>
						</div>
					</div>
				</div>


				<h3 class="accordion" ng-class="{active:accordion==3}">
					<a id="cabecera2" class="etiqueta" ng-click="accordion = 3">&Aacute;reas
						degradadas abandonadas</a>
				</h3>
				<div class="accordion-content" ng-show="accordion==3">
					<div class="row">
						<div class="g12">
							<div class="item">
								<label>&iquest;Existen &aacute;reas degradadas por
									residuos s&oacute;lidos municipales abandonadas?</label>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<input type="radio" style="margin-left: 20px;" value="1"
										ng-model="abandonadas.flag_areas_abandonadas">Si
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<input type="radio" style="margin-left: 20px;" value="0"
										ng-model="abandonadas.flag_areas_abandonadas">No
								</div>
							</div>
						</div>
					</div>
					<div ng-show="abandonadas.flag_areas_abandonadas == 1">
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label>N&uacute;mero de &aacute;reas degradadas</label>
									</div>
								</div>
								<div class="g6">
									<div class="item" style="margin-bottom: 3px">
										<input id="" type="number" style="width: 20%;"
											ng-model="abandonadas.numero_areas">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item">
										<label style="font-weight: bold;">Datos generales</label>
									</div>
								</div>
							</div>
						</div>
	
						<div class="row">
							<div class="g12">
								<table id="tblAreaAbandonada" ng-table="tblAreaAbandonada"
									show-filter="false" class="table square">
									<thead>
										<tr>
											<th rowspan="2"
												title="A&ntilde;o en el cual el &aacute;rea degradada por residuos s&oacute;lidos empez&oacute; a ser usada">A&ntilde;o
												de inicio</th>
											<th rowspan="2">A&ntilde;o de cierre</th>
											<th rowspan="2">&Aacute;rea total (m<sup>2</sup>)
											</th>
											<th colspan="2">Residuos s&oacute;lidos municipales
												dispuestos</th>
											<th title="Persona jur&iacute;dica responsable" rowspan="2">Responsable
												del manejo</th>
											<th rowspan="2"
												title="Medida a partir de la base de las celdas. Solo si cuenta con estudios de sustento">Altura
												promedio de la napa fre&aacute;tica (m)</th>
										</tr>
										<tr>
	
											<th>Cantidad total (t)</th>
											<th>M&eacute;todo Usado</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in lstAreaAbandonada">
											<td><input id="" type="number" style="width: 100px;" ng-model="item.anio_inicio"></td>
											<td><input id="" type="number" style="width: 100px;" ng-model="item.anio_cierre"></td>
											<td><input id="" type="number" style="width: 100px;" ng-model="item.area_total"></td>
											<td><input id="" type="number" ng-model="item.cantidad"></td>
											<td><select id="" ng-model="item.metodo_usado">
													<option value="">Seleccionar</option>
													<option value="ES">Estimaci&oacute;n</option>
													<option value="MD">Medici&oacute;n Directa</option>
											</select></td>
											<td><input id="" type="text" style="width: 150px;" ng-model="item.responsable"></td>
											<td><input id="" type="number" style="width: 150px;" ng-model="item.altura_nf"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item">
										<button type="button" class="btn btn-primary1 btn-sm" id=""
											title="" ng-click="agregar()">Agregar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br>
					<div class="row">
						<div class="g12">
							<div class="item ls-horizontal right">

								<button type="button" class="btnTab btn-primary btn-sm" id="" ng-click="grabar3()"
									title="">Guardar</button>
							</div>
						</div>
					</div>
				</div>

				

				<!--h3 class="accordion" ng-class="{active:accordion==4}">
					<a id="cabecera2" class="etiqueta" ng-click="accordion = 4">Trabajadores</a>
				</h3>
				<div class="accordion-content" ng-show="accordion==4">
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>DNI</label>
								</div>
							</div>
							<div class="g9">
								<div class="item">
									<input id="" type="number" ng-model="trabajadores.dni"
										ng-maxlength="8" style="width: 150px;">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Nombres y apellidos</label>
								</div>
							</div>
							<div class="g9">
								<div class="item">
									<input id="" type="text" ng-model="trabajadores.nom_apellido"
										style="width: 400px;">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Sexo</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" ng-model="trabajadores.sexo"
										style="width: 150px;">
										<option value="">Seleccionar</option>
										<option value="Hombre">Hombre</option>
										<option value="Mujer">Mujer</option>
									</select>
								</div>
							</div>
							<div class="g3">
								<div class="item right">
									<label>Rango de edad</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<select id="" ng-model="trabajadores.rango"
										style="width: 150px;">
										<option value="">Seleccionar</option>
										<option value="MIN25">Hasta 25 a&ntilde;os</option>
										<option value="25E65">25 - 65 a&ntilde;os</option>
										<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Cargo</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" ng-model="trabajadores.cargo"
										style="width: 150px;">
										<option value=""></option>
										<option value="Coordinador">Coordinador</option>
										<option value="Barredor">Barredor</option>
									</select>
								</div>
							</div>
							<div class="g3">
								<div class="item right">
									<label>Condici&oacute;n laboral</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<select id="" ng-model="trabajadores.laboral"
										style="width: 150px;">
										<option value=""></option>
										<option value="Nombrado">Nombrado</option>
										<option value="Contratado">Contratado</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Horario de trabajo</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" ng-model="trabajadores.horario"
										style="width: 150px;">
										<option value=""></option>
										<option value="M">Ma&ntilde;ana</option>
										<option value="T">Tarde</option>
										<option value="DC">D&iacute;a completo</option>
									</select>
								</div>
							</div>
							<div class="g3">
								<div class="item right">
									<label>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="number" max="366"
										ng-model="trabajadores.dias_trabajados" style="width: 150px;">
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<button type="button" class="btn btn-primary1 btn-sm" id=""
										title="" ng-click="insertar()">Agregar</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">

							<table id="tblTrabajador" ng-table="tblTrabajador"
								show-filter="false" class="table square">
								<thead>
									<tr>
										<th>DNI</th>
										<th>Nombres y apellidos</th>
										<th>Sexo</th>
										<th>Rango de edad</th>
										<th>Cargo</th>
										<th>Condici&oacute;n laboral</th>
										<th>Horario de trabajo</th>
										<th>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in lstTrabajador">
										<td editable-td row="{{$index}}" field="dni"
											class="ng-binding" contenteditable="true"
											style="cursor: pointer;">{{item.dni}}</td>
										<td editable-td row="{{$index}}" field="nom_apellido"
											class="ng-binding" contenteditable="true"
											style="cursor: pointer;">{{item.nom_apellido}}</td>
										<td editable-td row="{{$index}}" field="sexo"
											class="ng-binding" contenteditable="true"
											style="cursor: pointer;">{{item.sexo}}</td>
										<td editable-td row="{{$index}}" field="rango"
											class="ng-binding" contenteditable="true"
											style="cursor: pointer;">{{item.rango}}</td>
										<td editable-td row="{{$index}}" field="cargo"
											class="ng-binding" contenteditable="true"
											style="cursor: pointer;">{{item.cargo}}</td>
										<td editable-td row="{{$index}}" field="laboral"
											class="ng-binding" contenteditable="true"
											style="cursor: pointer;">{{item.laboral}}</td>
										<td editable-td row="{{$index}}" field="horario"
											class="ng-binding" contenteditable="true"
											style="cursor: pointer;">{{item.horario}}</td>
										<td editable-td row="{{$index}}" field="dias_trabajados"
											class="ng-binding" contenteditable="true"
											style="cursor: pointer;">{{item.dias_trabajados}}</td>
										<td><span class="icn icn-trash" ng-click="borrar($index)"></span></td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div-->

		</div>
		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">
						Volver
					</button>
				</div>
			</div>
		</div>
	</div>
</form>