<header>
	<div class="container container-full">
		<div ng-include="'src/views/parts/menu.html'"></div>
	</div>
</header>

<form name="myEducAmbiental" class="container container-full">
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Educaci&oacute;n Ambiental</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>


	<div class="container-panel panel-body">
		<fieldset>
			<div class="row">
				<div class="g12">
					<div class="g10">
						<div class="item">
							<label>&iquest;Cuenta con un Programa Municipal de
								Educaci&oacute;n, Cultura y Ciudadan&iacute;a Ambiental
								(EDUCCA)?</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item">
							<input type="radio" value="1" ng-model="ambiental.flag_ambiental">Si
						</div>
					</div>
					<div class="g2">
						<div class="item">
							<input type="radio" value="0" ng-model="ambiental.flag_ambiental">No
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Documento que aprueba</label>
						</div>
					</div>
					<div class="g6">
						<div class="item">
							<input id="" type="file"
								ng-model="ambiental.documento_aprobacion" style="width: 300px;"
								disabled>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g10">
						<div class="item">
							<label>&iquest;Cuenta con su plan de trabajo
								{{anioAnterior}}?</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item">
							<input type="radio" value="1" ng-model="ambiental.flag_minam">Si
						</div>
					</div>
					<div class="g2">
						<div class="item">
							<input type="radio" value="0" ng-model="ambiental.flag_minam">No
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Documento que aprueba</label>
						</div>
					</div>
					<div class="g6">
						<div class="item">
							<input id="" type="file"
								title="Adjuntar el documento que aprueba el plan de trabajo"
								ng-model="ambiental.documento_aprobacion2" style="width: 300px;"
								disabled>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g10">
						<div class="item">
							<label>&iquest;Present&oacute; su Reporte de actividades
								{{anioAnterior}}?</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item">
							<input type="radio" value="1"
								ng-model="ambiental.flag_actividades">Si
						</div>
					</div>
					<div class="g2">
						<div class="item">
							<input type="radio" value="0"
								ng-model="ambiental.flag_actividades">No
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Cargo</label>
						</div>
					</div>
					<div class="g6">
						<div class="item">
							<input id="" type="file"
								title="Adjuntar cargo de entrega del reporte al MINAM"
								ng-model="ambiental.documento_aprobacion3" style="width: 300px;"
								disabled>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row"  style="margin-top: 20px;">
				<div class="g12">

					<label style="font-weight: bold;">Acciones de
						educaci&oacute;n y sensibilizaci&oacute;n ambiental</label>

				</div>
			</div>

			<div class="row">
				<div class="g12">
					<table id="tblAccion" ng-table="tblAccion" show-filter="false"
						class="table square">
						<thead>
							<tr>
								<th rowspan="2" style="width: 50%;">Tipo de actividad por l&iacute;nea de
									acci&oacute;n</th>
								<th rowspan="2">Tipo</th>
								<th colspan="2">Participantes en temas de gesti&oacute;n de
									residuos s&oacute;lidos</th>
								<th>Participantes en otros temas ambientales</th>
							</tr>
							<tr>
								<th>Hombres</th>
								<th>Mujeres</th>
								<th>Total mujeres y hombres</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in lstAccion">
								<td style="width: 50%;"><span ng-show="item.tipo_actividad.flag_actividad == 0"
									style="font-weight: bold;">{{item.tipo_actividad.nombre_tipo}}</span><span style="text-align: justify;margin-left: 4%"
									ng-show="item.tipo_actividad.flag_actividad == 1">{{item.tipo_actividad.nombre_tipo}}</span></td>
								<td class="tabla-celda"><select id="" ng-model="item.tipo" style="width: 200px;"
									ng-show="item.tipo_actividad.flag_actividad == 1">
										<option value="">Seleccionar</option>
										<option value="1">Cursos</option>
										<option value="2">Talleres</option>
										<option value="3">Ferias</option>
										<option value="4">Campa&ntilde;as</option>
										<option value="5">Otros</option>
								</select></td>
								<td class="tabla-celda"><input id="" type="number" style="width: 150px;"
									ng-model="item.participantes_hombres"
									ng-show="item.tipo_actividad.flag_actividad == 1"></td>
								<td class="tabla-celda"><input id="" type="number" style="width: 150px;"
									ng-model="item.participantes_mujeres"
									ng-show="item.tipo_actividad.flag_actividad == 1"></td>
								<td class="tabla-celda"><input id="" type="number" style="width: 150px;"
									ng-model="item.total_mujer_hombre"
									ng-show="item.tipo_actividad.flag_actividad == 1"></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<label style="font-size: 11px"><span
						class="icn icn-info-sign"></span> De acuerdo al Reporte de
						actividades 2017 del Programa Municipal EDUCCA</label>
				</div>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g10">
						<label style="font-weight: bold;">Acciones de
							educaci&oacute;n ambiental, comprendidas en el POI</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Tipo de acci&oacute;n</label>
						</div>
					</div>
					<div class="g3">
						<input id="" type="text" style="width: 180px;"
							ng-model="poi.tipo_accion">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Cantidad de acci&oacute;n</label>
						</div>
					</div>
					<div class="g3">
						<input id="" type="number" style="width: 180px;"
							ng-model="poi.cantidad_accion">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label>Presupuesto asignado</label>
						</div>
					</div>
					<div class="g3">
						<input id="" type="number" style="width: 180px;"
							ng-model="poi.presupuesto">
					</div>
					<div class="g2">
						<button type="button" class="btn btn-primary1 btn-sm" id=""
							title="">Agregar</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="g12">
					<table id="tblPoi" ng-table="tblPoi" show-filter="false"
						style="width: 50%" class="table square">
						<thead>
							<tr>
								<th>Tipo de acci&oacute;n</th>
								<th>Cantidad de acciones</th>
								<th>Presupuesto asignado</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in lstPoi">
								<td>{{item.tipo_accion}}</td>
								<td>{{item.cantidad_accion}}</td>
								<td>{{item.presupuesto_asignado}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="item ls-horizontal right">
						<button type="button" class="btnTab btn-default btn-sm" id=""
							title="" ng-click="volver()">Volver</button>
						<button type="button" class="btnTab btn-primary btn-sm" id=""
							title="" ng-click="guardar()">Guardar</button>
					</div>
				</div>
			</div>
		</fieldset>
	</div>

</form>

