<div ng-include="'src/views/parts/menu.html'"></div>

<form name="myForm" class="container container-full" novalidate>
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Generaci&oacute;n</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>


	<div class="container-panel panel-body">
		<div class="row">
			<div class="g12">
				<div class="item">
					<label>&iquest;Cuenta con estudio de caracterizaci&oacute;n
						de residuos s&oacute;lidos municipales?</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="g12">
				<div class="g2">
					<div class="item">
						<input id="" type="radio" value="1"
							ng-model="generacion.flag_generacion">Si
					</div>
				</div>
				<div class="g2">
					<div class="item">
						<input id="" type="radio" value="0"
							ng-model="generacion.flag_generacion">No
					</div>
				</div>
			</div>
		</div>
		<br> <br>
		<div class="row" ng-show="generacion.flag_generacion == '1'">
			<div class="g12">
				<div class="item">
					<label>Con la informaci&oacute;n del estudio de
						caracterizaci&oacute;n de residuos s&oacute;lidos municipales,
						completar:</label>
				</div>
			</div>
		</div>
		<br> <br>
		<div class="g12" ng-show="generacion.flag_generacion == '1'">
			<div ng-init="accordion=1">
				<div class="row" style="margin-bottom: 20px">
					<div class="clear"></div>

					<h3 class="accordion" ng-class="{active:accordion==1}">
						<a id="cabecera2" class="etiqueta" href ng-click="accordion = 1">Generaci&oacute;n
							Domiciliaria </a>
					</h3>

					<div class="accordion-content" ng-show="accordion==1">
						<div class="row">
							<div class="g12">
								<div class="g2">
									<div class="item right">
										<label style="color: red;">(*)</label> <label class="etiqueta">Densidad</label>
									</div>
								</div>
								<div class="g3">
									<div class="item" style="margin-bottom: 3px">
										<input id="" name="densidad" type="number"
											title="M&iacute;nimo: 75 / M&aacute;ximo: 275"
											style="width: 80px;" min="75" max="275"
											ng-model="generacion.densidad"> <label class="unidad">(kg/m<sup>3</sup>)
										</label>
									</div>
								</div>
								<div class="g2">
									<div class="item right">
										<label style="color: red;">(*)</label> <label class="etiqueta">Generaci&oacute;n
											per c&aacute;pita</label>
									</div>
								</div>
								<div class="g4">
									<div class="item" style="margin-bottom: 3px">
										<input id="" name="gpc_diario" type="number"
											title="M&iacute;nimo: 0.3 / M&aacute;ximo: 0.8"
											style="width: 80px;" ng-model="generacion.gpc_diario"
											step="0.01" min="0.3" max="0.8"> <label
											class="unidad"> (Kg/habitante/d&iacute;a)</label>
									</div>
								</div>
								<div class="g1"></div>
							</div>
						</div>
						<br> <br>
						<div class="row">
							<div class="g12">
								<div class="g7">
									<div class="item right">
										<label>Generaci&oacute;n total de residuos
											s&oacute;lidos domiciliarios:</label>
									</div>
								</div>
								<div class="g4">
									<div class="item">
										<label style="font-weight: bold;">{{getTotalRsSsDs()|
											number:2}}</label> <label class="unidad">(t/a&ntilde;o)</label>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="g12">
								<h5>Composici&oacute;n de residuos s&oacute;lidos
									domiciliarios (%): {{getTotalComposicion()}}</h5>
							</div>
						</div>
						<div class="row" ng-show="composicionTotal != 100">
							<div class="g12">
								<div class="g6">
									<label><span style="color: red;">El total de la
											composici&oacute;n domiciliar debe ser igual a 100%</span></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div id="tree-root" class="angular-ui-tree">
									<ol class="angular-ui-tree-nodes" ng-model="lstResSolidos">
										<li ng-repeat="item in lstResSolidos"
											class="angular-ui-tree-node">
											<div
												class="tree-node tree-node-content angular-ui-tree-handle">

												<a><span ng-click="count = 1" ng-init="count=0"
													ng-show="count == 0" class="icn icn-plus"></span> <span
													ng-click="count = 0" ng-show="count == 1"
													class="icn icn-minus"></span></a> {{item.nombre}}
											</div>
											<div
												class="tree-node tree-node-content angular-ui-tree-handle g12"
												ng-show="count == 1" style="height: 40px; width: 98%;">
												<div class="g4">
													<label></label>
												</div>
												<label>Porcentaje de los residuos s&oacute;lidos
													domiciliarios</label>
											</div>
											<ol ng-model="item.hijos" ng-show="count == 1"
												class="angular-ui-tree-nodes">
												<li ng-repeat="subItem in item.hijos"
													class="angular-ui-tree-node">
													<div
														class="tree-node tree-node-content angular-ui-tree-handle">
														<!-- 														<button > -->
														<a><span ng-click="cont = 1" ng-init="cont=0"
															ng-show="cont == 0 && subItem.hijos.length != null"
															class="icn icn-plus"></span> <!-- 														</button> -->
															<!-- 														<button> --> <span ng-click="cont = 0"
															ng-show="cont == 1 && subItem.hijos.length != null"
															class="icn icn-minus"></span></a>
														<!-- 														</button> -->
														<button ng-show="subItem.hijos.length == null"
															style="visibility: hidden"></button>
														<div
															style="margin-top: -17px; margin-left: 30px; font-size: 12.5px;">
															{{subItem.nombre}}
															<div ng-show="subItem.hijos.length == null"
																style="margin-top: -25px; margin-left: 30%;">
																<input type="number" ng-model="subItem.porcentaje"
																	min="0" max="100" step="0.00001"
																	style="width: 25%; text-align: right;"><label
																	class="unidad"> %</label>
															</div>
														</div>
													</div>


													<ol ng-model="subItem.hijos" ng-show="cont == 1"
														class="angular-ui-tree-nodes">
														<li ng-repeat="subItem2 in subItem.hijos"
															class="angular-ui-tree-node">
															<div
																class="tree-node tree-node-content angular-ui-tree-handle">
																<!-- 																<button > -->
																<a><span ng-click="cont1 = 1" ng-init="cont1=0"
																	ng-show="cont1 == 0 && subItem2.hijos.length != null"
																	class="icn icn-plus"></span> <!-- 																	</button> -->
																	<!-- 																<button> --> <span
																	ng-click="cont1 = 0"
																	ng-show="cont1 == 1 && subItem2.hijos.length != null"
																	class="icn icn-minus"></span></a>
																<!-- 																</button> -->
																<button ng-show="subItem2.hijos.length == null"
																	style="visibility: hidden"></button>
																<div
																	style="margin-top: -17px; margin-left: 30px; font-size: 12.5px;">
																	{{subItem2.nombre}}
																	<div ng-show="subItem2.hijos.length == null"
																		style="margin-top: -25px; margin-left: 35%;">
																		<input type="number" min="0" max="100" step="0.00001"
																			ng-model="subItem2.porcentaje"
																			style="width: 25%; text-align: right;"><label
																			class="unidad"> %</label>
																	</div>
																</div>
															</div>
															<div
																class="tree-node tree-node-content angular-ui-tree-handle g12"
																ng-show="cont1 == 1" style="height: 40px; width: 98%;">
																<div class="g4">
																	<label></label>
																</div>
																<label>Porcentaje de los residuos s&oacute;lidos
																	domiciliarios</label>
															</div>
															<ol ng-model="subItem2.hijos" ng-show="cont1 == 1"
																class="angular-ui-tree-nodes">
																<li ng-repeat="subItem3 in subItem2.hijos"
																	class="angular-ui-tree-node">
																	<div
																		class="tree-node tree-node-content angular-ui-tree-handle"
																		style="font-weight: inherit; font-size: 12.5px;">
																		{{subItem3.nombre}}
																		<div style="margin-top: -25px; margin-left: 35%;">
																			<input type="number" min="0" max="100" step="0.00001"
																				ng-model="subItem3.porcentaje"
																				style="width: 25%; text-align: right;"><label
																				class="unidad"> %</label>
																		</div>
																	</div>
																</li>
															</ol>
														</li>
													</ol>
												</li>
											</ol>
										</li>
									</ol>
								</div>
							</div>

						</div>



					</div>
					<div class="clear"></div>

					<h3 class="accordion" ng-class="{active:accordion==2}">
						<a id="cabecera2" class="etiqueta" href ng-click="accordion = 2">Generaci&oacute;n
							No Domiciliaria </a>
					</h3>

					<div class="accordion-content" ng-show="accordion==2">



						<div class="row">
							<table id="tblGeneracion" ng-table="tblGeneracion"
								style="width: 40%;" show-filter="false" class="table square">
								<tbody>
									<tr ng-repeat="item in lstGND">
										<td data-title="'Origen de residuos no domiciliarios'">{{item.tipo_generacion.nombre}}
										</td>
										<td data-title="'Cantidad (kg/d&iacute;a)'"
											class="tabla-celda"><input id="cantidad" type="number"
											ng-model="item.cantidad" ng-change="change()" min="0">
											<!-- 											 <br> --> <!-- 											<div class="g5"> -->
											<!-- 												<label style="font-size: 11px;" --> <!-- 													ng-show="item.tipo_generacion.informacion != null"><span -->
											<!-- 													class="icn icn-info-sign"> --> <!-- 														{{item.tipo_generacion.informacion}}</span> </label> -->
											<!-- 											</div> --></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item">
										<label>Generaci&oacute;n total de residuos
											s&oacute;lidos no domiciliarios:</label>
									</div>
								</div>
								<div class="g4">
									<div class="item">
										<label style="font-weight: bold;">{{getTotalRsSsNDs()|
											number:2}}</label> <label class="unidad">(t/a&ntilde;o)</label>
									</div>
								</div>
							</div>
						</div>
						<br> <br>
						<div class="row">
							<div class="g12">
								<h5>Composici&oacute;n de residuos s&oacute;lidos no
									domiciliarios, seg&uacute;n origen (%)</h5>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div id="tree-root" class="angular-ui-tree">
									<ol class="angular-ui-tree-nodes" ng-model="lstComposicionND">
										<li ng-repeat="item in lstComposicionND"
											class="angular-ui-tree-node">
											<div
												class="tree-node tree-node-content angular-ui-tree-handle">
												<!-- 												<button ></button> -->
												<a><span ng-click="count = 1" ng-init="count=0"
													ng-show="count == 0" class="icn icn-plus"></span> <!-- 												<button></button> -->
													<span ng-click="count = 0" ng-show="count == 1"
													class="icn icn-minus"></span></a> {{item.nombre}}
											</div>
											<div
												class="tree-node tree-node-content angular-ui-tree-handle g12"
												ng-show="count == 1" style="height: 40px; width: 98%">
												<div class="g4">
													<label></label>
												</div>
												<div class="g1">
													<div class="item" style="width: 75%; text-align: center;">
														<label style="font-size: 11px;">Barrido</label>
													</div>
												</div>
												<div class="g1">
													<div class="item" style="width: 131px; text-align: center;">
														<label style="font-size: 11px;">Establ.
															comerciales</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 75%; width: 80px; text-align: center;">
														<label style="font-size: 11px;">Restaurantes</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 85%; width: 60px; text-align: center;">
														<label style="font-size: 11px;">Hoteles</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 55%; width: 100px; text-align: center;">
														<label style="font-size: 11px;">Inst. Educativas</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 56%; width: 120px; text-align: center;">
														<label style="font-size: 11px;">Inst. P&uacute;bl.
															y Priv.</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 75%; width: 100px; text-align: center;">
														<label style="font-size: 11px;">Mercados</label>
													</div>
												</div>
											</div>
											<ol ng-model="item.hijos" ng-show="count == 1"
												class="angular-ui-tree-nodes">
												<li ng-repeat="subItem in item.hijos"
													class="angular-ui-tree-node">
													<div
														class="tree-node tree-node-content angular-ui-tree-handle">
														<!-- 														<button ></button> -->
														<a><span ng-click="cont = 1" ng-init="cont=0"
															ng-show="cont == 0 && subItem.hijos.length != null"
															class="icn icn-plus"></span> <!-- 														<button></button> -->
															<span ng-click="cont = 0"
															ng-show="cont == 1 && subItem.hijos.length != null"
															class="icn icn-minus"></span></a>

														<button ng-show="subItem.hijos.length == null"
															style="visibility: hidden"></button>

														<div
															style="margin-top: -17px; margin-left: 30px; font-size: 12.5px;">
															{{subItem.nombre}}


															<div class="g12" ng-show="subItem.hijos.length == null"
																style="margin-top: -25px; margin-left: 70%;">
																<div class="g4">
																	<label></label>
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: right; margin-left: -56%;"
																		ng-model="subItem.porcentaje1">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: right; margin-left: -20%;"
																		ng-model="subItem.porcentaje2">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: right; margin-left: 35%;"
																		ng-model="subItem.porcentaje3">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: right; margin-left: 45%;"
																		ng-model="subItem.porcentaje4">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: right; margin-left: 50%;"
																		ng-model="subItem.porcentaje5">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: center; margin-left: 60%;"
																		ng-model="subItem.porcentaje6">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: right; margin-left: 75%;"
																		ng-model="subItem.porcentaje7">
																</div>
															</div>
														</div>

													</div> <!-- 													 <label style="margin-left: 30%; font-size: 11px" -->
													<!-- 													ng-show="subItem.hijos.length == null && subItem.informacion != null"><span -->
													<!-- 														class="icn icn-info-sign"> {{subItem.informacion}}</span> -->
													<!-- 												</label> -->


													<ol ng-model="subItem.hijos" ng-show="cont == 1"
														class="angular-ui-tree-nodes">

														<li ng-repeat="subItem2 in subItem.hijos"
															class="angular-ui-tree-node">
															<div
																class="tree-node tree-node-content angular-ui-tree-handle">
																<!-- 																<button >+</button> -->
																<a><span ng-click="cont1 = 1" ng-init="cont1=0"
																	ng-show="cont1 == 0 && subItem2.hijos.length != null"
																	class="icn icn-plus"></span> <!-- 																<button >-</button> -->
																	<span ng-click="cont1 = 0"
																	ng-show="cont1 == 1 && subItem2.hijos.length != null"
																	class="icn icn-minus"></span></a>
																<button ng-show="subItem2.hijos.length == null"
																	style="visibility: hidden"></button>
																<div
																	style="margin-top: -17px; margin-left: 30px; font-size: 12.5px;">
																	{{subItem2.nombre}}

																	<div class="g12"
																		ng-show="subItem2.hijos.length == null"
																		style="margin-top: -25px; margin-left: 70%;">
																		<div class="g4">
																			<label></label>
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: -56%;"
																				ng-model="subItem2.porcentaje1">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: -20%;"
																				ng-model="subItem2.porcentaje2">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 35%;"
																				ng-model="subItem2.porcentaje3">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 45%;"
																				ng-model="subItem2.porcentaje4">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 50%;"
																				ng-model="subItem2.porcentaje5">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 60%;"
																				ng-model="subItem2.porcentaje6">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 75%;"
																				ng-model="subItem2.porcentaje7">
																		</div>
																	</div>
																</div>
															</div> <!-- 															<label style="margin-left: 30%; font-size: 11px" -->
															<!-- 															ng-show="subItem2.hijos.length == null && subItem2.informacion != null"><span -->
															<!-- 																class="icn icn-info-sign"> --> <!-- 																	{{subItem2.informacion}}</span> </label> -->
															<div
																class="tree-node tree-node-content angular-ui-tree-handle g12"
																ng-show="count == 1 && cont1 == 1"
																style="height: 40px; width: 98%">
																<div class="g4">
																	<label></label>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: -12px; width: 60px; text-align: center;">
																		<label style="font-size: 11px;">Barrido</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: -25px; width: 131px; text-align: center;">
																		<label style="font-size: 11px;">Establ.
																			comerciales</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 50%; width: 80px; text-align: center;">
																		<label style="font-size: 11px;">Restaurantes</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 70%; width: 60px; text-align: center;">
																		<label style="font-size: 11px;">Hoteles</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 49%; width: 100px; text-align: center;">
																		<label style="font-size: 11px;">Inst.
																			Educativas</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 46%; width: 120px; text-align: center;">
																		<label style="font-size: 11px;">Inst.
																			P&uacute;bl. y Priv.</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 67%; width: 100px; text-align: center;">
																		<label style="font-size: 11px;">Mercados</label>
																	</div>
																</div>
															</div>

															<ol ng-model="subItem2.hijos" ng-show="cont1 == 1"
																class="angular-ui-tree-nodes">
																<li ng-repeat="subItem3 in subItem2.hijos"
																	class="angular-ui-tree-node">
																	<div
																		class="tree-node tree-node-content angular-ui-tree-handle"
																		style="font-weight: inherit; font-size: 12.5px;">
																		{{subItem3.nombre}}
																		<div class="g12"
																			style="margin-top: -25px; margin-left: 70%;">
																			<div class="g4">
																				<label></label>
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: -56%;"
																					ng-model="subItem3.porcentaje1">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: -20%;"
																					ng-model="subItem3.porcentaje2">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 35%;"
																					ng-model="subItem3.porcentaje3">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 45%;"
																					ng-model="subItem3.porcentaje4">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 50%;"
																					ng-model="subItem3.porcentaje5">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 60%;"
																					ng-model="subItem3.porcentaje6">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 75%;"
																					ng-model="subItem3.porcentaje7">
																			</div>
																		</div>
																	</div> <!-- 																	<label style="margin-left: 30%; font-size: 11px" -->
																	<!-- 																	ng-show="subItem3.hijos.length == null && subItem3.informacion != null"><span -->
																	<!-- 																		class="icn icn-info-sign"> --> <!-- 																			{{subItem3.informacion}}</span> </label> -->
																</li>
															</ol>
														</li>
													</ol>
												</li>
											</ol>
										</li>
									</ol>
								</div>
							</div>
						</div>
						<br> <br>
						<div class="row" ng-show="composicionNoDomiciliarTotal != 100">
							<div class="g12">
								<div class="g6">
									<label><span style="color: red;">El total de
											composici&oacute;n no domiciliar debe ser igual a 100%</span></label> <label
										ng-show="composicionNoDomiciliarTotal == 100">{{getTotalComposicionNoDomiciliar()}}</label>
								</div>
							</div>
						</div>
					</div>

					<h3 class="accordion" ng-class="{active:accordion==3}">
						<a id="cabecera2" class="etiqueta" href ng-click="accordion = 3">Residuos
							Especiales </a>
					</h3>
					<div class="accordion-content" ng-show="accordion==3">
						<div class="row">
							<div class="g12">
								<h5>Generaci&oacute;n de residuos especiales, seg&uacute;n
									origen (t/a&ntilde;o)</h5>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div id="tree-root" class="angular-ui-tree">
									<ol class="angular-ui-tree-nodes"
										ng-model="lstResSolidosEspeciales">
										<li ng-repeat="item in lstResSolidosEspeciales"
											class="angular-ui-tree-node">
											<div
												class="tree-node tree-node-content angular-ui-tree-handle">
												<!-- 												<button >+</button> -->
												<a><span ng-click="count = 1" ng-init="count=0"
													ng-show="count == 0" class="icn icn-plus"></span> <!-- 												<button >-</button> -->
													<span ng-click="count = 0" ng-show="count == 1"
													class="icn icn-minus"></span></a> {{item.nombre}}
											</div>
											<div
												class="tree-node tree-node-content angular-ui-tree-handle g12"
												ng-show="count == 1" style="height: 40px; width: 98%">
												<div class="g4">
													<label></label>
												</div>
												<div class="g1">
													<div class="item" style="width: 75%; text-align: center;">
														<label style="font-size: 11px;">Laboratorios</label>
													</div>
												</div>
												<div class="g1">
													<div class="item" style="width: 131px; text-align: center;">
														<label style="font-size: 11px;">Lubricentros</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 70%; width: 80px; text-align: center;">
														<label style="font-size: 11px;">Veterinarias</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 62%; width: 80px; text-align: center;">
														<label style="font-size: 11px;">C. Comercial</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 62%; width: 100px; text-align: center;">
														<label style="font-size: 11px;">Eventos masivos</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 53%; width: 120px; text-align: center;">
														<label style="font-size: 11px;"
															title="Residuos de construcci&oacute;n y demolici&oacute;n de obras menores">RCD
															OM</label>
													</div>
												</div>
												<div class="g1">
													<div class="item"
														style="margin-left: 75%; width: 100px; text-align: center;">
														<label style="font-size: 11px;">Otros</label>
													</div>
												</div>
											</div>
											<ol ng-model="item.hijos" ng-show="count == 1"
												class="angular-ui-tree-nodes">
												<li ng-repeat="subItem in item.hijos"
													class="angular-ui-tree-node">
													<div
														class="tree-node tree-node-content angular-ui-tree-handle">
														<!-- 														<button >+</button> -->
														<a><span ng-click="cont = 1" ng-init="cont=0"
															ng-show="cont == 0 && subItem.hijos.length != null"
															class="icn icn-plus"></span> <!-- 														<button >-</button> -->
															<span ng-click="cont = 0"
															ng-show="cont == 1 && subItem.hijos.length != null"
															class="icn icn-minus"></span></a>
														<button ng-show="subItem.hijos.length == null"
															style="visibility: hidden"></button>
														<div
															style="margin-top: -17px; margin-left: 30px; font-size: 12.5px;">
															{{subItem.nombre}}
															<div class="g12" ng-show="subItem.hijos.length == null"
																style="margin-top: -25px; margin-left: 70%;">
																<div class="g4">
																	<label></label>
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: center; margin-left: -56%;"
																		ng-model="subItem.porcentaje1">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: center; margin-left: -20%;"
																		ng-model="subItem.porcentaje2">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: center; margin-left: 35%;"
																		ng-model="subItem.porcentaje3">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: center; margin-left: 45%;"
																		ng-model="subItem.porcentaje4">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: center; margin-left: 50%;"
																		ng-model="subItem.porcentaje5">
																</div>
																<div class="g1">
																	<input id="" type="number"
																		style="width: 100%; text-align: center; margin-left: 60%;"
																		ng-model="subItem.porcentaje6">
																</div>
																<div class="g1">
																	<input id="" type="number" min="0" max="100"
																		step="0.00001"
																		style="width: 100%; text-align: center; margin-left: 75%;"
																		ng-model="subItem.porcentaje7">
																</div>
															</div>
														</div>
													</div> <!-- 													 <label style="margin-left: 30%; font-size: 11px" -->
													<!-- 													ng-show="subItem.hijos.length == null && subItem.informacion != null"><span -->
													<!-- 														class="icn icn-info-sign"> {{subItem.informacion}}</span> -->
													<!-- 												</label> -->

													<ol ng-model="subItem.hijos" ng-show="cont == 1"
														class="angular-ui-tree-nodes">
														<li ng-repeat="subItem2 in subItem.hijos"
															class="angular-ui-tree-node">
															<div
																class="tree-node tree-node-content angular-ui-tree-handle">
																<!-- 																<button >+</button> -->
																<a><span ng-click="cont1 = 1" ng-init="cont1=0"
																	ng-show="cont1 == 0 && subItem2.hijos.length != null"
																	class="icn icn-plus"></span> <!-- 																<button >-</button> -->
																	<span ng-click="cont1 = 0"
																	ng-show="cont1 == 1 && subItem2.hijos.length != null"
																	class="icn icn-minus"></span></a>
																<button ng-show="subItem2.hijos.length == null"
																	style="visibility: hidden"></button>
																<div
																	style="margin-top: -17px; margin-left: 30px; font-size: 12.5px;">
																	{{subItem2.nombre}}

																	<div class="g12"
																		ng-show="subItem2.hijos.length == null"
																		style="margin-top: -25px; margin-left: 70%;">
																		<div class="g4">
																			<label></label>
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: -56%;"
																				ng-model="subItem2.porcentaje1">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: -20%;"
																				ng-model="subItem2.porcentaje2">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 35%;"
																				ng-model="subItem2.porcentaje3">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: center; margin-left: 45%;"
																				ng-model="subItem2.porcentaje4">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 50%;"
																				ng-model="subItem2.porcentaje5">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 60%;"
																				ng-model="subItem2.porcentaje6">
																		</div>
																		<div class="g1">
																			<input id="" type="number" min="0" max="100"
																				step="0.00001"
																				style="width: 100%; text-align: right; margin-left: 75%;"
																				ng-model="subItem2.porcentaje7">
																		</div>
																	</div>
																</div>
															</div> <!-- 															<label style="margin-left: 30%; font-size: 11px" -->
															<!-- 															ng-show="subItem2.hijos.length == null && subItem2.informacion != null"><span -->
															<!-- 																class="icn icn-info-sign"> --> <!-- 																	{{subItem2.informacion}}</span> </label> -->
															<div
																class="tree-node tree-node-content angular-ui-tree-handle g12"
																ng-show="cont1 == 1" style="height: 40px; width: 98%">
																<div class="g4">
																	<label></label>
																</div>
																<div class="g1">
																	<div class="item"
																		style="width: 70%; text-align: center; margin-left: -25px;">
																		<label style="font-size: 11px;">Laboratorios</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="width: 79px; text-align: center;">
																		<label style="font-size: 11px;">Lubricentros</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 50%; width: 80px; text-align: center;">
																		<label style="font-size: 11px;">Veterinarias</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 57%; width: 80px; text-align: center;">
																		<label style="font-size: 11px;">C. Comercial</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 48%; width: 100px; text-align: center;">
																		<label style="font-size: 11px;">Eventos
																			masivos</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 42%; width: 120px; text-align: center;">
																		<label style="font-size: 11px;"
																			title="Residuos de construcci&oacute;n y demolici&oacute;n de obras menores">RCD
																			OM</label>
																	</div>
																</div>
																<div class="g1">
																	<div class="item"
																		style="margin-left: 67%; width: 100px; text-align: center;">
																		<label style="font-size: 11px;">Otros</label>
																	</div>
																</div>
															</div>
															<ol ng-model="subItem2.hijos" ng-show="cont1 == 1"
																class="angular-ui-tree-nodes">
																<li ng-repeat="subItem3 in subItem2.hijos"
																	class="angular-ui-tree-node">
																	<div
																		class="tree-node tree-node-content angular-ui-tree-handle"
																		style="font-weight: inherit; font-size: 12.5px;">
																		{{subItem3.nombre}}
																		<div class="g12"
																			style="margin-top: -25px; margin-left: 70%;">
																			<div class="g4">
																				<label></label>
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: -56%;"
																					ng-model="subItem3.porcentaje1">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: -20%;"
																					ng-model="subItem3.porcentaje2">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 35%;"
																					ng-model="subItem3.porcentaje3">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 45%;"
																					ng-model="subItem3.porcentaje4">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 50%;"
																					ng-model="subItem3.porcentaje5">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 60%;"
																					ng-model="subItem3.porcentaje6">
																			</div>
																			<div class="g1">
																				<input id="" type="number" min="0" max="100"
																					step="0.00001"
																					style="width: 100%; text-align: right; margin-left: 75%;"
																					ng-model="subItem3.porcentaje7">
																			</div>
																		</div>
																	</div> <!-- 																	 <label style="margin-left: 30%; font-size: 11px" -->
																	<!-- 																	ng-show="subItem3.hijos.length == null && subItem3.informacion != null"><span -->
																	<!-- 																		class="icn icn-info-sign"> --> <!-- 																			{{subItem3.informacion}}</span> </label> -->
																</li>
															</ol>
														</li>
													</ol>
												</li>
											</ol>
										</li>
									</ol>
								</div>
							</div>
						</div>
						<br> <br>
						<div class="row">
							<div class="g12">
								<div class="g6">
									<h5>
										<span style="font-weight: bold;">Residuos de
											construcci&oacute;n y demolici&oacute;n de obras menores (RCD
											OM)</span> <i class="icn icn-info-sign"
											title="Relaci&oacute;n de residuos s&oacute;lidos de la construcci&oacute;n y demolici&oacute;n reutilizables o reciclables (desmonete limpio) Anexo 4, D.S.019-2016 Vivienda. Estos residuos se consideran en el &aacute;mbito del Manejo de residuos s&oacute;lidos municipales especiales, de acuerdo al Art. 43, D.S. 014-2017 MINAM"></i>
									</h5>

								</div>
							</div>
						</div>

						<div class="row">
							<table id="tblRcdOm" ng-table="tblRcdOm" show-filter="false"
								style="width: 40%;" class="table square">
								<tbody>
									<tr ng-repeat="item in lstRcdOm">
										<td data-title="'Tipo de Residuo'"><span
											ng-show="item.tipo_construccion.flag_cantidad == 0"
											style="font-weight: bold;">{{item.tipo_construccion.nombre_tipo}}</span>
											<span ng-show="item.tipo_construccion.flag_cantidad == 1">{{item.tipo_construccion.nombre_tipo}}</span>
										</td>
										<td data-title="'Cantidad (t/a&ntilde;o)'"><input
											id="cantidad" type="number"
											ng-show="item.tipo_construccion.flag_cantidad == 1"
											ng-model="item.cantidad"  min="0"></td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<label ng-show="false">{{getTotalRcdOm()}}</label>

					</div>
				</div>
			</div>
		</div>


		<br> <br>

		<div>
			<label class="etiqueta" style="color: red">(*) Campos
				requeridos</label>
		</div>
		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">Volver</button>
					<button type="button" class="btnTab btn-primary btn-sm" id="" ng-if="generacion.flag_generacion == 1"
						title="" ng-click="guardar()"
						ng-disabled="composicionTotal != 100 || composicionNoDomiciliarTotal != 100">
						<!--ng-disabled="!myForm.$valid"-->
						Guardar
					</button>
					<button type="button" class="btnTab btn-primary btn-sm" id="" ng-if="generacion.flag_generacion == 0"
						title="" ng-click="guardarOtro()">
						Guardar
					</button>
				</div>
			</div>
		</div>
	</div>
</form>