<div ng-include="'src/views/parts/menu.html'"></div>
<div class="container container-full">
	<form>
		<div class="widget p_header">
			<div class="row">
				<div class="g12">
					<div class="g4">
						<div class="item left">
							<h3 class="coll">Gesti&oacute;n de Residuos</h3>
						</div>
					</div>
					<div class="g8">
						<div class="item right">
							<h3 class="coll">Bienvenidos Municipalidad {{distrito}} -
								{{provincia}} - {{departamento}}</h3>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="container-panel panel-body">
			<div ng-repeat="alert in alerts">
				<notification ng-model="alert" />
			</div>
			<div class="row">
				<div class="g12">
					<div class="g3">
						<div class="item align-center">
							<button type="button" class="btn btn-primary btn-sm btn-step">1</button>
						</div>
						<div class="item align-center">
							<button type="button"
								class="btn btn-primary btn-sm btn-name-step" ng-click="datos()">DATOS
								GENERALES</button>
						</div>
					</div>


					<!--label><span style="position: absolute; top: 240px; left: 25px; font-weight: bold; font-size: 30px;">1</span></label-->
					<div class="g3">
						<div class="item align-center">
							<button type="button" class="btn btn-primary btn-sm btn-step">2</button>
						</div>
						<div class="item align-center">
							<button type="button"
								title="LLENADO DE INFORMACI&Oacute;N DE LA GESTI&Oacute;N DE RS SS"
								class="btn btn-primary btn-sm btn-name-step">GESTI&Oacute;N
								DE RS SS</button>
						</div>
					</div>

					<div class="g3">
						<div class="item align-center">
							<button type="button" class="btn btn-primary btn-sm btn-step">3</button>
						</div>
						<div class="item align-center">
							<button type="button"
								class="btn btn-primary btn-sm btn-name-step"
								ng-click="finanzas()">ADMINISTRACI&Oacute;N Y FINANZAS</button>
						</div>
					</div>
					<!--label><span style="position: absolute; top: 315px; left: 25px; font-weight: bold; font-size: 28px;">3</span></label-->
					<div class="g3">
						<div class="item align-center">
							<button type="button" class="btn btn-primary btn-sm btn-step">4</button>
						</div>
						<div class="item align-center">
							<button type="button"
								class="btn btn-primary btn-sm btn-name-step"
								ng-click="ambiental()">EDUCACI&Oacute;N AMBIENTAL</button>
						</div>
					</div>
					<!--label><span style="position: absolute; top: 400px; left: 25px; font-weight: bold; font-size: 28px;">4</span></label-->
				</div>
			</div>
			<br> <br>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<p></p>
					</div>
					<div class="g8">
						<!--label><span style="position: absolute; top: 250px; left: 450px; font-weight: bold; font-size: 28px;">2</span></label-->
						<div class="wrapper_infografia">
							<div class="camino1">
								<img ng-if="flagGeneracion == 1"
									src="src/assets/images/camino1_in.png" alt=""> <img
									ng-if="flagGeneracion == 0"
									src="src/assets/images/camino1_out.png" alt="">

							</div>
							<div class="camino2">
								<img ng-if="flagBarrido == 1 && flagAlmacenamiento == 1"
									src="src/assets/images/camino2_in.png"> <img
									ng-if="flagBarrido == 0 || flagAlmacenamiento == 0"
									src="src/assets/images/camino2_out.png">
							</div>
							<div class="camino3">
								<img ng-if="flagRecoleccion == 1"
									src="src/assets/images/camino3_in.png"> <img
									ng-if="flagRecoleccion == 0"
									src="src/assets/images/camino3_out.png">
							</div>
							<div class="camino4">
								<img ng-if="flagRecoleccion == 1"
									src="src/assets/images/camino4_in.png"> <img
									ng-if="flagRecoleccion == 0"
									src="src/assets/images/camino4_out.png">
							</div>
							<div class="camino6">
								<img ng-if="flagValorizacion == 1"
									src="src/assets/images/camino5_in.png"> <img
									ng-if="flagValorizacion == 0"
									src="src/assets/images/camino5_out.png">
							</div>
							<div class="camino7">
								<img ng-if="flagTransferencia == 1"
									src="src/assets/images/camino6_in.png"> <img
									ng-if="flagTransferencia == 0"
									src="src/assets/images/camino6_out.png">
							</div>
							<div class="generacion_txt">GENERACI&Oacute;N</div>
							<div class="almacenamiento_txt">
								ALMACENAMIENTO EN <br> ESPACIO DE USO P&Uacute;BLICO
							</div>
							<div class="barrido_txt">
								BARRIDO Y LIMPIEZA <br> DE ESPACIOS P&Uacute;BLICOS
							</div>
							<div class="recoleccion_txt">
								RECOLECCI&Oacute;N Y <br> TRANSPORTE
							</div>
							<div class="disposicion_txt">
								DISPOSICI&Oacute;N<br>FINAL
							</div>
							<div class="valorizacion_txt">VALORIZACI&Oacute;N</div>
							<div class="transferencia_txt">TRANSFERENCIA</div>
							<div class="generacion_esp">
								<a ng-if="flagGeneracion == 1" ng-click="generacion()"><img
									src="src/assets/images/Recurso9.png" alt=""></a> <a
									ng-if="flagGeneracion == 0" ng-click="generacion()"><img
									src="src/assets/images/Recurso32.png" alt=""></a>

							</div>
							<div class="almacenamiento_esp">
								<a ng-if="flagAlmacenamiento == 1" ng-click="almacenamiento()"><img
									src="src/assets/images/Recurso10.png" alt=""></a> <a
									ng-if="flagAlmacenamiento == 0" ng-click="almacenamiento()"><img
									src="src/assets/images/Recurso33.png" alt=""></a>
							</div>
							<div class="barrido_esp">
								<a ng-if="flagBarrido == 1" ng-click="barrido()"><img
									src="src/assets/images/Recurso11.png" alt=""></a> <a
									ng-if="flagBarrido == 0" ng-click="barrido()"><img
									src="src/assets/images/Recurso34.png" alt=""></a>
							</div>
							<div class="recoleccion_esp">
								<a ng-if="flagRecoleccion == 1" ng-click="recoleccion()"><img
									src="src/assets/images/Recurso12.png" alt=""></a> <a
									ng-if="flagRecoleccion == 0" ng-click="recoleccion()"><img
									src="src/assets/images/Recurso35.png" alt=""></a>
							</div>
							<div class="disposicion_esp">
								<a ng-if="flagDisposicionFinal == 1" ng-click="disposicion()"><img
									src="src/assets/images/Recurso15.png" alt=""></a> <a
									ng-if="flagDisposicionFinal == 0" ng-click="disposicion()"><img
									src="src/assets/images/Recurso38.png" alt=""></a>
							</div>
							<div class="valorizacion_esp">
								<a ng-if="flagValorizacion == 1" ng-click="valorizacion()"><img
									src="src/assets/images/Recurso13.png" alt=""></a> <a
									ng-if="flagValorizacion == 0" ng-click="valorizacion()"><img
									src="src/assets/images/Recurso36.png" alt=""></a>
								<!--a class="valorizacion"
											ng-if="flagValorizacion == 0 && flagRecoleccion == 0" ng-click="valorizacion()"><img
											src="src/assets/images/Recurso36.png" alt=""></a-->
							</div>
							<div class="transferencia_esp">
								<a ng-if="flagTransferencia == 1" ng-click="transferencia()"><img
									src="src/assets/images/Recurso14.png" alt=""></a> <a
									ng-if="flagTransferencia == 0" ng-click="transferencia()"><img
									src="src/assets/images/Recurso37.png" alt=""></a>
							</div>
							<div class="boton_imprimir">
								<a ng-click="exportarPDF()"><img src="./src/assets/images/btn_imp.png"></a>
							</div>
							<!-- 									<div class="subir_reporte"> 
										<a href=""><img src="./src/assets/images/btn_sub_reporte.png"></a>
								</div-->
						</div>
					</div>

				</div>
			</div>

		</div>

	</form>

</div>

<div id="modalConfirmacionCiclo" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">Confirmaci&oacute;n</h4>
			</div>
			<div class="modal-body">Desea iniciar el registro para el
				a&ntilde;o {{anioReporte}}?</div>
			<div class="modal-footer">
				<a class="btn btn-primary btn-ms" ng-click="grabarGestion()">Si</a>
				<a class="btn btn-primary btn-ms" data-dismiss="modal">No</a>
			</div>
		</div>
	</div>
</div>
