<header>
	<div class="container container-full">
		<div class="brand">
			<div class="logosigersol">
				<a href="#" target="_self"><img
					src="./src/assets/images/logosigersol.png" /></a>
			</div>
		</div>
		<div class="ls-horizontal right">
			<div class="logominam">
				<a href="http://www.minam.gob.pe" target="_self"><img
					src="./src/assets/images/logominam.png" /></a>
			</div>
		</div>
	</div>
</header>
	<div class="layout">
		<div class="container container-full">
			<div class="row">
				<div class="g12">
					<div class="g8">
						<div id="titulo1">
							<span style="font-size: 21px; margin-top: -20px;">TITULO 01</span>
						</div>
						<div id="titulo2">
							Texto sobre SIGERSOL las emisiones sirve de alerta para que las personas tomen conciencia del grado de 
							contaminaci&oacute;n que producen tanto las f&aacute;bricas, como en su vida diaria.
						</div>
						<div id="cuerpo">
					
						</div>
					</div>
					<div class="g4">
						<div id="login"  border="0" width="100%">
							<div style="padding-top: 5%;">
								<span class="logintitulo">Login</span>
							</div>
							<div style="padding-top: 5%;">
								<span class="loginletra">Usuario</span><br>
								<input id="logininput" class="logininput" type="text">
								<br>
								<span class="loginletra" style="font-size:12px;">Bienvenida:  Distrito/provincia/Departamento</span>
								<br><br>
								<span class="loginletra">Responsable</span><br>
								<input id="logininput" class="logininput" type="text">
								<br><br>
								<span class="loginletra">Contrase&ntilde;a</span><br>
								<input id="logininput" class="logininput" type="text">
							</div>
							<div style="padding-top: 10%; margin-left: 100px;">
								<div  style="background-image: url('./src/assets/images/btn_ingresar.png'); border: 1px solid #fff; width: 100px; 
								text-align: center; margin-left: 20px;"><a href="#"><span class="loginingresar" >Ingresar</span></a>
								</div>
							</div>
							<div style="padding-top: 5%;">
								<a href="#"><span class="loginovidaste">Olvid&eacute; mi contrase&ntilde;a</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div ng-include="'src/views/parts/footer2.html'"></div>
