<header>
	<div class="container container-full">
		<div class="cabecera">
			<div class="logosigersol">
				<img src="./src/assets/images/logosigersol.png"
					style="height: 110px;" />
			</div>
			<div class="logominam">
				<a href="http://www.minam.gob.pe" target="_self"><img
					src="./src/assets/images/logominam.png" /></a>
			</div>

		</div>
	</div>
</header>
<form name="formLogin" ng-submit="summit()" novalidate
	autocomplete="off">

	<div class="row">
		<div class="widget p_header">
			<h3 class="coll">Sistema de Informaci&oacute;n para la
				Gesti&oacute;n de Residuos S&oacute;lidos</h3>
			<div class="clear"></div>
		</div>
	</div>
	<div class="inner-login">
		<div ng-repeat="alert in alerts">
			<notification ng-model="alert" />
		</div>

		<div class="inner-right">
			<h2>Iniciar sesi&#243;n</h2>

			<div class="field">
				<i class="icnx icn-username"></i> <input type="text" name="username"
					ng-model="username" required="" placeholder="Usuario" autofocus
					maxlength="12"> <span
					ng-show="formLogin.input.$error.required">Requerido</span>
			</div>
			<div class="field">
				<i class="icnx icn-password"></i> <input type="text" name="dni"
					ng-model="dni" required="" placeholder="DNI" autofocus
					maxlength="8"> <span
					ng-show="formLogin.input.$error.required">Requerido</span>
			</div>
			<div class="field">
				<i class="icnx icn-password"></i> <input type="password"
					name="password" ng-model="password" required=""
					placeholder="Contrase&#241;a" maxlength="50">
			</div>
			<!-- 				<div class="field"> -->
			<!-- 					<div class="left"> -->
			<!-- 						<a ng-click="abrirCambioClave()">Cambiar Contrase&ntilde;a</a> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<div class="field">&nbsp;</div>
			<div class="field">

				<button id="btn_login" type="submit" class="btn btn-primary btn-sm"
					ng-disabled="formLogin.$invalid">Iniciar sesi&#243;n</button>

				<div class="clear"></div>

			</div>
		</div>
	</div>


	<div ng-include="'src/views/parts/footer2.html'"></div>
</form>