<header>
	<div class="container container-full">
		<div class="cabecera">
			<div class="logosigersol">
				<img src="./src/assets/images/logosigersol.png"
					style="height: 110px;" />
			</div>
			<div class="logominam">
				<a href="http://www.minam.gob.pe" target="_self"><img
					src="./src/assets/images/logominam.png" /></a>
			</div>

		</div>
	</div>
</header>

<form>
	<!-- 	<div class="layout"> -->
	<div class="container container-full">

		<div class="row">
			<div class="widget p_header">
				<h3 class="coll">Sistema de Informaci&oacute;n para la
					Gesti&oacute;n de Residuos S&oacute;lidos</h3>
				<div class="clear"></div>
			</div>
		</div>

		<div class="row">

			<div class="g12">
				<div class="g6">
					<!-- 							<div id="titulo"> -->
					<!-- 								<span style="font-size: 21px; margin-top: -20px;">Sistema de Informaci&oacute;n para la Gesti&oacute;n de Residuos S&oacute;lidos (SIGERSOL)</span> -->
					<!-- 							</div> -->
					<p style="margin: 4%; text-align: justify;">SIGERSOL es una
						herramienta, administrada por el Ministerio del Ambiente (MINAM),
						la cual facilita el registro, procesamiento y difusi&oacute;n de
						la informaci&oacute;n sobre el manejo y gesti&oacute;n de los
						residuos s&oacute;lidos, en el marco del Sistema Nacional de
						Informaci&oacute;n Ambiental (SINIA). Este sistema, permite
						realizar acciones de gesti&oacute;n y ejercer funciones de
						fiscalizaci&oacute;n en materia de residuos s&oacute;lidos a las
						autoridades competentes y adem&aacute;s, registra
						informaci&oacute;n en materia de residuos s&oacute;lidos de las
						municipalidades, Empresas Operadoras de Residuos S&oacute;lidos
						(EO-RS) y generadores del &aacute;mbito no municipal. De otro
						lado, el MINAM consolida la informaci&oacute;n recabada en este
						sistema y presenta sus resultados a trav&eacute;s del Informe
						Nacional sobre el Estado del Ambiente en el Per&uacute;, el mismo
						que es puesto a disposici&oacute;n de la ciudadan&iacute;a a
						trav&eacute;s de su portal institucional. Del mismo modo, SIGERSOL
						emitir&aacute; reportes de las emisiones y reducciones de gases
						efecto invernadero del sector residuos s&oacute;lidos, el cual
						constituye un insumo para la elaboraci&oacute;n de Inventario
						Nacional de Gases Efecto Invernadero, a trav&eacute;s del
						INFOCARBONO.</p>
					<p
						style="background: #0082c7; text-align: right; padding: 5px 20px; color: #ffff; font-weight: bold;">
						<span class="icn icn-arrow-right"> </span> <a
							href="{{urlBase}}/#/login" style="color: #ffffff;">INGRESAR</a>
					</p>


				</div>
				<div class="g6">
					<div id="principal_imagen"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 	</div> -->
	<div ng-include="'src/views/parts/footer2.html'"></div>
</form>