<header>
	<div class="container container-full">
		<div ng-include="'src/views/parts/menu.html'"></div>
	</div>
</header>
<form>

		<div class="row">
			<div class="widget header">
				<div class="g4">
					<h3 class="coll">Parametros Generales</h3>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div class="layout">
			<div class="row">
				<div class="panel-group">
					<div class="panel-header">
						<h4>Cabecera</h4>
					</div>

					<div class="panel-body">
						<div class="container container-full">
							<div class="row">
								<div class="right">
									<input id="" type="button" value="Nuevo" style="width:70px;">			
								</div>
							</div>
							<table>
								<thead>
									<tr>
										<th>Id</th>
										<th>Parametro</th>
										<th>Valor</th>
										<th>Editar</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Param 1</td>
										<td>Valor 1</td>
										<td></td>
									</tr>
									<tr>
										<td>1</td>
										<td>Param 1</td>
										<td>Valor 1</td>
										<td></td>
									</tr>
									<tr>
										<td>1</td>
										<td>Param 1</td>
										<td>Valor 1</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>
