<div ng-include="'src/views/parts/menu.html'"></div>

<div class="container container-full">
	<form>
		<div class="row">
			<div class="widget header">
				<div class="g4">
					<h3 class="coll">Plantilla</h3>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="g12">
					<div ng-repeat="alert in alerts">
						<notification ng-model="alert" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>