<header>
	<div class="container container-full">
		<div ng-include="'src/views/parts/menu.html'"></div>
	</div>
</header>

<form>

		<div class="row">
			<div class="widget header">
				<div class="g4">
					<h3 class="coll">Preguntas Frecuentes</h3>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div class="layout">
			<div class="row">
				<div class="panel-group">
					
					<div class="panel-body">
						<div class="container container-full">
							<div class="row">
									<input id="" type="text" style="width:450px;">
									<input id="" type="button" value="Buscar" style="width:100px;">			
							</div>
							<br><br>
							<div class="g6">
								<div id="idContentPersonal" ng-init="accordion=1">
									<div class="row" style="margin-bottom: 20px">
										<div class="item">
											<label id="lblPregunta" style="font-weight: bold;">{{paramFilter.pregunta}}</label>
										</div>
									</div>
									<div class="clear"></div>
									<div class="clear"></div>
									<br>
									<h3 class="accordion" ng-class="{active:accordion==1}">
										<a href ng-click="accordion = 1">Pregunta Uno</a>
									</h3>
									<div class="accordion-content" ng-show="accordion==1">
										<div class="row">
											<div class="g12">
												<p></p>
											</div>
										</div>
									</div>
									<h3 class="accordion" ng-class="{active:accordion==2}">
										<a href ng-click="accordion = 2">Pregunta Dos</a>
									</h3>
									<div class="accordion-content" ng-show="accordion==2">
										<div class="row">
											<div class="g12">
												<p></p>
											</div>
										</div>
									</div>
									<h3 class="accordion" ng-class="{active:accordion==3}">
										<a href ng-click="accordion = 3">Pregunta Tres</a>
									</h3>
									<div class="accordion-content" ng-show="accordion==3">
										<div class="row">
											<div class="g12">
												<p></p>
											</div>
										</div>
									</div>
									<h3 class="accordion" ng-class="{active:accordion==4}">
										<a href ng-click="accordion = 4">Pregunta Cuatro</a>
									</h3>
									<div class="accordion-content" ng-show="accordion==4">
										<div class="row">
											<div class="g12">
												<p></p>
											</div>
										</div>
									</div>
									<h3 class="accordion" ng-class="{active:accordion==5}">
										<a href ng-click="accordion = 5">Pregunta Cinco</a>
									</h3>
									<div class="accordion-content" ng-show="accordion==5">
										<div class="row">
											<div class="g12">
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-include="'src/views/parts/footer2.html'"></div>
</form>