<div ng-include="'src/views/parts/menu.html'"></div>

<form name="myFormRecoleccion" class="container container-full">
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Recolecci&oacute;n</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="container-panel panel-body">
		<div ng-init="accordion=0">
			<div class="row">
				<div class="clear"></div>
				<h3 class="accordion" ng-class="{active:accordion==1}"
					title="Residuos s&oacute;lidos transportados al sitio de disposici&oacute;n final">
					<a id="cabecera2" ng-click="accordion = 1">Recolecci&oacute;n
						de residuos s&oacute;lidos para disposici&oacute;n final </a>
				</h3>

				<div class="accordion-content" ng-show="accordion==1">
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label class="etiqueta">Administrador del Servicio</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<select ng-model="recoleccion_df.adm_serv_id">
										<option value="">Seleccionar</option>
										<option value="DIR">Directo</option>
										<option value="TER">Tercerizado</option>
										<option value="MIX">Mixto</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Costo Anual</label>
								</div>
							</div>
							<div class="g3">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="number" min="0" style="width: 150px"
										title="Costo anual de la recolecci&oacute;n para disposici&oacute;n final"
										ng-model="recoleccion_df.costo_anual" required> <label
										class="unidad"> Soles/a&ntilde;o</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label class="etiqueta">Frecuencia de
										recolecci&oacute;n</label>
								</div>
							</div>
							<div class="g9">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="number" style="width: 100px" min="0"
										ng-model="recoleccion_df.fr1"> <label class="etiqueta">veces</label>
									<label class="etiqueta" style="margin-left: 50px;">cada
									</label> <input id="" type="number" style="width: 100px;" min="0"
										ng-model="recoleccion_df.fr2"> <label class="etiqueta">d&iacute;a(s)</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top: 10px;">
						<div class="g12">
							<div class="g4">
								<div class="item right">
									<label class="etiqueta">Cant. de residuos provenientes
										del barrido</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="barrido"
										title="Total recolectado en el barrido y limpieza de espacios p&uacute;blicos"
										disabled> <label class="unidad"> t/a&ntilde;o</label>
								</div>
							</div>
							<div class="g3">
								<div class="item right">
									<label class="etiqueta">Cant. de residuos municipales
										recolectados</label>
								</div>
							</div>
							<div class="g3">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="recoleccion_df.cantidad_residuos"> <label
										class="unidad">t/a&ntilde;o</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g4">
								<div class="item right">
									<label class="etiqueta">Cant. de residuos provenientes
										del almacenamiento</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="almacenamiento"
										title="Total recolectado en el barrido y limpieza de espacios p&uacute;blicos"
										disabled> <label class="unidad">t/a&ntilde;o</label>

								</div>
							</div>
							<div class="g3">
								<div class="item right">
									<label style="font-weight: bold;">Total recolectado
										para disposici&oacute;n final</label>
								</div>
							</div>
							<div class="g3">
								<div class="item" style="margin-bottom: 3px">
									<label style="font-weight: bold;">{{getTotalRecolectado()|
											number:2}}</label>
									<label class="unidad">t/a&ntilde;o</label>
								</div>
							</div>

						</div>
					</div>

					<div class="row" ng-show="recoleccion_df.adm_serv_id != 2">
						<fieldset>
							<legend
								title="Veh&iacute;culos para recolecci&oacute;n de residuos municipales para disposici&oacute;n final">Veh&iacute;culos
								para disposici&oacute;n final</legend>

							<h5>
								<span style="font-weight: bold;"
									title="D.S. 014-2017-MINAM, Art. 29: tipos de veh&iacute;culos para la recolecci&oacute;n. Art. 29a: Camiones compactadores, camiones barandas, camiones para contenedores de gran capacidad y similares">Veh&iacute;culos
									convencionales</span>
							</h5>


							<div class="row">
								<div class="g12">

									<div class="g3">
										<div class="item">
											<label><span style="font-weight: bold;">Datos
													del veh&iacute;culo</span></label>
										</div>
									</div>
									<div class="g6">
										<div class="item right">
											<button type="button" class="btn btn-primary1 btn-sm" id=""
												title="" ng-click="agregar()">Agregar</button>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">

									<table id="tblVehiculoConvencional" style="width: 80%"
										ng-table="tblVehiculoConvencional" show-filter="false"
										class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Recorrido anual</th>
												<th>Tipo de veh&iacute;culo</th>
												<th>A&ntilde;o de fabricaci&oacute;n</th>
												<th>Capacidad</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstVehiculoConvencional">
												<td class="tabla-celda"><input id="" type="text"
													ng-maxlength="8" ng-model="item.placa"
													ng-change="func($index)" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.recorrido"  style="width: 100px;">
													(Km)</td>
												<td class="tabla-celda"><input id="" type="text"
													ng-model="item.tipo_vehiculo" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.fabricacion" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0" ng-change="setCapacidad($index)"
													ng-model="item.capacidad" style="width: 100px;">
													(t)</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="g12">


									<div class="item">
										<label><span style="font-weight: bold;">Combustible
												consumido por el veh&iacute;culo:</span></label>
									</div>

								</div>
							</div>

							<div class="row">
								<div class="g12">


									<table id="tblComb" ng-table="tblComb" show-filter="false"
										style="width: 80%" class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Tipo</th>
												<th>Cantidad</th>
												<th>Costo anual</th>
												<th>Rendimiento anual</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstComb">
												<td class="tabla-celda">{{item.placa}}</td>
												<td class="tabla-celda"><select id=""
													ng-model="item.tipo" style="width: 100px;">
														<option value=""></option>
														<option value="1">Di&eacute;sel</option>
														<option value="2">Gasolina</option>
														<option value="3">GLP</option>
														<option value="4">GNV</option>
														<option value="5">Otros</option>
												</select></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.cantidad" style="width: 100px;" ng-change="setRendimiento($index)">
													(gal/a&ntilde;o)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.costo" style="width: 100px;">
													(Soles)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.rendimiento"  style="width: 100px;" disabled>
													(km/gal)</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="item">
										<label><span style="font-weight: bold;">Residuos
												s&oacute;lidos recogidos por el veh&iacute;culo:</span></label>
									</div>

								</div>
							</div>

							<div class="row">
								<div class="g12">

									<table id="tblResRecogidos" ng-table="tblResRecogidos"
										show-filter="false" class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Capacidad por viaje</th>
												<th>Efectividad de recolecci&oacute;n por viaje</th>
												<th>Promedio de viajes por turno</th>
												<th>Promedio de turnos por d&iacute;a</th>
												<th>D&iacute;as trabajados en la semana</th>
												<th>Recolecci&oacute;n media diaria</th>
												<th>Recolecci&oacute;n anual</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstRecogidos">
												<td class="tabla-celda" style="width: 10%">{{item.placa}}</td>
												<td class="tabla-celda"><input id="" type="number" disabled
													title="(t/viaje)" ng-model="item.capacidad" min="0"
													style="width: 80px;"> (t)</td>
												<td class="tabla-celda"><input id="" type="number" min="0" max="100"
													title="(%)" ng-model="item.efectividad"
													style="width: 80px;"> (%)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.pcv" title="(viajes/turno)"
													style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.pvd" title="(turno/d&iacute;a)"
													style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="1" max="7"
													ng-model="item.trabajados" style="width: 80px;" ng-change="setRecoleccionMedia($index)"></td>
												<td class="tabla-celda"><input id="" type="number" disabled
													title="(t/d&iacute;a)" ng-model="item.rec_media"													
													style="width: 80px;"> (t)</td>
												<td class="tabla-celda"><input id="" type="number" disabled
													title="(t/a&ntilde;o)" ng-model="item.rec_anual" 
													style="width: 80px;"> (t)</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>


							<h5>
								<span title="Art. 29b" style="font-weight: bold;">Veh&iacute;culos
									no convencionales</span>
							</h5>
							<div class="row">
								<div class="g12">
									<table id="tblVehiculos" ng-table="tblVehiculos"
										style="width: 85%;" show-filter="false" class="table square">
										<thead>
											<tr>
												<th>Tipo de veh&iacute;culo</th>
												<th>Antig&uuml;edad promedio (a&ntilde;os)</th>
												<th>Capacidad promedio (Kg)</th>
												<th>Recolecci&oacute;n anual (t/a&ntilde;o)</th>
												<th>N&uacute;mero de unidades</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstVehiculo">
												<td>{{item.tipo_vehiculo.nombre_tipo}}</td>
												<td><input id="" type="number" style="width: 180px;" min="0"
													ng-model="item.antig_promedio"></td>
												<td><input id="" type="number" style="width: 180px;" min="0"
													ng-model="item.capacidad"></td>
												<td><input id="" type="number" style="width: 180px;" min="0"
													ng-model="item.recoleccion_anual"></td>
												<td><input id="" type="number" style="width: 180px;" min="0"
													ng-model="item.numero_unidades"></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item">
											<label>Otros</label> <input id="" type="text"
												style="width: 75%;"
												ng-model="recoleccion_df.otros_descripcion"
												placeholder="Especificar">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_df.otros_antig_promedio"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_df.otros_capacidad"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_df.otros_recoleccion_anual"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_df.otros_numero_unidades"
												style="width: 180px;">
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<br><br>
					<div class="row">
						<div ng-repeat="alert in alerts">
							<notification ng-model="alert" />
						</div>
						<div class="g12">
							<div class="item ls-horizontal right">
								<button type="button" class="btnTab btn-primary btn-sm" id="" ng-click="guardar1()"
									title="">Guardar</button>
							</div>
						</div>
					</div>
				</div>

				<h3 class="accordion" ng-class="{active:accordion==2}">
					<a id="cabecera2" href ng-click="accordion = 2">Residuos
						s&oacute;lidos recolectados para Valorizaci&oacute;n </a>
				</h3>

				<div class="accordion-content" ng-show="accordion==2">
					<div class="row">
						<div class="g12">
							<div class="g10">
								<div class="item">
									<label class="etiqueta">&iquest;Cuenta con servicio de
										recolecci&oacute;n para aprovechamiento de los residuos
										s&oacute;lidos?</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="recoleccion_val.flag_recoleccion">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="recoleccion_val.flag_recoleccion">No
								</div>
							</div>
						</div>
					</div>
					<br> <br>
					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Administrador del Servicio</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select style="width: 180px"
										ng-model="recoleccion_val.adm_serv_id">
										<option value="">Seleccionar</option>
										<option value="MUN">Municipalidad</option>
										<option value="ARE">Asoc. Recicladores</option>
									</select>
								</div>
							</div>
							<div ng-show="recoleccion_val.adm_serv_id == 'MUN'">
								<div class="g1">
									<div class="item right">
										<label class="etiqueta">Costo</label>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<input id="" type="number" style="width: 150px;" min="0"
											ng-model="recoleccion_val.costo_anual"> <label
											class="etiqueta">(Soles / a&ntilde;o)</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br> <br>
					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Frecuencia de
										recolecci&oacute;n</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="recoleccion_val.fr1"> <label
										class="etiqueta"> veces</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<label class="etiqueta">cada</label> <input id="" type="number" min="0"
										style="width: 100px;" ng-model="recoleccion_val.fr2">
									<label class="etiqueta">d&iacute;a(s)</label>
								</div>
							</div>
						</div>
					</div>
					<br> <br>
					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">

						<h5>Cantidad de residuos recolectados para
							valorizaci&oacute;n:</h5>

					</div>

					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Org&aacute;nicos</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="recoleccion_val.cantidad_residuos_organicos">
									<label class="etiqueta">(t/a&ntilde;o)</label>
								</div>
							</div>
							<div class="g7"></div>
						</div>
					</div>
					<br> <br>
					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Inorg&aacute;nicos</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="recoleccion_val.cantidad_residuos_inorganicos">
									<label class="etiqueta">(t/a&ntilde;o)</label>
								</div>
							</div>

						</div>
					</div>
					<br> <br>
					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta"
										title="Total de residuos recolectados para valorizaci&oacute;n:"
										style="font-weight: bold;">Total</label>
								</div>
							</div>
							<div class="g1">
								<div class="item right">
									{{totalResiduos()}} <label class="etiqueta">(t/a&ntilde;o)</label>
								</div>
							</div>

						</div>
					</div>
					<br> <br>
					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta"
										title="Usuarios atendidos en el programa de recolecci&oacute;n en la fuente."><span
										style="font-weight: bold;">Usuarios atendidos</span></label>

								</div>
							</div>

						</div>
					</div>



					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Domiciliarios</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="recoleccion_val.domiciliarios"> <label
										class="etiqueta">(viviendas/a&ntilde;o)</label>
								</div>
							</div>

						</div>
					</div>

					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">No domiciliario</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="number" style="width: 100px;" min="0"
										title="Se incluye comercios, instituciones educativas, iglesias, restaurantes, hoteles,mercados, etc."
										ng-model="recoleccion_val.no_domiciliarios"> <label
										class="etiqueta">(usuarios/a&ntilde;o)</label>
								</div>
							</div>

						</div>
					</div>

					<div class="row" ng-show="recoleccion_val.flag_recoleccion == 1"
						style="margin-top: 20px;">
						<fieldset>
							<legend
								title="Veh&iacute;culos para recolecci&oacute;n de residuos s&oacute;lidos para valorizaci&oacute;n. D.S. 014-2017-MINAM, Art. 29: tipos de veh&iacute;culos para la recolecci&oacute;n">Veh&iacute;culos
								para valorizaci&oacute;n</legend>
							<div class="row">
								<div class="g12">

									<h5
										title="Art. 29a: Camiones compactadores, camiones barandas, camiones para contenedores de gran capacidad y similares">
										Veh&iacute;culos convencionales</h5>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g6">
										<div class="item">
											<label><span style="font-weight: bold;">Datos
													del veh&iacute;culo</span></label>
										</div>
									</div>
									<div class="g3">
										<div class="item right">
											<button type="button" class="btn btn-primary1 btn-sm" id=""
												title="" ng-click="agregar2()">Agregar</button>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">

									<table id="tblVehiculoConvencional2" style="width: 80%"
										ng-table="tblVehiculoConvencional2" show-filter="false"
										class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Recorrido anual</th>
												<th>Tipo de veh&iacute;culo</th>
												<th>A&ntilde;o de fabricaci&oacute;n</th>
												<th>Capacidad</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstVehiculoConvencional2">
												<td class="tabla-celda"><input id="" type="text" min="0"
													ng-maxlength="8" ng-model="item.placa"
													ng-change="func2($index)" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.recorrido" style="width: 100px;">
													(Km)</td>
												<td class="tabla-celda"><input id="" type="text"
													ng-model="item.tipo_vehiculo" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.fabricacion" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" ng-change="setCapacidad2($index)" min="0"
													ng-model="item.capacidad" style="width: 100px;">
													(t)</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="g12">

									<div class="g6">
										<div class="item">
											<label><span style="font-weight: bold;">Combustible
													consumido por el veh&iacute;culo:</span></label>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">

									<table id="tblComb2" ng-table="tblComb2" show-filter="false"
										style="width: 80%" class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Tipo</th>
												<th>Cantidad</th>
												<th>Costo anual</th>
												<th>Rendimiento anual</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstComb2">
												<td class="tabla-celda">{{item.placa}}</td>
												<td class="tabla-celda"><select id=""
													ng-model="item.tipo" style="width: 100px;">
														<option value=""></option>
														<option value="1">Di&eacute;sel</option>
														<option value="2">Gasolina</option>
														<option value="3">GLP</option>
														<option value="4">GNV</option>
														<option value="5">Otros</option>
												</select></td>
												<td class="tabla-celda"><input id="" type="number" ng-change="setRendimiento2($index)" min="0"
													ng-model="item.cantidad" style="width: 100px;">
													(gal/a&ntilde;o)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.costo" style="width: 100px;">
													(Soles)</td>
												<td class="tabla-celda"><input id="" type="number" disabled
													ng-model="item.rendimiento" style="width: 100px;">
													(km/gal)</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g6">
										<div class="item">
											<label><span style="font-weight: bold;">Residuos
													s&oacute;lidos recogidos por el veh&iacute;culo:</span></label>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<table id="tblResRecogidos2" ng-table="tblResRecogidos2"
										show-filter="false" class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Capacidad por viaje</th>
												<th>Efectividad de recolecci&oacute;n por viaje</th>
												<th>Promedio de viajes por d&iacute;a</th>
												<th>Promedio de turnos por d&iacute;a</th>
												<th>D&iacute;as trabajados en la semana</th>
												<th>Recolecci&oacute;n media diaria</th>
												<th>Recolecci&oacute;n anual</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstRecogidos2">
												<td class="tabla-celda" style="width: 10%;">{{item.placa}}</td>
												<td class="tabla-celda"><input id="" type="number" disabled
													ng-model="item.capacidad" style="width: 80px;"> (t)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.efectividad" style="width: 80px;">
													(%)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.pcv" title="(viajes/turno)"
													style="width: 80px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.pvd" title="(turno/d&iacute;a)"
													style="width: 80px;"></td>
												<td class="tabla-celda"><input id="" type="number" ng-change="setRecoleccionMedia2($index)" min="1" max="7"
													title="(d&iacute;as/semana)" ng-model="item.trabajados"
													style="width: 80px;"></td>
												<td class="tabla-celda"><input id="" type="number" disabled 
													title="(t/d&iacute;a)" ng-model="item.rec_media"
													style="width: 80px;"> (t)</td>
												<td class="tabla-celda"><input id="" type="number" disabled
													title="(t/a&ntilde;o)" ng-model="item.rec_anual"
													style="width: 80px;"> (t)</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="g12">
									<h5 title="Art. 29b">Veh&iacute;culos no convencionales</h5>
								</div>
							</div>

							<div class="row">
								<div class="g12">

									<table id="tblVehiculos2" ng-table="tblVehiculos2"
										style="width: 85%" show-filter="false" class="table square">
										<thead>
											<tr>
												<th>Tipo de veh&iacute;culo</th>
												<th>Antig&uuml;edad promedio (a&ntilde;os)</th>
												<th>Capacidad promedio (Kg)</th>
												<th>Recolecci&oacute;n anual (todas las unidades)
													(t/a&ntilde;o)</th>
												<th>N&uacute;mero de unidades</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstVehiculo2">
												<td>{{item.tipo_vehiculo.nombre_tipo}}</td>
												<td><input id="" type="number" style="width: 180px;" min="0"
													ng-model="item.antig_promedio"></td>
												<td><input id="" type="number" style="width: 180px;" min="0"
													ng-model="item.capacidad"></td>
												<td><input id="" type="number" style="width: 180px;" min="0"
													ng-model="item.recoleccion_anual"></td>
												<td><input id="" type="number" style="width: 180px;" min="0"
													ng-model="item.numero_unidades"></td>
											</tr>


										</tbody>
									</table>

								</div>
							</div>
							<div class="row">
								<div class="g12">

									<div class="g2">
										<div class="item">
											<label>Otros</label> <input id="" type="text"
												ng-model="recoleccion_val.otros_descripcion"
												style="width: 75%;" placeholder="Especificar">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_val.otros_antig_promedio"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_val.otros_capacidad"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_val.otros_recoleccion_anual"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_val.otros_numero_unidades"
												style="width: 180px;">
										</div>
									</div>
								</div>
							</div>

						</fieldset>
					</div>
					<br><br>
					<div class="row">
						<div ng-repeat="alert in alerts">
							<notification ng-model="alert" />
						</div>
						<div class="g12">
							<div class="item ls-horizontal right">
								<button type="button" class="btnTab btn-primary btn-sm" id="" ng-click="guardar2()"
									title="">Guardar</button>
							</div>
						</div>
					</div>
				</div>

				<h3 class="accordion" ng-class="{active:accordion==3}">
					<a id="cabecera2" href ng-click="accordion = 3"><label
						title="Residuos de construcci&oacute;n y demolici&oacute;n de obras menores">Residuos
							s&oacute;lidos especiales municipales recolectados (RCD de OM)</label> </a>
				</h3>

				<div class="accordion-content" ng-show="accordion==3">

					<div class="row">
						<div class="g12">
							<div class="g10">
								<div class="item">
									<label class="etiqueta">&iquest;Brinda el servicio de
										recolecci&oacute;n de residuos RCD de OM?</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="recoleccion_rcd.flag_rcd">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="recoleccion_rcd.flag_rcd">No
								</div>
							</div>
						</div>
					</div>
					<br> <br>
					<div class="row" ng-show="recoleccion_rcd.flag_rcd == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Administrador del Servicio</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<select style="width: 180px;"
										ng-model="recoleccion_rcd.adm_serv_id">
										<option value="">Seleccionar</option>
										<option value="MUN">Municipalidad</option>
										<option value="PRI">Privado</option>
									</select>
								</div>
							</div>
							<div ng-show="recoleccion_rcd.adm_serv_id == 'MUN'">
								<div class="g1">
									<div class="item right">
										<label class="etiqueta">Costo:</label>
									</div>
								</div>
								<div class="g3">
									<div class="item" style="margin-bottom: 3px">
										<input id="" type="number" style="width: 100px;" min="0"
											ng-model="recoleccion_rcd.costo_anual" required> <label
											class="etiqueta"> (Soles/a&ntilde;o)</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" ng-show="recoleccion_rcd.flag_rcd == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Cantidad de residuos</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="recoleccion_rcd.cantidad_residuos"> <label
										class="etiqueta">(m<sup>3</sup>/a&ntilde;o)
									</label>
								</div>
							</div>

						</div>
					</div>

					<div class="row" ng-show="recoleccion_rcd.flag_rcd == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Usuarios atendidos</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input id="" type="number" style="width: 100px;" min="0"
										ng-model="recoleccion_rcd.usuarios_atendidos"> <label
										class="etiqueta"> (usuarios/a&ntilde;o)</label>
								</div>
							</div>
						</div>
					</div>


					<div class="row" ng-show="recoleccion_rcd.flag_rcd == 1">
						<fieldset>
							<legend>Veh&iacute;culos para recolecci&oacute;n de RCD
								de OM</legend>
							<div class="row">
								<div class="g12">
									<h5
										title="Art. 29a: Camiones compactadores, camiones barandas, camiones para contenedores de gran capacidad y similares">Veh&iacute;culos
										convencionales</h5>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g6">
										<div class="item">
											<label><span style="font-weight: bold;">Datos
													del veh&iacute;culo</span></label>
										</div>
									</div>
									<div class="g3">
										<div class="item right">
											<button type="button" class="btn btn-primary1 btn-sm" id=""
												title="" ng-click="agregar3()">Agregar</button>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">


									<table id="tblVehiculoConvencional3" style="width: 80%"
										ng-table="tblVehiculoConvencional3" show-filter="false"
										class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Recorrido anual</th>
												<th>Tipo de veh&iacute;culo</th>
												<th>A&ntilde;o de fabricaci&oacute;n</th>
												<th>Capacidad</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstVehiculoConvencional3">
												<td class="tabla-celda"><input id="" type="text"
													ng-maxlength="8" ng-model="item.placa"
													ng-change="func3($index)" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.recorrido" style="width: 100px;">
													(Km)</td>
												<td class="tabla-celda"><input id="" type="text"
													ng-model="item.tipo_vehiculo" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.fabricacion" style="width: 100px;"></td>
												<td class="tabla-celda"><input id="" type="number" ng-change="setCapacidad3($index)" min="0"
													ng-model="item.capacidad" style="width: 100px;">
													(t)</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g6">
										<div class="item">
											<label><span style="font-weight: bold;">Combustible
													consumido por el veh&iacute;culo:</span></label>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">

									<table id="tblComb3" ng-table="tblComb3" show-filter="false"
										style="width: 80%" class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Tipo</th>
												<th>Cantidad</th>
												<th>Costo anual</th>
												<th>Rendimiento anual</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstComb3">
												<td class="tabla-celda">{{item.placa}}</td>
												<td class="tabla-celda"><select id=""
													ng-model="item.tipo" style="width: 100px;">
														<option value=""></option>
														<option value="1">Di&eacute;sel</option>
														<option value="2">Gasolina</option>
														<option value="3">GLP</option>
														<option value="4">GNV</option>
														<option value="5">Otros</option>
												</select></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.cantidad" style="width: 100px;" ng-change="setRendimiento3($index)">
													(gal/a&ntilde;o)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.costo" style="width: 100px;">
													(Soles)</td>
												<td class="tabla-celda"><input id="" type="number" disabled
													ng-model="item.rendimiento" style="width: 100px;">
													(km/gal)</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="g12">

									<div class="g6">
										<div class="item">
											<label><span style="font-weight: bold;">Residuos
													s&oacute;lidos recogidos por el veh&iacute;culo:</span></label>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">


									<table id="tblResRecogidos3" ng-table="tblResRecogidos3"
										show-filter="false" class="table square">
										<thead>
											<tr>
												<th>Placa</th>
												<th>Capacidad por viaje</th>
												<th>Efectividad de recolecci&oacute;n por viaje</th>
												<th>Promedio de viajes por d&iacute;a</th>
												<th>Promedio de turnos por d&iacute;a</th>
												<th>D&iacute;as trabajados en la semana</th>
												<th>Recolecci&oacute;n media diaria</th>
												<th>Recolecci&oacute;n anual</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstRecogidos3">
												<td class="tabla-celda" style="width: 10%;">{{item.placa}}</td>
												<td class="tabla-celda"><input id="" type="number" disabled
													ng-model="item.capacidad" style="width: 80px;"> (t)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.efectividad" style="width: 80px;">
													(%)</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.pcv" title="(viajes/turno)"
													style="width: 80px;"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													ng-model="item.pvd" title="(turno/d&iacute;a)"
													style="width: 80px;"></td>
												<td class="tabla-celda"><input id="" type="number" ng-change="setRecoleccionMedia3($index)" min="1" max="7"
													title="(d&iacute;as/semana)" ng-model="item.trabajados"
													style="width: 80px;"></td>
												<td class="tabla-celda"><input id="" type="number" disabled 
													title="(t/d&iacute;a)" ng-model="item.rec_media"
													style="width: 80px;"> (t)</td>
												<td class="tabla-celda"><input id="" type="number" disabled
													title="(t/a&ntilde;o)" ng-model="item.rec_anual"
													style="width: 80px;"> (t)</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="g12">
									<h5 title="Art. 29b">Veh&iacute;culos no convencionales</h5>
								</div>
							</div>

							<div class="row">
								<div class="g12">

									<table id="tblVehiculos3" ng-table="tblVehiculos3"
										style="width: 85%" show-filter="false" class="table square">
										<thead>
											<tr>
												<th>Tipo de veh&iacute;culo</th>
												<th>Antig&uuml;edad promedio (a&ntilde;os)</th>
												<th>Capacidad promedio (Kg)</th>
												<th>Recolecci&oacute;n anual (todas las unidades)
													(t/a&ntilde;o)</th>
												<th>N&uacute;mero de unidades</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstVehiculo3">
												<td>{{item.tipo_vehiculo.nombre_tipo}}</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													style="width: 180px;" ng-model="item.antig_promedio"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													style="width: 180px;" ng-model="item.capacidad"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													style="width: 180px;" ng-model="item.recoleccion_anual"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													style="width: 180px;" ng-model="item.numero_unidades"></td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item">
											<label>Otros</label> <input id="" type="text"
												ng-model="recoleccion_rcd.otros_descripcion"
												style="width: 75%;" placeholder="Especificar">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_rcd.otros_antig_promedio"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_rcd.otros_capacidad"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_rcd.otros_recoleccion_anual"
												style="width: 180px;">
										</div>
									</div>
									<div class="g2">
										<div class="item" style="margin-left: 20px;">
											<input id="" type="number" min="0"
												ng-model="recoleccion_rcd.otros_numero_unidades"
												style="width: 180px;">
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="row" style="margin-top: 20px;">
						<div class="g12">
							<div class="g6">
								<label>&iquest;Brinda el servicio de recolecci&oacute;n
									de otros residuos especiales?</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="1"
										ng-model="recoleccion_rcd.flag_municipal">Si
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="radio" value="0"
										ng-model="recoleccion_rcd.flag_municipal">No
								</div>
							</div>
						</div>
					</div>
					<br> <br>
					<div class="row" ng-show="recoleccion_rcd.flag_municipal == 1">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label class="etiqueta">Administrador del Servicio</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<select style="width: 180px;"
										ng-model="recoleccion_rcd.otro_munic_adm_serv_id">
										<option value="">Seleccionar</option>
										<option value="MUN">Municipal</option>
										<option value="PRI">Privado</option>
									</select>
								</div>
							</div>
							<div ng-show="recoleccion_rcd.otro_munic_adm_serv_id == 'MUN'">
								<div class="g1">
									<div class="item right">
										<label class="etiqueta">Costo:</label>
									</div>
								</div>
								<div class="g3">
									<div class="item" style="margin-bottom: 3px">
										<input id="" type="number" style="width: 80px;" min="0"
											ng-model="recoleccion_rcd.otro_munic_costo" required>
										<label class="etiqueta"> (Soles/a&ntilde;o)</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top: 20px;" ng-show="recoleccion_rcd.flag_municipal == 1">
						<fieldset>
							<legend>Cantidad de residuos</legend>
							<div class="row">
								<div class="g12">
									<table id="tblOtrosRcdOm" ng-table="tblOtrosRcdOm"
										style="width: 75%" show-filter="false" class="table square">
										<thead>
											<tr>
												<th>Tipo de residuo</th>
												<th>Usuario(s) atendido(s) (usuario(s)/a&ntilde;o)</th>
												<th>Cantidad (t/a&ntilde;o)</th>
											</tr>
										</thead>
										<tbody>

											<tr ng-repeat="item in lstOtrosRcdOm">
												<td>{{item.tipoResiduos.nombre_residuos}}</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													style="width: 180px;" ng-model="item.usuarioAtendido"></td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													style="width: 180px;" ng-model="item.cantidad"></td>
											</tr>
											<tr>
												<td>RCD-OM</td>
												<td class="tabla-celda"><input id="" type="number" min="0"
													style="width: 180px;" ng-model="recoleccion_rcd.usuarios_rcd_om"></td>
												<td class="tabla-celda">{{recoleccion_rcd.rcd_om}}</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item" style="margin-bottom: 3px">
											<label class="etiqueta">Otro</label> <input type="text"
												placeholder="Especificar" style="width: 65%"
												ng-model="recoleccion_rcd.descrip_residuos_otros">
										</div>
									</div>
									<div class="g3">
										<div class="item"
											style="margin-bottom: 3px; margin-left: 15%;">
											<input type="number" style="width: 180px" min="0"
												ng-model="recoleccion_rcd.usuario_atendido_otros">
										</div>
									</div>
									<div class="g3">
										<div class="item"
											style="margin-bottom: 3px; margin-left: 15%;">
											<input type="text" style="width: 180px" min="0"
												ng-model="recoleccion_rcd.cantidad_otros">
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="row" ng-show="recoleccion_rcd.flag_municipal == 1">
						<fieldset>
							<legend>Trabajadores </legend>

							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>DNI</label>
										</div>
									</div>
									<div class="g3">
										<div class="item">
											<input id="" type="number" ng-model="trabajadores.dni" min="0" maxlength="8"
												style="width: 150px;">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Nombres y apellidos</label>
										</div>
									</div>
									<div class="g5">
										<div class="item">
											<input id="" type="text" ng-model="trabajadores.nom_apellido"
												style="width: 400px;">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Sexo</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<select id="" ng-model="trabajadores.sexo">
												<option value=""></option>
												<option value="Hombre">Hombre</option>
												<option value="Mujer">Mujer</option>
											</select>
										</div>
									</div>
									<div class="g3">
										<div class="item right">
											<label>Rango de edad</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<select id="" ng-model="trabajadores.rango">
												<option value=""></option>
												<option value="MIN25">Hasta 25 a&ntilde;os</option>
												<option value="25E65">25 - 65 a&ntilde;os</option>
												<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Cargo</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<select id="" ng-model="trabajadores.cargo">
												<option value=""></option>
												<option value="Coordinador">Coordinador</option>
												<option value="Barredor">Barredor</option>
											</select>
										</div>
									</div>
									<div class="g3">
										<div class="item right">
											<label>Condici&oacute;n laboral</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<select id="" ng-model="trabajadores.laboral">
												<option value=""></option>
												<option value="Nombrado">Nombrado</option>
												<option value="Contratado">Contratado</option>
											</select>
										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Horario de trabajo</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<select id="" ng-model="trabajadores.horario">
												<option value=""></option>
												<option value="M">Ma&ntilde;ana</option>
												<option value="T">Tarde</option>
												<option value="DC">D&iacute;a completo</option>
											</select>
										</div>
									</div>
									<div class="g3">
										<div class="item right">
											<label>D&iacute;as trabajados
												(d&iacute;as/a&ntilde;os)</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<input id="" type="number" min="0" max="366"
												ng-model="trabajadores.dias_trabajados">
										</div>
									</div>
									<div class="g1">
										<div class="item right">
											<button type="button" class="btn btn-primary1 btn-sm" id=""
												title="" ng-click="insertar()">Agregar</button>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">

									<table id="tblTrabajador" ng-table="tblTrabajador"
										show-filter="false" class="table square">
										<thead>
											<tr>
												<th>DNI</th>
												<th>Nombres y apellidos</th>
												<th>Sexo</th>
												<th>Rango de edad</th>
												<th>Cargo</th>
												<th>Condici&oacute;n laboral</th>
												<th>Horario de trabajo</th>
												<th>D&iacute;as trabajados (d&iacute;as/a&ntilde;os)</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstTrabajador">
												<td>{{item.dni}}</td>
												<td>{{item.nom_apellido}}</td>
												<td>{{item.sexo}}</td>
												<td><select id="" ng-model="item.rango" disabled>
														<option value=""></option>
														<option value="MIN25">Hasta 25 a&ntilde;os</option>
														<option value="25E65">25 - 65 a&ntilde;os</option>
														<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
												</select></td>
												<td><select id="" ng-model="item.cargo" disabled>
														<option value=""></option>
														<option value="Coordinador">Coordinador</option>
														<option value="Barredor">Barredor</option>
												</select></td>
												<td><select id="" ng-model="item.laboral" disabled>
														<option value=""></option>
														<option value="Nombrado">Nombrado</option>
														<option value="Contratado">Contratado</option>
												</select></td>
												<td><select id="" ng-model="item.horario" disabled>
														<option value=""></option>
														<option value="M">Ma&ntilde;ana</option>
														<option value="T">Tarde</option>
														<option value="DC">D&iacute;a completo</option>
												</select></td>
												<td>{{item.dias_trabajados}}</td>
												<td><button type="button"
														class="btn btn-primary1 btn-sm" id="" title=""
														ng-click="borrar($index)" ng-show="flag == '0'">Eliminar</button></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</fieldset>

					</div>
					<br><br>
					<div class="row">
						<div class="g12">
							<div ng-repeat="alert in alerts">
								<notification ng-model="alert" />
							</div>
							<div class="item ls-horizontal right">
								<button type="button" class="btnTab btn-primary btn-sm" id="" ng-click="guardar3()"
									title="">Guardar</button>
							</div>
						</div>
					</div>
					
				</div>


			</div>
		</div>

		<div>
			<label class="etiqueta" style="color: red">(*) Campos
				requeridos</label>
		</div>
		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">Volver</button>
					<!-- button type="button" class="btnTab btn-primary btn-sm" id=""
						title="" ng-click="guardar()"
						ng-disabled="!myFormRecoleccion.$valid">Guardar</button-->
				</div>
			</div>
		</div>
	</div>
</form>