<header>
	<div class="container container-full">
		<div class="brand">
			<div class="logosigersol">
				<a href="#" target="_self"><img
					src="./src/assets/images/logosigersol.png" /></a>
			</div>
		</div>
		<div class="ls-horizontal right">
			<div class="logominam">
				<a href="http://www.minam.gob.pe" target="_self"><img
					src="./src/assets/images/logominam.png" /></a>
			</div>
		</div>
	</div>
</header>

	<form name="myFormDatosGenerales" class="container container-full">
		<div class="row">
			<div id="cabecera1" class="widget header">
				<div class="g4">
					<h3 class="coll">Registro de usuarios</h3>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="layout container">
			<div class="row">
				<div class="panel-group">
					
					<div class="panel-body">
						<div class="container container-full">
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">									
											<label>Usuario</label>
										</div>	
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="text" style="width: 200px">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item">
											<label></label>
										</div>
									</div>
									<div class="g4">
										<div class="item ">
											<label>Distrito/Provincia/Departamento</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label></label>
										</div>
									</div>	
									<div class="g4">
										<div class="item">
											<label>Ubigeo</label>
										</div>
									</div>
								</div>	
							</div>	
						</div>
					</div>
				</div>
				<div class="panel-group">
					<div class="panel-body">
						<div class="container container-full">
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label>Responsable</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="text" style="width: 200px">
										</div>
									</div>
								</div>
							</div>
							<br><br>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label>Correo electr&oacute;nico</label>
										</div>
									</div>	
									<div class="g4">
										<div class="item ">
											<input id="" type="email" style="width: 200px">
										</div>
									</div>
								</div>
							</div>
							<br><br>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label>Tel&eacute;fono fijo</label>
										</div>
									</div>	
									<div class="g4">
										<div class="item">
											<input id="" type="text" style="width: 200px">
										</div>
									</div>
								</div>	
							</div>
							<br><br>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label>Celular</label>
										</div>
									</div>	
									<div class="g4">
										<div class="item">
											<input id="" type="text" style="width: 200px">
										</div>
									</div>
								</div>	
							</div>
							<br><br>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label>Direcci&oacute;n f&iacute;sica</label>
										</div>
									</div>	
									<div class="g4">
										<div class="item">
											<input id="" type="text" style="width: 200px">
										</div>
									</div>
								</div>	
							</div>		
						</div>
					</div>					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary1 btn-sm" id="" title=""
							ng-click="">Enviar</button>
					<button type="button" class="btn btn-primary1 btn-sm" id="" title=""
							ng-click=""><a href="{{urlBase}}/#/paginaPrincipal" style="color: #ffffff;">Volver</a></button>
				</div>
			</div>			
		</div>
	</form>	