<header>
	<div class="container container-full">
		<div class="brand">
			<div class="logominam">
				<a href="http://www.minam.gob.pe" target="_self"><img
					src="./src/assets/images/logominam.png" /></a>
			</div>
		</div>
		<div class="ls-horizontal right">
			<div class="logosigersol">
				<a href="#" target="_self"><img
					src="./src/assets/images/logosigersol.png" width="200px" /></a>
			</div>
		</div>
	</div>
</header>
<form>
	<div class="row">
		<div class="widget header">
			<div class="g4">
				<h3 class="coll">Solicitud de Usuario</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="layout">
		<div class="row">
			<div class="panel-group">
				<div class="panel-header">
					<h4>Datos Generales</h4>
				</div>
				<div class="panel-body">
					<div class="container container-full">
						<div class="row">
							<div class="g12">
								<div class="g1">
									<div class="item right">
										<label>Departamento</label>
									</div>
								</div>
								<div class="g2">
									<div class="item" style="margin-bottom: 3px">
										<select style="width: 180px;"
											ng-model="solicitud.cod_departamento">
											<option value="14">LIMA</option>
										</select>
									</div>
								</div>
								<div class="g1">
									<div class="item right">
										<label>Provincia</label>
									</div>
								</div>
								<div class="g2">
									<div class="item" style="margin-bottom: 3px">
										<select style="width: 180px;"
											ng-model="solicitud.cod_provincia">
											<option value="01">LIMA</option>
										</select>
									</div>
								</div>
								<div class="g1">
									<div class="item right">
										<label>Distrito</label>
									</div>
								</div>
								<div class="g2">
									<div class="item" style="margin-bottom: 3px">
										<select style="width: 180px;"
											ng-model="solicitud.cod_distrito">
											<option value="33">JESUS MARIA</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="g12">
								<div class="g1">
									<div class="item right">
										<label>RUC</label>
									</div>
								</div>
								<div class="g6">
									<div class="item" style="margin-bottom: 3px">
										<input id="" type="number" style="width: 280px;"
											ng-model="solicitud.ruc">
									</div>
								</div>
								<div class="g4"></div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item">
										<label>Clasificaci&oacute;n de Municipalidad</label>
									</div>
									<div class="item" style="margin-bottom: 3px">
										<select style="width: 250px;" ng-model="solicitud.clasifiMuni">
											<option value="1">Clasificacion A</option>
										</select>
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<label>Tipo de Municipalidad</label>
									</div>
									<div class="item" style="margin-bottom: 3px">
										<select style="width: 250px;" ng-model="solicitud.tipoMuni">
											<option value="1">Tipo A</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="g12">
								<div class="g4">
									<div class="item">
										<label>Nombre del Alcalde</label>
									</div>
									<div class="item" style="margin-bottom: 3px; ">
										<input id="" type="text" ng-model="solicitud.nombreAlcalde" style="width: 250px;">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-group">
				<div class="panel-header">
					<h4>Datos de Contacto</h4>
				</div>

				<div class="panel-body">
					<div class="container container-full">
						<div class="row">
							<div class="g12">
								<div class="g1">
									<div class="item right">
										<label>Direcci&oacute;n</label>
									</div>
								</div>
								<div class="g4">
									<div class="item" style="margin-bottom: 3px">
										<input id="" type="text" ng-model="solicitud.direccion">
									</div>
								</div>
								<div class="g1">
									<div class="item right">
										<label>Tel&eacute;fono</label>
									</div>
								</div>
								<div class="g4">
									<div class="item" style="margin-bottom: 3px; width: 200px;">
										<input id="" type="number" ng-model="solicitud.telefono">
									</div>
								</div>
								<div class="g3"></div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="g12">
								<div class="g1">
									<div class="item right">
										<label>Fax</label>
									</div>
								</div>
								<div class="g4">
									<div class="item" style="margin-bottom: 3px">
										<input id="" type="text" 
											ng-model="solicitud.fax">
									</div>
								</div>
								<div class="g1">
									<div class="item right">
										<label>Email</label>
									</div>
								</div>
								<div class="g2">
									<div class="item" style="margin-bottom: 3px">
										<input id="" type="email" style="width: 200px;"
											ng-model="solicitud.email">
									</div>
								</div>
								<div class="g3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" id="" title=""
					ng-click="grabarSolicitud()">
					Solicitar Usuario <span class="icn icn-ok-sign"></span>
				</button>
			</div>
		</div>
	</div>
	<div ng-include="'src/views/parts/footer2.html'" class="footer-form"></div>
</form>

