<div ng-include="'src/views/parts/menu.html'"></div>

<form name="myFormTransferencia" class="container container-full">
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Transferencia</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="container-panel panel-body">
		<fieldset>
			<div class="row">
				<div class="g12">
					<div class="g10">
						<label>&iquest;Cuenta con servicio de transferencia?</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="g12">
					<div class="g2">
						<div class="item">
							<input type="radio" ng-model="transferencia.flag_transferencia"
								style="margin-left: 20px;" value="1">Si
						</div>
					</div>
					<div class="g2">
						<div class="item">
							<input type="radio" ng-model="transferencia.flag_transferencia"
								style="margin-left: 20px;" value="0">No
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-show="transferencia.flag_transferencia == '1'"
				style="margin-top: 10px;">
				<div class="g12">
					<div class="g2">
						<div class="item right">
							<label style="color: red;">(*)</label> <label>Administraci&oacute;n
								del Servicio</label>
						</div>
					</div>
					<div class="g3">
						<div class="item">
							<select style="width: 200px;"
								ng-model="transferencia.adm_serv_id">
								<option value="">Seleccionar</option>
								<option value="DIR">Administrado directamente</option>
								<option value="TER">Tercerizado</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row"
				ng-show="transferencia.flag_transferencia == '1' && transferencia.adm_serv_id == 'TER'">
				<fieldset>
					<legend>Datos del registro de la empresa</legend>
					<!--div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>Tipo Documento:</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" style="width: 180px;">
										<option value=""></option>
										<option value="Resolucion">Resoluci&oacute;n</option>
										<option value="Documento de aprobacion">Documento de aprobaci&oacute;n</option>
									</select>
								</div>
							</div>
						</div>
					</div-->
					
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>N&uacute;mero de registro</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="text" ng-model="terceros.num_registro">
								</div>
							</div>
							
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label style="font-weight: bold;">Vigencia:</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>Inicio permiso:</label>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="text" style="width: 200px;" ng-model="terceros.fecha_inicio_vigencia">
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>Culminaci&oacute;n permiso:</label>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="text" style="width: 200px;" ng-model="terceros.fecha_fin_vigencia">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>Raz&oacute;n social</label>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="text" style="width: 70%" ng-model="terceros.razon_social">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>Direcci&oacute;n</label>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="text" style="width: 70%" ng-model="terceros.direccion">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g2">
								<div class="item right">
									<label>Adjuntar documento</label>
								</div>
							</div>
							<div class="g5">
								<div class="item">
									<input id="" type="file" style="width: 300px;" disabled>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="row"
				ng-show="transferencia.adm_serv_id == 'DIR' || transferencia.adm_serv_id == 'TER'">
				<fieldset>
					<legend>Datos del documento que aprueba el IGA</legend>
					<div class="row">
						<div class="g12">
							<div class="g8">
								<label><span style="font-weight: bold">De la
										infraestructura de residuos s&oacute;lidos:</span></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>N&uacute;mero de resoluci&oacute;n o documento</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="text" style="width: 200px;"
										title="Para las empresas que manejan una infraestructura de residuos s&oacute;lidos, se requiere IGA de la infraestructura de residuos s&oacute;lidos"><br>
								</div>
							</div>						
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Tipo Documento:</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<select id="" style="width: 180px;">
										<option value=""></option>
										<option value="Resolucion">Resoluci&oacute;n</option>
										<option value="Documento de aprobacion">Documento de aprobaci&oacute;n</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Nombre de la infraestructura</label>
								</div>
							</div>
							<div class="g5">
								<div class="item">
									<input id="" type="text" style="width: 500px;">
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Nombre de la autoridad</label>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="text" style="width: 500px;"
										title="Nombre de la autoridad que emite la Resoluci&oacute;n o documento que aprueba el IGA de la infraestructura de residuos s&oacute;lidos">
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label
										title="Fecha de emisi&oacute;n de la Resoluci&oacute;n o documento que aprueba el IGA de la infraestructura de residuos s&oacute;lidos">Fecha
										de emisi&oacute;n</label>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="date" style="width: 300px;">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Adjuntar documento</label>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="file" style="width: 300px;" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g8">
								<div class="item">
									<label><span style="font-weight: bold">De la
											licencia de funcionamiento:</span></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>N&uacute;mero de licencia</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="text" style="width: 200px;"
										title="N&uacute;mero de licencia de funcionamiento vigente de la infraestructura de residuos s&oacute;lidos">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">

							<div class="g3">
								<div class="item right">
									<label>Fecha de emisi&oacute;n:</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="date" style="width: 200px;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Fecha de caducidad</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="date" style="width: 200px;">
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<div class="row" ng-show="transferencia.flag_transferencia == '1'">
				<fieldset>
					<legend>Datos del expediente t&eacute;cnico aprobado</legend>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>N&uacute;mero del expediente</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="text" style="width: 200px;">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Fecha de emisi&oacute;n</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="date" style="width: 200px;">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Adjuntar documento</label>
								</div>
							</div>
							<div class="g5">
								<div class="item">
									<input id="" type="file" style="width: 300px;" disabled>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<div class="row" ng-show="transferencia.flag_transferencia == '1'">
				<fieldset>
					<legend>De la planta de transferencia</legend>
					<div class="row">
						<div class="g12">
							<div class="g10">
								<h5>Datos generales</h5>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label style="font-weight: bold;">Coordenadas UTM
										(UTM-WGS84)</label>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Zona</label>
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>Norte</label>
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>Este</label>
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g1">
								<div class="item">
									<p></p>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<select id="" ng-model="transferencia.zona_coordenada">
										<option value=""></option>
										<option value="17">17</option>
										<option value="18">18</option>
										<option value="19">19</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="text"
										ng-model="transferencia.norte_coordenada">
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="text"
										ng-model="transferencia.este_coordenada">
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label style="font-weight: bold;">Ubicaci&oacute;n</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Departamento</label>
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<input id="" type="text" style="width: 180px;" ng-model="transferencia.departamento">
									<!--{{ubicacion.departamento}}-->
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>Provincia</label>
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<input id="" type="text" style="width: 180px;" ng-model="transferencia.provincia">
									<!--{{ubicacion.provincia}}-->
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>Distrito</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="text" style="width: 180px;" ng-model="transferencia.distrito">
									<!--{{ubicacion.distrito}}-->
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Direcci&oacute;n</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="text" style="width: 400px;"
										ng-model="transferencia.direccion_iga">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Referencia</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<input id="" type="text" style="width: 400px;"
										ng-model="transferencia.referencia_iga">
								</div>
							</div>
						</div>

					</div>

					<div class="row" style="margin-top: 20px;">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Residuos s&oacute;lidos transferidos:</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="number" style="width: 180px;" min="0"
										ng-model="transferencia.residuos_transferidos"> <label>(t/a&ntilde;o)</label>
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Costo anual:</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="number" style="width: 180px;" min="0"
										title="Costo anual de la recolecci&oacute;n para disposici&oacute;n final (operaci&oacute;n y mantenimiento)"
										ng-model="transferencia.costo_anual"> <label>(Soles/a&ntilde;o)</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Frecuencia diaria:</label>
								</div>
							</div>
							<div class="g4">
								<div class="item">
									<input id="" type="number" style="width: 180px;" min="0"
										title="Frecuencia promedio diaria de viajes de los camiones madrina. D.S. 014-2017-MINAM, Art. 106"
										ng-model="transferencia.frecuencia_diaria"> <label>(viajes/d&iacute;a/cami&oacute;n)</label>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Distancia promedio al SDF</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="number" style="width: 180px;" min="0"
										title=" Distancia promedio al sitio de disposici&oacute;n final"
										ng-model="transferencia.distancia_promedio"> <label>(km)</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g6">
								<h5
									title="D.S. 014-2017-MINAM, Art. 29: tipos de veh&iacute;culos para la recolecci&oacute;n">Informaci&oacute;n
									de los camiones madrina</h5>

							</div>
							<div class="g6">
								<div class="item right">
									<button type="button" class="btn btn-primary1 btn-sm" id=""
										title="" ng-click="agregar()">Agregar veh&iacute;culo</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<table id="tblVehiculoConvencional"
								ng-table="tblVehiculoConvencional" show-filter="false"
								class="table square">
								<thead>
									<tr>
										<th style="width: 10%">Tipo de veh&iacute;culo</th>
										<th style="width: 10%">Placa</th>
										<th style="width: 10%">Tipo de veh&iacute;culo</th>
										<th style="width: 10%">A&ntilde;o de fabricaci&oacute;n</th>
										<th style="width: 10%">Capacidad (t)</th>
										<th style="width: 10%">Tipo</th>
										<th style="width: 10%">Recorrido anual (km/a&ntilde;o)</th>
										<th style="width: 20%">Cantidad de combustible</th>
										<th style="width: 10%">Costo del combustible
											(Soles/a&ntilde;o)</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in lstVehiculoConvencional">
										<td>Veh&iacute;culos convencionales</td>
										<td><input id="" type="text" ng-model="item.placa"></td>
										<td><input id="" type="text"
											ng-model="item.tipo_vehiculo"></td>
										<td><input id="" type="number"
											ng-model="item.anio_fabricacion"></td>
										<td><input id="" type="number" ng-model="item.capacidad" min="0"></td>
										<td><select ng-model="item.tipo_combustible">
												<option value="">Seleccionar</option>
												<option value="1">Di&eacute;sel 2</option>
												<option value="2">Gasolina</option>
												<option value="3">GLP</option>
												<option value="4">GNV</option>
												<option value="5">Otros</option>
										</select></td>
										<td><input id="" type="number" min="0"
											ng-model="item.recorrido_anual"></td>
										<td><input id="" type="number" style="width: 70%" min="0"
											ng-model="item.cantidad_combustible">
											(gal/a&ntilde;o)</td>
										<td><input id="" type="number" min="0"
											ng-model="item.costo_anual"></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

				</fieldset>
			</div>
			<div class="row">
				<fieldset>
					<legend> Trabajadores </legend>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>DNI</label>
								</div>
							</div>
							<div class="g9">
								<div class="item">
									<input id="" type="number" ng-model="trabajadores.dni" ng-maxlength="8" maxlength="8"
										style="width: 150px;">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Nombres y apellidos</label>
								</div>
							</div>
							<div class="g9">
								<div class="item">
									<input id="" type="text" ng-model="trabajadores.nom_apellido"
										style="width: 400px;">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Sexo</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" ng-model="trabajadores.sexo">
										<option value=""></option>
										<option value="Hombre">Hombre</option>
										<option value="Mujer">Mujer</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>Rango de edad</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" ng-model="trabajadores.rango">
										<option value=""></option>
										<option value="MIN25">Hasta 25 a&ntilde;os</option>
										<option value="25E65">25 - 65 a&ntilde;os</option>
										<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Cargo</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" ng-model="trabajadores.cargo">
										<option value=""></option>
										<option value="Coordinador">Coordinador</option>
										<option value="Barredor">Barredor</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>Condici&oacute;n laboral</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" ng-model="trabajadores.laboral">
										<option value=""></option>
										<option value="Nombrado">Nombrado</option>
										<option value="Contratado">Contratado</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="g12">
							<div class="g3">
								<div class="item right">
									<label>Horario de trabajo</label>
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<select id="" ng-model="trabajadores.horario">
										<option value=""></option>
										<option value="M">Ma&ntilde;ana</option>
										<option value="T">Tarde</option>
										<option value="DC">D&iacute;a completo</option>
									</select>
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<label>D&iacute;as trabajados</label>
								</div>
							</div>
							<div class="g3">
								<div class="item">
									<input id="" type="number" min="0" max="366"
										ng-model="trabajadores.dias_trabajados" style="width: 150px;">
									(d&iacute;as/a&ntilde;os)
								</div>
							</div>
							<div class="g2">
								<div class="item right">
									<button type="button" class="btn btn-primary1 btn-sm" id=""
										title="" ng-click="insertar()">Agregar</button>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="g12">
							<table id="tblTrabajador" ng-table="tblTrabajador"
								show-filter="false" class="table square">
								<thead>
									<tr>
										<th>DNI</th>
										<th>Nombres y apellidos</th>
										<th>Sexo</th>
										<th>Rango de edad</th>
										<th>Cargo</th>
										<th>Condici&oacute;n laboral</th>
										<th>Horario de trabajo</th>
										<th>D&iacute;as trabajados</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in lstTrabajador">
										<td>{{item.dni}}</td>
										<td>{{item.nom_apellido}}</td>
										<td>{{item.sexo}}</td>
										<td><select id="" ng-model="item.rango" disabled>
												<option value=""></option>
												<option value="MIN25">Hasta 25 a&ntilde;os</option>
												<option value="25E65">25 - 65 a&ntilde;os</option>
												<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
										</select></td>
										<td><select id="" ng-model="item.cargo" disabled>
												<option value=""></option>
												<option value="Coordinador">Coordinador</option>
												<option value="Barredor">Barredor</option>
										</select></td>
										<td><select id="" ng-model="item.laboral" disabled>
												<option value=""></option>
												<option value="Nombrado">Nombrado</option>
												<option value="Contratado">Contratado</option>
										</select></td>
										<td><select id="" ng-model="item.horario" disabled>
												<option value=""></option>
												<option value="M">Ma&ntilde;ana</option>
												<option value="T">Tarde</option>
												<option value="DC">D&iacute;a completo</option>
										</select></td>
										<td>{{item.dias_trabajados}}</td>
										<td><span ng-click="borrar($index)" ng-show="flag == '0'"
											class="icn icn-trash"></span></td>

									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</fieldset>

			</div>

		</fieldset>


		<div>
			<label style="color: red">(*) Campos requeridos</label>
		</div>
		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">Volver</button>
					<button type="button" class="btnTab btn-primary btn-sm" id=""
						title="" ng-click="guardar()"
						ng-disabled="!myFormTransferencia.$valid">Guardar</button>

				</div>
			</div>
		</div>
	</div>
</form>