<div ng-include="'src/views/parts/menu.html'"></div>

<form name="myFormValorizacion" class="container container-full">
	<div class="row">
		<div id="cabecera1" class="widget header">
			<div class="g4">
				<h3 class="coll">Valorizaci&oacute;n</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="container-panel panel-body">
		<div ng-init="accordion=1">
			<div class="row">
				<h3 class="accordion" ng-class="{active:accordion==1}">
					<a id="cabecera2" href ng-click="accordion = 1"> Datos
						Generales </a>
				</h3>

				<div class="accordion-content" ng-show="accordion==1">
					<fieldset>
						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item">
										<span
											title="D.S. 014-2017-MINAM, Anexo II: Clasificaci&oacute;n Anticipada (DIA: Centros de acopio de residuos s&oacute;lidos municipales)"
											class="icn icn-info-sign"></span> <label>&iquest;Cuenta
											con centros de acopio (residuos inorg&aacute;nicos)?</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										Si <input type="radio" ng-model="valorizacion1.flag_acopio"
											style="margin-left: 20px;" value="1">
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<span style="margin-left: 60px;">No</span> <input type="radio"
											ng-model="valorizacion1.flag_acopio"
											style="margin-left: 20px;" value="0">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>N&uacute;mero de centros de acopio</label>
									</div>
								</div>
								<div class="g2">
									<div class="item">
										<input id="" type="number" style="width: 180px;" max="20"
											min="0" ng-model="valorizacion1.numero_acopio"
											ng-disabled="valorizacion1.flag_acopio==0">
									</div>
								</div>
							</div>
						</div>

						<div class="row" ng-show="valorizacion1.flag_acopio == 1">
							<div class="g12">
								<div class="g4">
									<div class="item right">
										<label>&iquest;La capacidad del Centro de acopio es
											mayor a 10 t/d&iacute;a?</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row" ng-show="valorizacion1.flag_acopio == 1">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										Si <input type="radio" ng-model="valorizacion1.flag_acopio2"
											style="margin-left: 20px;" value="1">
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<span style="margin-left: 60px;">No</span> <input type="radio"
											ng-model="valorizacion1.flag_acopio2"
											style="margin-left: 20px;" value="0">
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="g12">
								<div class="g6">
									<div class="item">
										<label>&iquest;Valoriza los residuos org&aacute;nicos?</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										Si <input type="radio"
											ng-model="valorizacion1.flag_valorizacion"
											style="margin-left: 20px;" value="1">
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<span style="margin-left: 60px;">No</span> <input type="radio"
											ng-model="valorizacion1.flag_valorizacion"
											style="margin-left: 20px;" value="0">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>N&uacute;mero de centros valorizaci&oacute;n de
											Rs Os</label>
									</div>
								</div>
								<div class="g9">
									<div class="item">
										<input id="" type="number" style="width: 180px;" max="20"
											min="0" ng-disabled="valorizacion1.flag_valorizacion == 0"
											ng-model="valorizacion1.numero_valorizacion">
									</div>
								</div>
							</div>
						</div>

						<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										<label>&iquest;La capacidad de la Planta de
											valorizaci&oacute;n es mayor a 3 t/d&iacute;a?</label>
									</div>
								</div>

							</div>
						</div>
						<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
							<div class="g12">
								<div class="g3">
									<div class="item right">
										Si <input type="radio"
											ng-model="valorizacion1.flag_valorizacion2"
											style="margin-left: 20px;" value="1">
									</div>
								</div>
								<div class="g3">
									<div class="item">
										<span style="margin-left: 60px;">No</span> <input type="radio"
											ng-model="valorizacion1.flag_valorizacion2"
											style="margin-left: 20px;" value="0">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="g12">
								<div class="item ls-horizontal right">
									<button type="button" class="btnTab btn-primary btn-sm"
										ng-click="grabar1()">Grabar</button>
								</div>

							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="g12">
				<div ng-init="accordion=1">
					<div class="row" ng-show="valorizacion1.flag_acopio == 1 || valorizacion1.flag_valorizacion == 1" >

						<h3 class="accordion" ng-class="{active:accordion==2}">
							<a id="cabecera2" href ng-click="accordion = 2">Aprovechamiento
								de residuos s&oacute;lidos </a>
						</h3>

						<div class="accordion-content" ng-show="accordion==2"
							ng-show="valorizacion1.flag_acopio == 1">
							<div class="row" ng-show="valorizacion1.flag_acopio == 1">
								<div class="g12">
									<h5>Residuos inorg&aacute;nicos llevados a centros de
										acopio</h5>
								</div>
							</div>

							<div class="row" ng-show="valorizacion1.flag_acopio == 1">
								<div class="g12">
									<div class="g6">
										<label style="font-weight: bold;">Cantidad de residuos
											inorg&aacute;nicos en centros de acopio (t/mes)</label>
									</div>
								</div>
							</div>
							<div class="row" ng-show="valorizacion1.flag_acopio == 1">
								<div class="g12">
									<table id="tblResiduosAprovechados"
										ng-table="tblResiduosAprovechados" show-filter="false"
										class="table square">
										<tbody>
											<tr ng-repeat="item in lstResiduosAprovechados">
												<td data-title="'Residuos Inorg&aacute;nicos'"
													style="width: 18%;">{{item.tipo_residuo_solido.nombre}}
													<!-- 												<label style="font-size: 11px" --> <!-- 												ng-show="item.tipo_residuo_solido.informacion != null"><span -->
													<!-- 													class="icn icn-info-sign"> --> <!-- 														{{item.tipo_residuo_solido.informacion}}</span> </label> -->
												</td>
												<td data-title="'Enero'"
													style="width: 6%; text-align: right;"><input
													id="enero" type="number" ng-model="item.enero"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Febrero'"
													style="width: 6%; text-align: right;"><input
													id="febrero" type="number" ng-model="item.febrero"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Marzo'"
													style="width: 6%; text-align: right;"><input
													id="marzo" type="number" ng-model="item.marzo"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Abril'"
													style="width: 6%; text-align: right;"><input
													id="abril" type="number" ng-model="item.abril"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Mayo'"
													style="width: 6%; text-align: right;"><input id="mayo"
													type="number" ng-model="item.mayo" ng-change="change()"
													min="0" style="width: 100%; text-align: center;"></td>
												<td data-title="'Junio'"
													style="width: 6%; text-align: right;"><input
													id="junio" type="number" ng-model="item.junio"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Julio'"
													style="width: 6%; text-align: right;"><input
													id="julio" type="number" ng-model="item.julio"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Agosto'"
													style="width: 6%; text-align: right;"><input
													id="agosto" type="number" ng-model="item.agosto"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Setiembre'"
													style="width: 6%; text-align: right;"><input
													id="setiembre" type="number" ng-model="item.setiembre"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Octubre'"
													style="width: 6%; text-align: right;"><input
													id="octubre" type="number" ng-model="item.octubre"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Noviembre'"
													style="width: 6%; text-align: right;"><input
													id="noviembre" type="number" ng-model="item.noviembre"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<td data-title="'Diciembre'"
													style="width: 6%; text-align: right;"><input
													id="diciembre" type="number" ng-model="item.diciembre"
													ng-change="change()" min="0"
													style="width: 100%; text-align: right;"></td>
												<!-- 												<td data-title="'Total'" -->
												<!-- 													style="width: 6%; text-align: right;">{{item.total = -->
												<!-- 													item.enero + item.febrero + item.marzo + item.abril + -->
												<!-- 													item.mayo + item.junio + item.julio + item.agosto + -->
												<!-- 													item.setiembre + item.octubre + item.noviembre + -->
												<!-- 													item.diciembre}}</td> -->
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row" ng-show="valorizacion1.flag_acopio == 1">
								<div class="g12">
									<div class="g2">
										<div class="item">
											<label>Otro </label><input id="" type="text"
												style="width: 80%;" placeholder="Especificar"
												ng-model="valorizacion2.residuo_inorganico_otro">
										</div>
									</div>
									<div class="g10">
										<div class="item">
											<input id="" type="number" title="Enero"
												style="width: 7%; margin-left: 2%;" min="0"
												ng-model="valorizacion2.enero_otro"> <input id=""
												title="Febrero" type="number"
												style="width: 7%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.febrero_otro"> <input id=""
												title="Marzo" type="number"
												style="width: 7%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.marzo_otro"> <input id=""
												title="Abril" type="number"
												style="width: 7%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.abril_otro"> <input id=""
												title="Mayo" type="number"
												style="width: 7%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.mayo_otro"> <input id=""
												title="Junio" type="number"
												style="width: 7%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.junio_otro"> <input id=""
												title="Julio" type="number"
												style="width: 6%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.julio_otro"> <input id=""
												title="Agosto" type="number"
												style="width: 6%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.agosto_otro"> <input id=""
												title="Setiembre" type="number"
												style="width: 6%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.setiembre_otro"> <input
												title="Octubre" id="" type="number"
												style="width: 6%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.octubre_otro"> <input
												title="Noviembre" id="" type="number"
												style="width: 6%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.noviembre_otro"> <input
												title="Diciembre" id="" type="number"
												style="width: 6%; margin-left: 1%;" min="0"
												ng-model="valorizacion2.diciembre_otro">
											<!-- 												<label -->
											<!-- 												style="width: 7%; margin-left: 1%;">{{valorizacion2.total_otro -->
											<!-- 												= valorizacion2.enero_otro + valorizacion2.febrero_otro + -->
											<!-- 												valorizacion2.marzo_otro + valorizacion2.abril_otro + -->
											<!-- 												valorizacion2.mayo_otro + valorizacion2.junio_otro + -->
											<!-- 												valorizacion2.julio_otro + valorizacion2.agosto_otro + -->
											<!-- 												valorizacion2.setiembre_otro + valorizacion2.octubre_otro + -->
											<!-- 												valorizacion2.noviembre_otro + -->
											<!-- 												valorizacion2.diciembre_otro}}</label> -->
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="margin-top: 20px;" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<h5>
										Residuos org&aacute;nicos llevados a plantas de
										valorizaci&oacute;n</span>
									</h5>

								</div>
							</div>

							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">

									<label style="font-weight: bold;">Residuos
										org&aacute;nicos que ingresan a la planta de
										valorizaci&oacute;n (t/a&ntilde;o)</label>

								</div>
							</div>
							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">

									<table id="tblResiduosOrganicos"
										ng-table="tblResiduosOrganicos" style="width: 40%;"
										show-filter="false" class="table square">
										<thead>
											<tr>
												<th>Tipo de residuo org&aacute;nico</th>
												<th>Cantidad valorizada</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstResiduosOrganicos">
												<td>{{item.tipoProductos.nombre}}</td>
												<td><input id="" type="number" style="width: 180px;"
													ng-model="item.cantidad"><label class="unidad">(t/a&ntilde;o)</label>

												</td>
											</tr>

										</tbody>
									</table>


								</div>
							</div>

							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<div class="g6">
										<div class="item">
											<label><span style="font-weight: bold;">Actividades
													de procesos de degradaci&oacute;n de residuos
													s&oacute;lidos org&aacute;nicos:</span></label>
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<div class="g2">
										<div class="item">
											<label>Compostaje</label> <input id="" type="checkbox"
												ng-model="valorizacion2.compostaje">
										</div>
									</div>

									<div class="g2">
										<div class="item">
											<label>Lombricultura</label> <input id="" type="checkbox"
												ng-model="valorizacion2.lombricultura"><br> <br>

										</div>
									</div>

								</div>
							</div>
							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<div class="g2">
										<label>Biodigesti&oacute;n</label> <input id=""
											type="checkbox" ng-model="valorizacion2.biodigestion">
									</div>
									<div class="g4">
										<label>Otros</label><input id="" type="checkbox"
											ng-model="valorizacion2.otros_actividades"> <input
											id="" type="text" placeholder="Especificar"
											ng-show="valorizacion2.otros_actividades"
											style="width: 250px;" ng-model="valorizacion2.descrip_otros">
									</div>
								</div>
							</div>


							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">

									<div class="item">
										<label><span style="font-weight: bold;">Productos
												obtenidos:</span></label>
									</div>

								</div>
							</div>
							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">

									<table id="tblProductosObtenidos"
										ng-table="tblProductosObtenidos" show-filter="false"
										style="width: 40%;" class="table square">
										<thead>
											<tr>
												<th>Tipo de producto</th>
												<th>Cantidad anual</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in lstProductosObtenidos">
												<td>{{item.tipoProductos.nombre}}</td>
												<td><input id="" type="number" style="width: 180px"
													ng-model="item.cantidad"> <label class="unidad">(t/a&ntilde;o)</label></td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>
							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<div class="g2">
										<div class="item">
											<label>Otros</label><br> <input id="" type="text"
												style="width: 80%;" placeholder="Especificar"
												ng-model="valorizacion2.descrip_productos">
										</div>
									</div>
									<div class="g10">
										<div class="item">
											<br> <input id="" type="number" style="width: 130px;"
												ng-model="valorizacion2.cantidad_productos"> <label
												class="unidad">(t/a&ntilde;o)</label>
										</div>
									</div>
								</div>
							</div>

							<div class="row" style="margin-top: 20px;" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<span
										title="Informaci&oacute;n necesaria para el c&aacute;lculo de las emisiones de GEI y sus reducciones"
										class="icn icn-info-sign"></span><label
										style="font-weight: bold;">Del proceso de compostaje</label>

								</div>
							</div>
							<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>N&uacute;mero de ciclos:</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<input id="" type="number" style="width: 100px" min="1"
												max="5" ng-model="valorizacion2.numero_ciclos">
										</div>
									</div>
								</div>
							</div>

							<div class="row" ng-show="valorizacion2.numero_ciclos > 0 && valorizacion1.flag_valorizacion == 1" >
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Cantidad de residuos en el ciclo 1</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="valorizacion2.cantidad_residuos1">
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-show="valorizacion2.numero_ciclos > 1 && valorizacion1.flag_valorizacion == 1" >
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Cantidad de residuos en el ciclo 2</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="valorizacion2.cantidad_residuos2">
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-show="valorizacion2.numero_ciclos > 2 && valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Cantidad de residuos en el ciclo 3</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="valorizacion2.cantidad_residuos3">
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-show="valorizacion2.numero_ciclos > 3 && valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Cantidad de residuos en el ciclo 4</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="valorizacion2.cantidad_residuos4">
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-show="valorizacion2.numero_ciclos > 4 && valorizacion1.flag_valorizacion == 1">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Cantidad de residuos en el ciclo 5</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="valorizacion2.cantidad_residuos5">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="item ls-horizontal right">
										<button type="button" class="btnTab btn-primary btn-sm" id=""
											title="" ng-click="grabar2()">Grabar</button>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="row" ng-show="valorizacion1.flag_acopio == 1">
						<h3 class="accordion" ng-class="{active:accordion==3}">
							<a id="cabecera2" ng-click="accordion = 3">Centros de acopio
								(residuos inorg&aacute;nicos) </a>
						</h3>

						<div class="accordion-content" ng-show="accordion==3">
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label style="font-weight: bold;">Tipo de
												administraci&oacute;n</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<label style="font-weight: bold;">N&uacute;mero de
												centros de acopio</label>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Administraci&oacute;n propia</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="acopio.adm_propia">
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<a ng-click="agregarDetalle()"
												ng-show="acopio.adm_propia > 0 && valorizacion1.flag_acopio2 == 1">Agregar
												detalle</a>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<a ng-click="verDetalle()">Ver detalle</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label title="Empresas operadoras de residuos s&oacute;lidos">Tercerizado
												- EOR</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="acopio.tercerizado_eor">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>Tercerizado - Asociaci&oacute;n de
												recicladores</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="acopio.tercerizado_asoc_recic">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label
												title="Asociaci&oacute;n de recicladores, con apoyo de la municipalidad de la jurisdicci&oacute;n">Mixto</label>
										</div>
									</div>
									<div class="g2">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="acopio.mixto">
											<!-- 										<br> <label -->
											<!-- 										style="font-size: 11px"><span -->
											<!-- 										class="icn icn-info-sign"></span> Asociaci&oacute;n de -->
											<!-- 										recicladores, con apoyo de la municipalidad de la -->
											<!-- 										jurisdicci&oacute;n</label> -->
										</div>
									</div>
									<div class="g3" ng-show="acopio.adm_propia + acopio.tercerizado_eor + acopio.tercerizado_asoc_recic + acopio.mixto != valorizacion1.numero_acopio">
										<div class="item">
											<label><span style="color: red">La suma debe ser igual al N&uacute;mero de centros de acopio</span></label>
										</div>
									</div>
								</div>
							</div>

							<div class="row" ng-show="detalle > 0 && detalle < acopio.adm_propia">
								<fieldset>
									<legend title="Datos del documento que aprueba el IGA">Instrumento
										de gesti&oacute;n ambiental (IGA)</legend>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Raz&oacute;n social</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="documento.razon_social_iga">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>N&uacute;mero de resoluci&oacute;n o
														documento</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="documento.numero_iga">
												</div>
											</div>
											<div class="g4">
												<div class="item right">
													<label>Tipo Documento:</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" style="width: 180px;">
														<option value=""></option>
														<option value="Resolucion">Resoluci&oacute;n</option>
														<option value="Documento de aprobacion">Documento de aprobaci&oacute;n</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Autoridad que emiti&oacute; el documento</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="documento.autoridad_iga">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Fecha de emisi&oacute;n</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														placeholder="dd/mm/aaaa"
														ng-model="documento.fecha_emision_iga">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Adjuntar documento</label>
												</div>
											</div>
											<div class="g4">
												<div class="item">
													<input id="" type="file" style="width: 500px;" disabled>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label style="font-weight: bold;">Vigencia</label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Inicio del permiso:</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" style="width: 150px;"
														placeholder="dd/mm/aaaa"
														ng-model="documento.inicio_permiso_iga">
												</div>
											</div>

										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Fin del permiso</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" style="width: 150px;"
														placeholder="dd/mm/aaaa"
														ng-model="documento.culminacion_permiso_iga">
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label style="font-weight: bold;">Coordenadas UTM
														(UTM-WGS84)</label>
												</div>
											</div>

										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Zona</label>
												</div>
											</div>
											<div class="g2">
												<div class="item right">
													<label>Norte</label>
												</div>
											</div>
											<div class="g2">
												<div class="item right">
													<label>Sur</label>
												</div>
											</div>

										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g1">
												<div class="item">
													<p></p>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" ng-model="ubicacion.zona_coordenada">
														<option value=""></option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
													</select>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" ng-model="ubicacion.norte_coordenada">
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" ng-model="ubicacion.sur_coordenada">
												</div>
											</div>

										</div>
									</div>
									<br> <br>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label style="font-weight: bold;">Ubicaci&oacute;n</label>
												</div>
											</div>
										</div>
									</div>

									<!--div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Divisi&oacute;n pol&iacute;tica</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" placeholder="Dep/Prov/Distrito"
														ng-model="acopio.division_politica">
												</div>
											</div>


										</div>
									</div-->

									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Departamento</label>
												</div>
											</div>
											<div class="g1">
												<div class="item">
													<select id="" style="width: 180px"
														ng-model="ubicacion.div_politica_dep">
														<option value="Lima">Lima</option>
													</select>
												</div>
											</div>
											<div class="g2">
												<div class="item right">
													<label>Provincia</label>
												</div>
											</div>
											<div class="g1">
												<div class="item">
													<select id="" style="width: 180px"
														ng-model="ubicacion.div_politica_prov">
														<option value="Lima">Lima</option>
													</select>
												</div>
											</div>
											<div class="g2">
												<div class="item right">
													<label>Distrito</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" style="width: 180px"
														ng-model="ubicacion.div_politica_dist">
														<option value="Jesus Maria">Jesus Maria</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Direcci&oacute;n</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" ng-model="ubicacion.direccion">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Referencia</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" ng-model="ubicacion.referencia">
												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<br><br>
							<div class="row" ng-show="coordenada > 0">
								<div class="g12">
									<table id="tblCoordenadas" ng-table="tblCoordenadas"
										style="width: 50%" show-filter="false" class="table square">
										<tbody>
											<tr ng-repeat="item in lstCoordenadas">
												<td data-title="'Zona'">{{item.zona_coordenada}}</td>
												<td data-title="'Norte'">{{item.norte_coordenada}}</td>
												<td data-title="'Sur'">{{item.sur_coordenada}}</td>
												<td data-title="'Departamento'">{{item.div_politica_dep}}</td>
												<td data-title="'Provincia'">{{item.div_politica_prov}}</td>
												<td data-title="'Distrito'">{{item.div_politica_dist}}</td>
												<td data-title="'Direcci&oacute;n'">{{item.direccion}}</td>
												<td data-title="'Referencia'">{{item.referencia}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="item ls-horizontal right">
										<button type="button" class="btnTab btn-primary btn-sm" id=""
											title="" ng-click="grabar3()">Grabar</button>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row" ng-show="valorizacion1.flag_acopio == 1">
						<h3 class="accordion" ng-class="{active:accordion==6}">
							<a id="cabecera2" ng-click="accordion = 6">Costo referencial
								(residuos inorg&aacute;nicos) </a>
						</h3>
						<div class="accordion-content" ng-show="accordion==6">
							<div class="row">
								<div class="g12">
									<div class="g6">
										<div class="item">
											<label>Costo referencial (promedio anual)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">

									<table id="tblCostoReferencial" ng-table="tblCostoReferencial"
										style="width: 50%" show-filter="false" class="table square">
										<tbody>
											<tr ng-repeat="item in lstCostoReferencial">
												<td data-title="'Tipo de residuo inorg&aacute;nico'">{{item.tipo_residuo.nombre}}
													<label style="font-size: 11px"
													ng-show="item.tipo_residuo_solido.informacion != null"><span
														class="icn icn-info-sign">
															{{item.tipo_residuo_solido.informacion}}</span> </label>
												</td>
												<td data-title="'Costo referencial (Soles/Kg)'"
													style="text-align: center;"><input id="enero"
													type="number" ng-model="item.costo" ng-change="change()"
													min="0" style="width: 100%; text-align: center;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="item ls-horizontal right">
										<button type="button" class="btnTab btn-primary btn-sm" id=""
											title="" ng-click="grabar4()">
											<span>Grabar</span>
										</button>

									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="row" ng-show="valorizacion1.flag_acopio == 1">
						<h3 class="accordion" ng-class="{active:accordion==4}">
							<a id="cabecera2" href ng-click="accordion = 4"> Recicladores
							</a>
						</h3>

						<div class="accordion-content" ng-show="accordion==4">
							<div class="row">
								<div class="g12">
									<div class="g3">
										<div class="item right">
											<label>N&uacute;mero de asociaciones de recicladores</label>
										</div>
									</div>
									<div class="g3">
										<div class="item">
											<input id="" type="number" style="width: 100px;"
												ng-model="acopio.numero_recicladores">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<fieldset>
									<legend title="Recicladores que participan en el programa">Trabajadores
									</legend>

									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>DNI</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="number" ng-model="trabajadores.dni" ng-maxlength="8"
														style="width: 200px;">
												</div>
											</div>

										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Nombres y apellidos</label>
												</div>
											</div>
											<div class="g4">
												<div class="item">
													<input id="" type="text" 
														ng-model="trabajadores.nom_apellido">
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Sexo</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" ng-model="trabajadores.sexo">
														<option value=""></option>
														<option value="Hombre">Hombre</option>
														<option value="Mujer">Mujer</option>
													</select>
												</div>
											</div>
											<div class="g3">
												<div class="item right">
													<label>Rango de edad</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" ng-model="trabajadores.rango">
														<option value=""></option>
														<option value="MIN25">Hasta 25 a&ntilde;os</option>
														<option value="25E65">25 - 65 a&ntilde;os</option>
														<option value="MAY65">65 a&ntilde;os a m&atilde;s</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Cargo</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" ng-model="trabajadores.cargo">
														<option value=""></option>
														<option value="Coordinador">Coordinador</option>
														<option value="Barredor">Barredor</option>
													</select>
												</div>
											</div>
											<div class="g3">
												<div class="item right">
													<label>Condici&oacute;n laboral</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" ng-model="trabajadores.laboral">
														<option value=""></option>
														<option value="Nombrado">Nombrado</option>
														<option value="Contratado">Contratado</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item right">
													<label>Horario de trabajo</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" ng-model="trabajadores.horario">
														<option value=""></option>
														<option value="M">Ma&ntilde;ana</option>
														<option value="T">Tarde</option>
														<option value="DC">D&iacute;a completo</option>
													</select>
												</div>
											</div>
											<div class="g3">
												<div class="item right">
													<label>D&iacute;as trabajados
														(d&iacute;as/a&ntilde;os)</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="number"
														ng-model="trabajadores.dias_trabajados">
												</div>
											</div>
											<div class="g1">
												<div class="item right">
													<button type="button" class="btn btn-primary1 btn-sm" id=""
														title="" ng-click="insertar()">Agregar</button>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">

											<table id="tblTrabajador" ng-table="tblTrabajador"
												show-filter="false" class="table square">
												<thead>
													<tr>
														<th>DNI</th>
														<th>Nombres y apellidos</th>
														<th>Sexo</th>
														<th>Rango de edad</th>
														<th>Cargo</th>
														<th>Condici&oacute;n laboral</th>
														<th>Horario de trabajo</th>
														<th>D&iacute;as trabajados (d&iacute;s/a&ntilde;os)</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in lstTrabajador">
														<td>{{item.dni}}</td>
														<td>{{item.nom_apellido}}</td>
														<td>{{item.sexo}}</td>
														<td><select id="" ng-model="item.rango">
																<option value=""></option>
																<option value="MIN25">Hasta 25 a&ntilde;os</option>
																<option value="25E65">25 - 65 a&ntilde;os</option>
																<option value="MAY65">65 a&ntilde;os a
																	m&atilde;s</option>
														</select></td>
														<td><select id="" ng-model="item.cargo">
																<option value=""></option>
																<option value="Coordinador">Coordinador</option>
																<option value="Barredor">Barredor</option>
														</select></td>
														<td><select id="" ng-model="item.laboral">
																<option value=""></option>
																<option value="Nombrado">Nombrado</option>
																<option value="Contratado">Contratado</option>
														</select></td>
														<td><select id="" ng-model="item.horario">
																<option value=""></option>
																<option value="M">Ma&ntilde;ana</option>
																<option value="T">Tarde</option>
																<option value="DC">D&iacute;a completo</option>
														</select></td>
														<td>{{item.dias_trabajados}}</td>
														<td><span ng-click="borrar($index)"
															ng-show="flag == '0'" class="icn icn-trash"></span></td>
													</tr>
												</tbody>
											</table>

										</div>
									</div>
								</fieldset>
								<div class="row">
									<div class="g12">
										<div class="item ls-horizontal right">
											<button type="button" class="btnTab btn-primary btn-sm" id=""
												title="" ng-click="grabar5()">Grabar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row" ng-show="valorizacion1.flag_valorizacion == 1">
						<h3 class="accordion" ng-class="{active:accordion==5}">
							<a id="cabecera2" href ng-click="accordion = 5">Planta de
								valorizaci&oacute;n </a>
						</h3>

						<div class="accordion-content" ng-show="accordion==5">
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label style="font-weight: bold;">Tipo de
												administraci&oacute;n</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<label style="font-weight: bold;">N&uacute;mero de
												plantas de valorizaci&oacute;n</label>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label>Administraci&oacute;n propia</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="planta.adm_propia">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label>Tercerizado</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="planta.tercerizado">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="g12">
									<div class="g2">
										<div class="item right">
											<label>Mixto</label>
										</div>
									</div>
									<div class="g4">
										<div class="item">
											<input id="" type="number" style="width: 180px;"
												ng-model="planta.mixto">
										</div>
									</div>
								</div>
							</div>
							
							<div class="g3" ng-show="planta.adm_propia + planta.tercerizado + planta.mixto != valorizacion1.numero_valorizacion">
								<div class="item">
									<label><span style="color: red">La suma debe ser igual al N&uacute;mero de valorizaci&oacute;n</span></label>
								</div>
							</div>
							
							<div class="row" ng-show="valorizacion1.flag_valorizacion2 == 1">
								<fieldset>
									<legend
										title="Datos del documento que aprueba el instrumento de gesti&oacute;n ambiental">Instrumento
										de gesti&oacute;n ambiental (IGA)</legend>
									<div class="row">

										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Raz&oacute;n social</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="documento.razon_social_iga">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>N&uacute;mero de resoluci&oacute;n o
														documento </label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="documento.numero_iga">
												</div>
											</div>
											<div class="g4">
												<div class="item right">
													<label>Tipo Documento:</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" style="width: 180px;">
														<option value=""></option>
														<option value="Resolucion">Resoluci&oacute;n</option>
														<option value="Documento de aprobacion">Documento de aprobaci&oacute;n</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Nombre de la infraestructura de residuos
														s&oacute;lidos</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="documento.nombre_infraest">
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label
														title="Nombre de la autoridad que emite la
												Resoluci&oacute;n o documento que aprueba el IGA de la
												infraestructura de residuos s&oacute;lidos">Nombre
														de la autoridad que emite la Resoluci&oacute;n</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="documento.autoridad_iga">
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label
														title=" o documento que aprueba el IGA de la infraestructura de residuos s&oacute;lidos">Fecha
														de emisi&oacute;n de la Resoluci&oacute;n</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														placeholder="dd/mm/aaaa"
														ng-model="documento.fecha_emision_iga">
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Adjuntar documento</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="file" style="width: 500px;" disabled>
												</div>
											</div>
										</div>
									</div>
									<br> <br>
									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label style="font-weight: bold;">Coordenadas UTM
														(UTM-WGS84)</label>
												</div>
											</div>

										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Zona</label>
												</div>
											</div>
											<div class="g2">
												<div class="item right">
													<label>Norte</label>
												</div>
											</div>
											<div class="g2">
												<div class="item right">
													<label>Sur</label>
												</div>
											</div>

										</div>
									</div>


									<div class="row">
										<div class="g12">
											<div class="g2">
												<div class="item">
													<p></p>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" ng-model="planta.zona_coordenada">
														<option value=""></option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
													</select>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" ng-model="planta.norte_coordenada">
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" ng-model="planta.sur_coordenada">
												</div>
											</div>

										</div>
									</div>
									<br> <br>
									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label style="font-weight: bold;">Ubicaci&oacute;n</label>
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Departamento</label>
												</div>
											</div>
											<div class="g1">
												<div class="item">
													<select id="" style="width: 180px" ng-model="planta.div_politica_dep">
														<option value=""></option>
														<option value="Lima">Lima</option>
													</select>
												</div>
											</div>
											<div class="g2">
												<div class="item right">
													<label>Provincia</label>
												</div>
											</div>
											<div class="g1">
												<div class="item">
													<select id="" style="width: 180px" ng-model="planta.div_politica_prov">
														<option value=""></option>
														<option value="Lima">Lima</option>
													</select>
												</div>
											</div>
											<div class="g2">
												<div class="item right">
													<label>Distrito</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<select id="" style="width: 180px" ng-model="planta.div_politica_dist">
														<option value=""></option>
														<option value="Jesus Maria">Jesus Maria</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Direcci&oacute;n</label>
												</div>
											</div>
											<div class="g3">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="planta.direccion_iga">
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Referencia</label>
												</div>
											</div>
											<div class="g3">
												<div class="item">
													<input id="" type="text" style="width: 500px;"
														ng-model="planta.referencia_iga">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label><span style="font-weight: bold">De la
															licencia de funcionamiento</span></label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>N&uacute;mero de licencia vigente</label>
												</div>
											</div>
											<div class="g6">
												<div class="item">
													<input id="" type="text" style="width: 200px;"
														ng-model="documento.licencia">
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="g12">

											<div class="g3">
												<div class="item right">
													<label>Fecha de emisi&oacute;n:</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" style="width: 200px;"
														placeholder="dd/mm/aaaa"
														ng-model="documento.inicio_permiso_iga">
												</div>
											</div>

										</div>
									</div>
									<div class="row">
										<div class="g12">
											<div class="g3">
												<div class="item right">
													<label>Fecha de caducidad</label>
												</div>
											</div>
											<div class="g2">
												<div class="item">
													<input id="" type="text" style="width: 200px;"
														placeholder="dd/mm/aaaa"
														ng-model="documento.culminacion_permiso_iga">
												</div>
											</div>
										</div>
									</div>

								</fieldset>
							</div>

							<div class="row">
								<div class="g12">
									<div class="item ls-horizontal right">
										<button type="button" class="btnTab btn-primary btn-sm" id=""
											title="" ng-click="grabar6()">Grabar</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 	<div> -->
		<!-- 		<label style="color: red">(*) Campos requeridos</label> -->
		<!-- 	</div> -->
		<div class="row">
			<div class="g12">
				<div class="item ls-horizontal right">
					<button type="button" class="btnTab btn-default btn-sm" id=""
						title="" ng-click="volver()">
						<span>Volver</span>
					</button>

				</div>
			</div>
		</div>
	</div>
</form>