@charset "UTF-8";
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.container .row {
  width: 100%;
  zoom: 1;
  margin-bottom: 0px;
  display: inline-block;
}
.container .row:after {
  clear: both;
  display: block;
  content: "";
  line-height: 0;
}
.container .row [class^="g"] {
  display: block;
  float: left;
  margin: 0;
  margin-left: 1.47059%;
}
.container .row [class^="g"]:first-of-type {
  margin-left: 0 !important;
}

.container .g1 {
  width: 6.98529%;
}
.container .g2 {
  width: 15.44118%;
}
.container .g3 {
  width: 23.89706%;
}
.container .g4 {
  width: 32.35294%;
}
.container .g5 {
  width: 40.80882%;
}
.container .g6 {
  width: 49.26471%;
}
.container .g7 {
  width: 57.72059%;
}
.container .g8 {
  width: 66.17647%;
}
.container .g9 {
  width: 74.63235%;
}
.container .g10 {
  width: 83.08824%;
}
.container .g11 {
  width: 91.54412%;
}
.container .g12 {
  width: 100%;
}

.container:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.row:before,
.row:after {
  content: " ";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after {
  clear: both;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

@media (max-width: 480px) {
  .container, .container-full {
    width: 100%;
  }
  .container [class^="g"], .container-full [class^="g"] {
    width: 100% !important;
    float: none !important;
    margin: 0 0 0 0 !important;
  }
}
.container-full {
  max-width: 100%;
  margin: 0 auto;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial;
  font-size: 13px;
  color: #4c4c4c;
  height: 100%;
  width: 100%;
  background: #F5F5F7;
}

ul {
  margin: 0;
  padding: 0;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right !important;
}

.relative {
  position: relative;
}

.left {
  float: left;
}

.right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.block-center {
  margin: auto !important;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

pre {
  background: #d9dde4;
  border: 1px solid #BCC3CE;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  line-height: 15px;
}

.browsehappy {
  padding: 10px 30px;
  background: #FFF5D2;
  margin: 0;
}
.browsehappy a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-image: linear-gradient(to bottom, #fff 0%, #EFF2F5 100%);
  -webkit-background-image: linear-gradient(to bottom, #fff 0%, #EFF2F5 100%);
  -moz-background-image: linear-gradient(to bottom, #fff 0%, #EFF2F5 100%);
  -ms-background-image: linear-gradient(to bottom, #fff 0%, #EFF2F5 100%);
  -o-background-image: linear-gradient(to bottom, #fff 0%, #EFF2F5 100%);
  color: #333;
  border: 1px solid #D9DCE0;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
  color: #666;
}
.btn:hover {
  background: #e8ebee;
  color: #222;
}
.btn:active {
  outline: 0;
  color: #333;
  background-image: none;
  border-color: #BCC3CE;
  -webkit-box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
}
.btn:focus {
  outline: 0;
}

.btn-sm {
  padding: 7px 10px;
  height: 30px;
}

.btn-primary {
  border: 1px solid transparent;
  color: #fff;
  background: #4561B5;
}
.btn-primary:hover {
  background: #3e57a3;
  color: #fff;
}
.btn-primary:active {
  color: #fff;
  border-color: #3e57a3;
}

.btn-danger {
  background-image: linear-gradient(to bottom, #dd1a1a 0%, #cf1313 100%);
  -webkit-background-image: linear-gradient(to bottom, #dd1a1a 0%, #cf1313 100%);
  -moz-background-image: linear-gradient(to bottom, #dd1a1a 0%, #cf1313 100%);
  -ms-background-image: linear-gradient(to bottom, #dd1a1a 0%, #cf1313 100%);
  -o-background-image: linear-gradient(to bottom, #dd1a1a 0%, #cf1313 100%);
  border: 1px solid transparent;
  color: #fff;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  color: #fff;
  background: #cf1313;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format("eot"), url(../fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}
input:disabled,
select:disabled {
  box-shadow: none;
  cursor: not-allowed !important;
  color: #666;
  background-color: white;
  border: 1px solid #ccc;
  opacity: 0.7;
}

.form-inline [class^="g"] {
  vertical-align: middle;
  line-height: 50px;
}

.g12.label {
  line-height: 20px;
  height: 20px;
}

input[readonly] {
  color: #A0A6B7 !important;
  background: #e8ebee !important;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='number'],
input[type='date'],
input[type='time'],
input[type='email'] {
  width: 100%;
  height: 30px;
  padding: 8px 10px;
  background: #fff;
  border: 1px solid #d9dde4;
  outline: 0 !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='number']:focus,
input[type='date']:focus,
input[type='time']:focus,
input[type='email']:focus {
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.075), 0px 0px 5px rgba(102, 175, 233, 0.2);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.075), 0px 0px 5px rgba(102, 175, 233, 0.2);
  border-color: #8DD4F1;
}

select {
  overflow: hidden;
  width: 100%;
  padding: 0px 5px;
  background-color: white;
  border: 1px solid #d9dde4;
  background-image: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
  -webkit-background-image: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
  -moz-background-image: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
  -ms-background-image: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
  -o-background-image: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  line-height: 1;
  height: 30px;
  outline: 0 !important;
}
select option:first-child {
  color: #999;
}

select[multiple] {
  height: auto;
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  -webkit-background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  -moz-background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  -ms-background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  -o-background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

select[multiple].select-md {
  height: auto;
  min-height: 160px;
}

select[multiple].select-lg {
  height: auto;
  min-height: 260px;
}

label {
  line-height: 18px;
  margin: 0 2px;
}

.checkbox-group {
  position: relative;
  padding-left: 32px;
  display: inline-block;
  min-height: 22px;
}
.checkbox-group input[type=checkbox],
.checkbox-group .icons {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  padding: 0px;
  margin: 0px;
  outline: 0 !important;
  opacity: 0;
}
.checkbox-group .icons {
  cursor: pointer;
  opacity: 1;
}
.checkbox-group .icons i.icheck {
  display: inline-block;
}

textarea {
  width: 100%;
  height: 100px;
  background-color: white;
  border: 1px solid #dbdcdf;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 0.5ex;
  padding: initial;
  background-color: initial;
  border: initial;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

input[type="radio"] {
  -webkit-appearance: radio;
  box-sizing: border-box;
  margin: 3px 0.5ex;
  padding: initial;
  background-color: initial;
  border: initial;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

#btnExaminar {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

#btnExaminar input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.c-checkbox span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: -20px;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 5px;
  text-align: center;
}

.c-checkbox input {
  opacity: 0;
  position: absolute;
  margin-left: 0 !important;
}

.glyphicon,
.icn {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button > .icn,
button > .glyphicon,
.btn > .glyphicon,
.btn > .icn,
a > .icn,
a > .glyphicon {
  margin-right: 5px;
}

.glyphicon-star:before,
.icn-star:before {
  content: "";
}

.glyphicon-star-empty:before,
.icn-star-empty:before {
  content: "";
}

.glyphicon-user:before,
.icn-user:before {
  content: "";
}

.glyphicon-film:before,
.icn-film:before {
  content: "";
}

.glyphicon-th-large:before,
.icn-th-large:before {
  content: "";
}

.glyphicon-th:before,
.icn-th:before {
  content: "";
}

.glyphicon-th-list:before,
.icn-th-list:before {
  content: "";
}

.glyphicon-ok:before,
.icn-ok:before {
  content: "";
}

.glyphicon-remove:before,
.icn-remove:before {
  content: "";
}

.glyphicon-zoom-in:before,
.icn-zoom-in:before {
  content: "";
}

.glyphicon-zoom-out:before,
.icn-zoom-out:before {
  content: "";
}

.glyphicon-off:before,
.icn-off:before {
  content: "";
}

.glyphicon-signal:before,
.icn-signal:before {
  content: "";
}

.glyphicon-cog:before,
.icn-cog:before {
  content: "";
}

.glyphicon-trash:before,
.icn-trash:before {
  content: "";
}

.glyphicon-home:before,
.icn-home:before {
  content: "";
}

.glyphicon-file:before,
.icn-file:before {
  content: "";
}

.glyphicon-time:before,
.icn-time:before {
  content: "";
}

.glyphicon-road:before,
.icn-road:before {
  content: "";
}

.glyphicon-download-alt:before,
.icn-download-alt:before {
  content: "";
}

.glyphicon-download:before,
.icn-download:before {
  content: "";
}

.glyphicon-upload:before,
.icn-upload:before {
  content: "";
}

.glyphicon-inbox:before,
.icn-inbox:before {
  content: "";
}

.glyphicon-play-circle:before,
.icn-play-circle:before {
  content: "";
}

.glyphicon-repeat:before,
.icn-repeat:before {
  content: "";
}

.glyphicon-refresh:before,
.icn-refresh:before {
  content: "";
}

.glyphicon-list-alt:before,
.icn-list-alt:before {
  content: "";
}

.glyphicon-lock:before,
.icn-lock:before {
  content: "";
}

.glyphicon-flag:before,
.icn-flag:before {
  content: "";
}

.glyphicon-headphones:before,
.icn-headphones:before {
  content: "";
}

.glyphicon-volume-off:before,
.icn-volume-off:before {
  content: "";
}

.glyphicon-volume-down:before,
.icn-volume-down:before {
  content: "";
}

.glyphicon-volume-up:before,
.icn-volume-up:before {
  content: "";
}

.glyphicon-qrcode:before,
.icn-qrcode:before {
  content: "";
}

.glyphicon-barcode:before,
.icn-barcode:before {
  content: "";
}

.glyphicon-tag:before,
.icn-tag:before {
  content: "";
}

.glyphicon-tags:before,
.icn-tags:before {
  content: "";
}

.glyphicon-book:before,
.icn-book:before {
  content: "";
}

.glyphicon-bookmark:before,
.icn-bookmark:before {
  content: "";
}

.glyphicon-print:before,
.icn-print:before {
  content: "";
}

.glyphicon-camera:before,
.icn-camera:before {
  content: "";
}

.glyphicon-font:before,
.icn-font:before {
  content: "";
}

.glyphicon-bold:before,
.icn-bold:before {
  content: "";
}

.glyphicon-italic:before,
.icn-italic:before {
  content: "";
}

.glyphicon-text-height:before,
.icn-text-height:before {
  content: "";
}

.glyphicon-text-width:before,
.icn-text-width:before {
  content: "";
}

.glyphicon-align-left:before,
.icn-align-left:before {
  content: "";
}

.glyphicon-align-center:before,
.icn-align-center:before {
  content: "";
}

.glyphicon-align-right:before,
.icn-align-right:before {
  content: "";
}

.glyphicon-align-justify:before,
.icn-align-justify:before {
  content: "";
}

.glyphicon-list:before,
.icn-list:before {
  content: "";
}

.glyphicon-indent-left:before,
.icn-indent-left:before {
  content: "";
}

.glyphicon-indent-right:before,
.icn-indent-right:before {
  content: "";
}

.glyphicon-facetime-video:before,
.icn-facetime-video:before {
  content: "";
}

.glyphicon-picture:before,
.icn-picture:before {
  content: "";
}

.glyphicon-map-marker:before,
.icn-map-marker:before {
  content: "";
}

.glyphicon-adjust:before,
.icn-adjust:before {
  content: "";
}

.glyphicon-tint:before,
.icn-tint:before {
  content: "";
}

.glyphicon-edit:before,
.icn-edit:before {
  content: "";
}

.glyphicon-share:before,
.icn-share:before {
  content: "";
}

.glyphicon-check:before,
.icn-check:before {
  content: "";
}

.glyphicon-move:before,
.icn-move:before {
  content: "";
}

.glyphicon-step-backward:before,
.icn-step-backward:before {
  content: "";
}

.glyphicon-fast-backward:before,
.icn-fast-backward:before {
  content: "";
}

.glyphicon-backward:before,
.icn-backward:before {
  content: "";
}

.glyphicon-play:before,
.icn-play:before {
  content: "";
}

.glyphicon-pause:before,
.icn-pause:before {
  content: "";
}

.glyphicon-stop:before,
.icn-stop:before {
  content: "";
}

.glyphicon-forward:before,
.icn-forward:before {
  content: "";
}

.glyphicon-fast-forward:before,
.icn-fast-forward:before {
  content: "";
}

.glyphicon-step-forward:before,
.icn-step-forward:before {
  content: "";
}

.glyphicon-eject:before,
.icn-eject:before {
  content: "";
}

.glyphicon-chevron-left:before,
.icn-chevron-left:before {
  content: "";
}

.glyphicon-chevron-right:before,
.icn-chevron-right:before {
  content: "";
}

.glyphicon-plus-sign:before,
.icn-plus-sign:before {
  content: "";
}

.glyphicon-minus-sign:before,
.icn-minus-sign:before {
  content: "";
}

.glyphicon-remove-sign:before,
.icn-remove-sign:before {
  content: "";
}

.glyphicon-ok-sign:before,
.icn-ok-sign:before {
  content: "";
}

.glyphicon-question-sign:before,
.icn-question-sign:before {
  content: "";
}

.glyphicon-info-sign:before,
.icn-info-sign:before {
  content: "";
}

.glyphicon-screenshot:before,
.icn-screenshot:before {
  content: "";
}

.glyphicon-remove-circle:before,
.icn-remove-circle:before {
  content: "";
}

.glyphicon-ok-circle:before,
.icn-ok-circle:before {
  content: "";
}

.glyphicon-ban-circle:before,
.icn-ban-circle:before {
  content: "";
}

.glyphicon-arrow-left:before,
.icn-arrow-left:before {
  content: "";
}

.glyphicon-arrow-right:before,
.icn-arrow-right:before {
  content: "";
}

.glyphicon-arrow-up:before,
.icn-arrow-up:before {
  content: "";
}

.glyphicon-arrow-down:before,
.icn-arrow-down:before {
  content: "";
}

.glyphicon-share-alt:before,
.icn-share-alt:before {
  content: "";
}

.glyphicon-resize-full:before,
.icn-resize-full:before {
  content: "";
}

.glyphicon-resize-small:before,
.icn-resize-small:before {
  content: "";
}

.glyphicon-exclamation-sign:before,
.icn-exclamation-sign:before {
  content: "";
}

.glyphicon-gift:before,
.icn-gift:before {
  content: "";
}

.glyphicon-leaf:before,
.icn-leaf:before {
  content: "";
}

.glyphicon-fire:before,
.icn-fire:before {
  content: "";
}

.glyphicon-eye-open:before,
.icn-eye-open:before {
  content: "";
}

.glyphicon-eye-close:before,
.icn-eye-close:before {
  content: "";
}

.glyphicon-warning-sign:before,
.icn-warning-sign:before {
  content: "";
}

.glyphicon-plane:before,
.icn-plane:before {
  content: "";
}

.glyphicon-calendar:before,
.icn-calendar:before {
  content: "";
}

.glyphicon-random:before,
.icn-random:before {
  content: "";
}

.glyphicon-comment:before,
.icn-comment:before {
  content: "";
}

.glyphicon-magnet:before,
.icn-magnet:before {
  content: "";
}

.glyphicon-chevron-up:before,
.icn-chevron-up:before {
  content: "";
}

.glyphicon-chevron-down:before,
.icn-chevron-down:before {
  content: "";
}

.glyphicon-retweet:before,
.icn-retweet:before {
  content: "";
}

.glyphicon-shopping-cart:before,
.icn-shopping-cart:before {
  content: "";
}

.glyphicon-folder-close:before,
.icn-folder-close:before {
  content: "";
}

.glyphicon-folder-open:before,
.icn-folder-open:before {
  content: "";
}

.glyphicon-resize-vertical:before,
.icn-resize-vertical:before {
  content: "";
}

.glyphicon-resize-horizontal:before,
.icn-resize-horizontal:before {
  content: "";
}

.glyphicon-hdd:before,
.icn-hdd:before {
  content: "";
}

.glyphicon-bullhorn:before,
.icn-bullhorn:before {
  content: "";
}

.glyphicon-bell:before,
.icn-bell:before {
  content: "";
}

.glyphicon-certificate:before,
.icn-certificate:before {
  content: "";
}

.glyphicon-thumbs-up:before,
.icn-thumbs-up:before {
  content: "";
}

.glyphicon-thumbs-down:before,
.icn-thumbs-down:before {
  content: "";
}

.glyphicon-hand-right:before,
.icn-hand-right:before {
  content: "";
}

.glyphicon-hand-left:before,
.icn-hand-left:before {
  content: "";
}

.glyphicon-hand-up:before,
.icn-hand-up:before {
  content: "";
}

.glyphicon-hand-down:before,
.icn-hand-down:before {
  content: "";
}

.glyphicon-circle-arrow-right:before,
.icn-circle-arrow-right:before {
  content: "";
}

.glyphicon-circle-arrow-left:before,
.icn-circle-arrow-left:before {
  content: "";
}

.glyphicon-circle-arrow-up:before,
.icn-circle-arrow-up:before {
  content: "";
}

.glyphicon-circle-arrow-down:before,
.icn-circle-arrow-down:before {
  content: "";
}

.glyphicon-globe:before,
.icn-globe:before {
  content: "";
}

.glyphicon-wrench:before,
.icn-wrench:before {
  content: "";
}

.glyphicon-tasks:before,
.icn-tasks:before {
  content: "";
}

.glyphicon-filter:before,
.icn-filter:before {
  content: "";
}

.glyphicon-briefcase:before,
.icn-briefcase:before {
  content: "";
}

.glyphicon-fullscreen:before,
.icn-fullscreen:before {
  content: "";
}

.glyphicon-dashboard:before,
.icn-dashboard:before {
  content: "";
}

.glyphicon-paperclip:before,
.icn-paperclip:before {
  content: "";
}

.glyphicon-heart-empty:before,
.icn-heart-empty:before {
  content: "";
}

.glyphicon-link:before,
.icn-link:before {
  content: "";
}

.glyphicon-phone:before,
.icn-phone:before {
  content: "";
}

.glyphicon-pushpin:before,
.icn-pushpin:before {
  content: "";
}

.glyphicon-usd:before,
.icn-usd:before {
  content: "";
}

.glyphicon-gbp:before,
.icn-gbp:before {
  content: "";
}

.glyphicon-sort:before,
.icn-sort:before {
  content: "";
}

.glyphicon-sort-by-alphabet:before,
.icn-sort-by-alphabet:before {
  content: "";
}

.glyphicon-sort-by-alphabet-alt:before,
.icn-sort-by-alphabet-alt:before {
  content: "";
}

.glyphicon-sort-by-order:before,
.icn-sort-by-order:before {
  content: "";
}

.glyphicon-sort-by-order-alt:before,
.icn-sort-by-order-alt:before {
  content: "";
}

.glyphicon-sort-by-attributes:before,
.icn-sort-by-attributes:before {
  content: "";
}

.glyphicon-sort-by-attributes-alt:before,
.icn-sort-by-attributes-alt:before {
  content: "";
}

.glyphicon-unchecked:before,
.icn-unchecked:before {
  content: "";
}

.glyphicon-expand:before,
.icn-expand:before {
  content: "";
}

.glyphicon-collapse-down:before,
.icn-collapse-down:before {
  content: "";
}

.glyphicon-collapse-up:before,
.icn-collapse-up:before {
  content: "";
}

.glyphicon-log-in:before,
.icn-log-in:before {
  content: "";
}

.glyphicon-flash:before,
.icn-flash:before {
  content: "";
}

.glyphicon-log-out:before,
.icn-log-out:before {
  content: "";
}

.glyphicon-new-window:before,
.icn-new-window:before {
  content: "";
}

.glyphicon-record:before,
.icn-record:before {
  content: "";
}

.glyphicon-save:before,
.icn-save:before {
  content: "";
}

.glyphicon-open:before,
.icn-open:before {
  content: "";
}

.glyphicon-saved:before,
.icn-saved:before {
  content: "";
}

.glyphicon-import:before,
.icn-import:before {
  content: "";
}

.glyphicon-export:before,
.icn-export:before {
  content: "";
}

.glyphicon-send:before,
.icn-send:before {
  content: "";
}

.glyphicon-floppy-disk:before,
.icn-floppy-disk:before {
  content: "";
}

.glyphicon-floppy-saved:before,
.icn-floppy-saved:before {
  content: "";
}

.glyphicon-floppy-remove:before,
.icn-floppy-remove:before {
  content: "";
}

.glyphicon-floppy-save:before,
.icn-floppy-save:before {
  content: "";
}

.glyphicon-floppy-open:before,
.icn-floppy-open:before {
  content: "";
}

.glyphicon-credit-card:before,
.icn-credit-card:before {
  content: "";
}

.glyphicon-transfer:before,
.icn-transfer:before {
  content: "";
}

.glyphicon-cutlery:before,
.icn-cutlery:before {
  content: "";
}

.glyphicon-header:before,
.icn-header:before {
  content: "";
}

.glyphicon-compressed:before,
.icn-compressed:before {
  content: "";
}

.glyphicon-earphone:before,
.icn-earphone:before {
  content: "";
}

.glyphicon-phone-alt:before,
.icn-phone-alt:before {
  content: "";
}

.glyphicon-tower:before,
.icn-tower:before {
  content: "";
}

.glyphicon-stats:before,
.icn-stats:before {
  content: "";
}

.glyphicon-sd-video:before,
.icn-sd-video:before {
  content: "";
}

.glyphicon-hd-video:before,
.icn-hd-video:before {
  content: "";
}

.glyphicon-subtitles:before,
.icn-subtitles:before {
  content: "";
}

.glyphicon-sound-stereo:before,
.icn-sound-stereo:before {
  content: "";
}

.glyphicon-sound-dolby:before,
.icn-sound-dolby:before {
  content: "";
}

.glyphicon-sound-5-1:before,
.icn-sound-5-1:before {
  content: "";
}

.glyphicon-sound-6-1:before,
.icn-sound-6-1:before {
  content: "";
}

.glyphicon-sound-7-1:before,
.icn-sound-7-1:before {
  content: "";
}

.glyphicon-copyright-mark:before,
.icn-copyright-mark:before {
  content: "";
}

.glyphicon-registration-mark:before,
.icn-registration-mark:before {
  content: "";
}

.glyphicon-cloud-download:before,
.icn-cloud-download:before {
  content: "";
}

.glyphicon-cloud-upload:before,
.icn-cloud-upload:before {
  content: "";
}

.glyphicon-tree-conifer:before,
.icn-tree-conifer:before {
  content: "";
}

.glyphicon-tree-deciduous:before,
.icn-tree-deciduous:before {
  content: "";
}

.glyphicon-cd:before,
.icn-cd:before {
  content: "";
}

.glyphicon-save-file:before,
.icn-save-file:before {
  content: "";
}

.glyphicon-open-file:before,
.icn-open-file:before {
  content: "";
}

.glyphicon-level-up:before,
.icn-level-up:before {
  content: "";
}

.glyphicon-copy:before,
.icn-copy:before {
  content: "";
}

.glyphicon-paste:before,
.icn-paste:before {
  content: "";
}

.glyphicon-alert:before,
.icn-alert:before {
  content: "";
}

.glyphicon-equalizer:before,
.icn-equalizer:before {
  content: "";
}

.glyphicon-king:before,
.icn-king:before {
  content: "";
}

.glyphicon-queen:before,
.icn-queen:before {
  content: "";
}

.glyphicon-pawn:before,
.icn-pawn:before {
  content: "";
}

.glyphicon-bishop:before,
.icn-bishop:before {
  content: "";
}

.glyphicon-knight:before,
.icn-knight:before {
  content: "";
}

.glyphicon-baby-formula:before,
.icn-baby-formula:before {
  content: "";
}

.glyphicon-tent:before,
.icn-tent:before {
  content: "⛺";
}

.glyphicon-blackboard:before,
.icn-blackboard:before {
  content: "";
}

.glyphicon-bed:before,
.icn-bed:before {
  content: "";
}

.glyphicon-apple:before,
.icn-apple:before {
  content: "";
}

.glyphicon-erase:before,
.icn-erase:before {
  content: "";
}

.glyphicon-hourglass:before,
.icn-hourglass:before {
  content: "⌛";
}

.glyphicon-lamp:before,
.icn-lamp:before {
  content: "";
}

.glyphicon-duplicate:before,
.icn-duplicate:before {
  content: "";
}

.glyphicon-piggy-bank:before,
.icn-piggy-bank:before {
  content: "";
}

.glyphicon-scissors:before,
.icn-scissors:before {
  content: "";
}

.glyphicon-bitcoin:before,
.icn-bitcoin:before {
  content: "";
}

.glyphicon-btc:before,
.icn-btc:before {
  content: "";
}

.glyphicon-xbt:before,
.icn-xbt:before {
  content: "";
}

.glyphicon-yen:before,
.icn-yen:before {
  content: "¥";
}

.glyphicon-jpy:before,
.icn-jpy:before {
  content: "¥";
}

.glyphicon-ruble:before,
.icn-ruble:before {
  content: "₽";
}

.glyphicon-rub:before,
.icn-rub:before {
  content: "₽";
}

.glyphicon-scale:before,
.icn-scale:before {
  content: "";
}

.glyphicon-ice-lolly:before,
.icn-ice-lolly:before {
  content: "";
}

.glyphicon-ice-lolly-tasted:before,
.icn-ice-lolly-tasted:before {
  content: "";
}

.glyphicon-education:before,
.icn-education:before {
  content: "";
}

.glyphicon-option-horizontal:before,
.icn-option-horizontal:before {
  content: "";
}

.glyphicon-option-vertical:before,
.icn-option-vertical:before {
  content: "";
}

.glyphicon-menu-hamburger:before,
.icn-menu-hamburger:before {
  content: "";
}

.glyphicon-modal-window:before,
.icn-modal-window:before {
  content: "";
}

.glyphicon-oil:before,
.icn-oil:before {
  content: "";
}

.glyphicon-grain:before,
.icn-grain:before {
  content: "";
}

.glyphicon-sunglasses:before,
.icn-sunglasses:before {
  content: "";
}

.glyphicon-text-size:before,
.icn-text-size:before {
  content: "";
}

.glyphicon-text-color:before,
.icn-text-color:before {
  content: "";
}

.glyphicon-text-background:before,
.icn-text-background:before {
  content: "";
}

.glyphicon-object-align-top:before,
.icn-object-align-top:before {
  content: "";
}

.glyphicon-object-align-bottom:before,
.icn-object-align-bottom:before {
  content: "";
}

.glyphicon-object-align-horizontal:before,
.icn-object-align-horizontal:before {
  content: "";
}

.glyphicon-object-align-left:before,
.icn-object-align-left:before {
  content: "";
}

.glyphicon-object-align-vertical:before,
.icn-object-align-vertical:before {
  content: "";
}

.glyphicon-object-align-right:before,
.icn-object-align-right:before {
  content: "";
}

.glyphicon-triangle-right:before,
.icn-triangle-right:before {
  content: "";
}

.glyphicon-triangle-left:before,
.icn-triangle-left:before {
  content: "";
}

.glyphicon-triangle-bottom:before,
.icn-triangle-bottom:before {
  content: "";
}

.glyphicon-triangle-top:before,
.icn-triangle-top:before {
  content: "";
}

.glyphicon-console:before,
.icn-console:before {
  content: "";
}

.glyphicon-superscript:before,
.icn-superscript:before {
  content: "";
}

.glyphicon-subscript:before,
.icn-subscript:before {
  content: "";
}

.glyphicon-menu-left:before,
.icn-menu-left:before {
  content: "";
}

.glyphicon-menu-right:before,
.icn-menu-right:before {
  content: "";
}

.glyphicon-menu-down:before,
.icn-menu-down:before {
  content: "";
}

.glyphicon-menu-up:before,
.icn-menu-up:before {
  content: "";
}

ul li a {
  text-decoration: none;
}
ul li a:hover {
  color: #666;
}

ul.ls-vertical li {
  list-style: none;
  line-height: 22px;
}

ul.ls-horizontal li, ul.ls-horizontal .item, .ls-horizontal li, .ls-horizontal .item {
  list-style: none;
  display: inline-block;
}

ul.ls-center, .ls-center {
  display: block;
  text-align: center;
}
ul.ls-center li, ul.ls-center .item, .ls-center li, .ls-center .item {
  list-style: none;
  display: inline-block;
}

ul.ls-right, .ls-right {
  display: block;
  text-align: right;
}
ul.ls-right li, ul.ls-right .item, .ls-right li, .ls-right .item {
  list-style: none;
  display: inline-block;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.tooltip.in {
  opacity: 0.98;
  filter: alpha(opacity=98);
}

.tooltip.top {
  margin-top: -2px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 12px;
  background-color: #F1ECD1;
  border: 1px solid #E6D5B2;
  color: #8a6d3b;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #E6D5B2;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #E6D5B2;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #E6D5B2;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #E6D5B2;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #E6D5B2;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #E6D5B2;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #E6D5B2;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #E6D5B2;
}

body, html, * {
  font-size: 12.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  color: #4561B5;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-weight: 400;
  color: #10B0E0;
}

h1.coll, h2.coll, h3.coll, h4.coll {
  margin: 2px 0 0px 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 23px;
  padding: 10px 0;
}

h2 {
  font-size: 26px;
  line-height: 23px;
  color: #666;
  font-weight: normal;
  margin: 0.67em 0 0.5em 0;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  margin-top: 15px;
}

h4 {
  font-size: 14px;
  line-height: 19px;
  margin-top: 15px;
  margin-bottom: 10px;
}

p {
  line-height: 20px;
}

hr {
  width: 100%;
  background-color: #ddd;
  height: 1px;
  border: none;
}

hr.separate {
  margin: 20px 0;
  background-color: #ddd;
  height: 1px;
}

table {
  display: table;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #fff;
}
table td {
  padding: 12px 5px;
  font-size: 12px;
}
table th.col-small {
  max-width: 48px;
}
table td.cel-number {
  text-align: right;
}
table td.cel-left {
  text-align: left;
}
table tr th {
  background: #fff;
  margin: 0;
  padding: 10px;
  border-bottom: 4px solid #BCC3CE;
  text-align: center;
  font-size: 12px;
  color: #444;
}
table tr th label {
  color: #444;
  font-size: 12px;
}
table tr {
  border-bottom: 1px solid #BCC3CE;
}
table tr:nth-child(2n) {
  background-color: #EDEFF5;
}
table tr a {
  margin-left: 10px;
}
@media (max-width: 768px) {
  table {
    overflow-x: auto;
  }
}

table.square {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
table.square td {
  padding: 7px 10px;
  border-left: 1px solid #ddd;
  color: #222;
}
table.square td label {
  float: right;
}
table.square thead tr th {
  border-left: 1px solid #ddd;
}
table.square tbody tr {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
table.square tbody tr:nth-child(2n) {
  background-color: #EDEFF5;
}
table.square tbody tr th {
  padding: 7px 10px;
  border-left: 1px solid #ddd;
}
table.square tbody tr a {
  margin-left: 10px;
  text-decoration: underline;
}
table.square th:first-child {
  border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  -moz-border-radius: 6px 0 0 0;
  -o-border-radius: 6px 0 0 0;
}
table.square th:last-child {
  border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  -o-border-radius: 0 6px 0 0;
}
table.square th:only-child {
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}
table.square tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  -o-border-radius: 0 0 0 6px;
}
table.square tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  -o-border-radius: 0 0 6px 0;
}
table.square tr:last-child td:only-child {
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
}
table.square tr td:first-child,
table.square tr th:first-child {
  border-left: none;
}

table.white tr td {
  border-top: 1px solid #eee;
}
table.white tbody tr {
  border-top: 1px solid #eee;
}
table.white tbody tr:nth-child(2n) {
  background-color: #fff;
}

.status {
  height: 12px;
  width: 12px;
  background: #bbb;
  float: right;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.status.status-red {
  background: #F35C5C;
}

.status.status-green {
  background: #82BD82;
}

.status.status-orange {
  background: #FBAF25;
}

.alert {
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #BCC3CE;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: #d9dde4;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -4px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.close i {
  font-size: 14px;
}

input.ng-dirty.ng-valid, select.ng-dirty.ng-valid {
  background: #EDF5EA url(../assets/images/icn-input-success.png) no-repeat 99% 50%;
  border: 1px solid #A0CEA0;
}

input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid,
input.ng-invalid.aa-invalid-attempt, select.ng-invalid.aa-invalid-attempt,
input.ng-invalid.aa-had-focus, select.ng-invalid.aa-had-focus {
  background: #F9F1F1 url(../assets/images/icn-input-error.png) no-repeat 99% 50%;
  border: 1px solid #F3C5C5;
}

div.validation-error {
  margin-top: 4px;
  padding: 0 2px;
  color: #F98383;
  text-align: left;
  font-size: 11px;
}

.button-group .btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  margin-left: -6px;
}
.button-group .btn:first-child {
  border-radius-left: 4px;
  -moz-border-radius-left: 4px;
  -webkit-border-radius-left: 4px;
  -o-border-radius-left: 4px;
  border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  margin-left: 0px;
}
.button-group .btn:last-child {
  margin-left: -6px;
  border-radius-right: 4px;
  -moz-border-radius-right: 4px;
  -webkit-border-radius-right: 4px;
  -o-border-radius-right: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  max-width: 420px;
  padding: 5px 0;
  padding: 0\0;
  margin-top: 0\0;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 35px 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

.open > .dropdown-menu {
  display: block;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #777777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

span.badge {
  color: #94999E;
  float: right;
  margin-right: -22px;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.open .dropdown-menu {
  max-height: 300px;
  opacity: 1;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
.form-group label {
  display: inline-block;
  color: #666;
  font-weight: 400;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 26px;
}
.form-group.inline label {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.form-group.inline input[type=text] {
  float: left;
  width: 65%;
}
.form-group.inline input {
  float: left;
}

.form-control {
  width: 100%;
  padding: 8px 14px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #71777f;
  line-height: 12px;
  font-weight: 400;
  outline: 0 !important;
  height: 31px;
}
.form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66afe9;
}

textarea.form-control {
  background-color: white;
  border: 1px solid #dbdcdf;
  border-radius: 0px;
  height: auto;
}

.form-group-btn input {
  width: 85%;
  float: left;
}
.form-group-btn label.icon {
  display: inline-block;
  width: 15%;
  float: left;
  text-align: center;
  cursor: pointer;
}
.form-group-btn label.icon i {
  margin-top: 5px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .form-control:focus {
  z-index: 3;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}

textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}

textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-addon:last-child {
  border-left: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn > .btn {
  position: relative;
}

.input-group-btn > .btn + .btn {
  margin-left: -1px;
}

.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}

.container .row .group-span-filestyle {
  float: none;
  display: table-cell;
}

input[disabled].filestyle + .input-group > input[disabled] {
  color: #A0A6B7 !important;
  background: #e8ebee !important;
}

nav, .nav {
  width: 100%;
  background: #4561B5;
  box-sizing: border-box;
  box-shadow: 0px 3px 8px #BCC3CE;
  z-index: 99;
  position: relative;
}
nav ul, .nav ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
nav ul li, .nav ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin-left: -3px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li.current-menu-item, .nav ul li.current-menu-item {
  background: #3e57a3;
}
nav ul li a, .nav ul li a {
  padding: 15px 18px;
  box-sizing: border-box;
  color: #fff;
  display: block;
}
nav ul li a:hover, .nav ul li a:hover {
  color: #fff;
  background: #3e57a3;
}
nav ul li ul, .nav ul li ul {
  display: none;
  position: absolute;
  z-index: 9;
}
nav ul li ul li, .nav ul li ul li {
  float: none;
  display: block;
  margin-right: 0;
  border: 0;
  margin-left: 0;
}
nav ul li ul ul, .nav ul li ul ul {
  top: 0;
  left: 100%;
}
nav #btn-collapse, .nav #btn-collapse {
  display: none;
}
@media (max-width: 768px) {
  nav .brand, .nav .brand {
    width: 100%;
  }
  nav #btn-collapse, .nav #btn-collapse {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    z-index: 99;
  }
  nav #menu-collapse, .nav #menu-collapse {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }
  nav #menu-collapse.active, .nav #menu-collapse.active {
    max-height: 300px;
    opacity: 1;
    overflow: visible;
  }
  nav #menu-collapse.active ul, .nav #menu-collapse.active ul {
    float: none;
    width: 100%;
  }
  nav #menu-collapse.active ul li, .nav #menu-collapse.active ul li {
    width: 100%;
  }
  nav .dropdown button, .nav .dropdown button {
    text-align: left;
    width: 100%;
  }
  nav .caret, .nav .caret {
    margin-top: 6px;
    float: right;
  }
  nav .right .dropdown .dropdown-menu, .nav .right .dropdown .dropdown-menu {
    left: 0;
  }
}

nav .dropdown button,
.nav .dropdown button {
  border: none;
  background: transparent;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}
nav .dropdown button:hover,
.nav .dropdown button:hover {
  background: #3e57a3;
  color: #fff;
}

.right .dropdown .dropdown-menu {
  right: 0;
  left: auto;
}

.pagination {
  padding: 0;
  margin-bottom: 10px;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  display: block;
  border: 1px solid #d9dde4;
  padding: 2px 12px;
  text-decoration: none;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  background: #fff;
  margin-left: -4px;
  color: #666;
}
.pagination li a:hover {
  background: #e8ebee;
  color: #222;
}
.pagination li a:active {
  outline: 0;
  color: #333;
  background-image: none;
  border-color: #BCC3CE;
  -webkit-box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
}
.pagination li a.dots {
  color: #999;
}
.pagination li:first-child a {
  border-radius-left: 4px;
  -moz-border-radius-left: 4px;
  -webkit-border-radius-left: 4px;
  -o-border-radius-left: 4px;
  border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  margin-left: 0;
}
.pagination li:last-child a {
  border-radius-right: 4px;
  -moz-border-radius-right: 4px;
  -webkit-border-radius-right: 4px;
  -o-border-radius-right: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
}
.pagination .active a {
  background: #4561B5;
  border: 1px solid #4561B5;
  color: white;
}
.pagination .active a span {
  color: #fff;
}
.pagination .active a:hover {
  background: #4561B5;
  color: #fff;
}

.layout {
  background: #F5F5F7;
  padding: 20px;
}

.nav-tabs > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  background-color: #eeeeee;
  border-color: #BCC3CE;
}

.nav-tabs > li > a > img {
  max-width: none;
}

.nav-tabs {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #dddddd;
  display: inline-block;
  width: 100%;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #94969A;
}

.nav-tabs > li > a:hover {
  border-color: #BCC3CE;
  background: #EDEDF3;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #BCC3CE;
}

.tab-content {
  border-radius: 4px;
  border: 1px solid #BCC3CE;
  padding: 10px 20px;
  border-top: 0;
  margin-top: -4px;
  background: #fff;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel {
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.1);
}
.panel .panel-header {
  background: #4561B5;
  padding: 10px 30px;
  border-radius-top: 4px;
  -moz-border-radius-top: 4px;
  -webkit-border-radius-top: 4px;
  -o-border-radius-top: 4px;
  border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-bottom: 0;
}
.panel .panel-header h2 {
  color: #fff;
}
.panel .panel-body {
  padding: 20px 30px 30px 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.panel .panel-body h3 {
  margin: 0;
  margin-bottom: 10px;
}

.panel-group {
  background: #fff;
  border: 1px solid #d9dde4;
  margin-bottom: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.panel-group .panel-header {
  background: #e8ebee;
  padding: 1px 12px;
  border-bottom: 1px solid #d9dde4;
  border-radius-top: 4px;
  -moz-border-radius-top: 4px;
  -webkit-border-radius-top: 4px;
  -o-border-radius-top: 4px;
  border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
}
.panel-group .panel-header h4 {
  color: #444;
  font-weight: 500;
  margin: 6px 0;
}
.panel-group .panel-body {
  padding: 20px;
}

.progressBar {
  width: 100%;
  height: 16px;
  background: #d9dde4;
  margin-bottom: 8px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  -webkit-box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  -moz-box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  -o-box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
}
@media (max-width: 480px) {
  .progressBar {
    margin-top: 5px;
  }
}
.progressBar div {
  position: absolute;
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 18px;
  width: 10%;
  background: #0099ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.progressBar div span {
  padding: 0 8px;
  font-weight: bold;
  font-size: 12px;
}

.progressBar.danger div {
  background: #F77B7B;
}

.progressBar.warning div {
  background: #F9BB6D;
}

.progressBar.todo div {
  background: #54BFF3;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress-bar-striped, .progressBar.danger div, .progressBar.warning div, .progressBar.todo div {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  padding: 6px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 4px 4px 0 0;
  margin: 0;
  color: #444;
}

.popover-content {
  padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover > .arrow {
  border-width: 11px;
}

.popover > .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}

.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}

.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}

.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}

.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}

.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}

.ng-table {
  width: 100%;
}

.ng-table th {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ng-table th.sortable {
  cursor: pointer;
}

.ng-table th.sortable .sort-indicator {
  padding-right: 18px;
  position: relative;
}

.ng-table th.sortable .sort-indicator:after,
.ng-table th.sortable .sort-indicator:before {
  content: "";
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: visible;
  right: 5px;
  top: 50%;
  position: absolute;
  opacity: 0.3;
  margin-top: -4px;
}

.ng-table th.sortable .sort-indicator:before {
  margin-top: 2px;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
}

.ng-table th.sortable .sort-indicator:hover:after,
.ng-table th.sortable .sort-indicator:hover:before {
  opacity: 1;
  visibility: visible;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.ng-table th.sortable.sort-desc .sort-indicator:after,
.ng-table th.sortable.sort-asc .sort-indicator:after {
  margin-top: -2px;
}

.ng-table th.sortable.sort-desc .sort-indicator:before,
.ng-table th.sortable.sort-asc .sort-indicator:before {
  visibility: hidden;
}

.ng-table th.sortable.sort-asc .sort-indicator:after,
.ng-table th.sortable.sort-asc .sort-indicator:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.ng-table th.sortable.sort-desc .sort-indicator:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.ng-table th.filter .input-filter {
  margin: 0;
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ng-table .ng-table-group-header th {
  text-align: left;
}

.ng-table .ng-table-group-selector {
  display: block;
}

.ng-table .ng-table-group-close,
.ng-table .ng-table-group-toggle {
  float: right;
}

.ng-table .ng-table-group-toggle {
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .ng-table-responsive {
    border-bottom: 1px solid #999999;
  }

  .ng-table-responsive tr {
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
  }

  .ng-table-responsive td:before {
    position: absolute;
    padding: 8px;
    left: 0;
    top: 0;
    width: 50%;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .ng-table-responsive thead tr th {
    text-align: left;
  }

  .ng-table-responsive thead tr.ng-table-filters th {
    padding: 0;
  }

  .ng-table-responsive thead tr.ng-table-filters th form > div {
    padding: 8px;
  }

  .ng-table-responsive td {
    border: none;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  .ng-table-responsive td:before {
    content: attr(data-title-text);
  }

  .ng-table-responsive,
  .ng-table-responsive thead,
  .ng-table-responsive tbody,
  .ng-table-responsive th,
  .ng-table-responsive td,
  .ng-table-responsive tr {
    display: block;
  }
}
.ng-table-pagination {
  margin-top: 0;
}

.ng-table-group-selector:before,
.ng-table-group-selector:after,
.filter:before,
.filter:after {
  display: table;
  content: " ";
}

.ng-table-group-selector:after,
.filter:after {
  clear: both;
}

.filter > .filter-cell {
  float: left;
  box-sizing: border-box;
}

.filter-horizontal > .filter-cell {
  padding: 0 2px;
}

.filter-horizontal > .filter-cell:first-child {
  padding-left: 0;
}

.filter-horizontal > .filter-cell:last-child,
.filter-horizontal > .filter-cell.last {
  padding-right: 0;
}

.s12 {
  width: 100%;
}

.s11 {
  width: 91.66667%;
}

.s10 {
  width: 83.33333%;
}

.s9 {
  width: 75%;
}

.s8 {
  width: 66.66667%;
}

.s7 {
  width: 58.33333%;
}

.s6 {
  width: 50%;
}

.s5 {
  width: 41.66667%;
}

.s4 {
  width: 33.33333%;
}

.s3 {
  width: 25%;
}

.s2 {
  width: 16.66667%;
}

.s1 {
  width: 8.33333%;
}

@media all and (max-width: 468px) {
  .s12,
  .s11,
  .s10,
  .s9,
  .s8,
  .s7,
  .s6,
  .s5,
  .s4,
  .s3,
  .s2,
  .s1 {
    width: 100%;
  }

  .filter > .filter-cell {
    padding: 0px;
  }
}
.ng-table-counts {
  float: right;
}

.ng-table-counts.btn-group .btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  margin-left: -6px;
  padding: 6px 12px;
  height: 34px;
  background: #fff;
}
.ng-table-counts.btn-group .btn:hover {
  background: #e8ebee;
  color: #222;
}
.ng-table-counts.btn-group .btn.active {
  background: #4561B5;
  border: 1px solid #4561B5;
  color: white;
}
.ng-table-counts.btn-group .btn:focus {
  outline: 0;
}
.ng-table-counts.btn-group .btn:first-child {
  border-radius-left: 4px;
  -moz-border-radius-left: 4px;
  -webkit-border-radius-left: 4px;
  -o-border-radius-left: 4px;
  border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  margin-left: 0px;
}
.ng-table-counts.btn-group .btn:last-child {
  margin-left: -6px;
  border-radius-right: 4px;
  -moz-border-radius-right: 4px;
  -webkit-border-radius-right: 4px;
  -o-border-radius-right: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
}
.ng-table-counts.btn-group .active a {
  background: #4561B5;
  border: 1px solid #4561B5;
  color: white;
}
.ng-table-counts.btn-group .active a span {
  color: #fff;
}
.ng-table-counts.btn-group .active a:hover {
  background: #4561B5;
  color: #fff;
}

.datepicker {
  padding: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
}

.datepicker-inline {
  width: 220px;
}

.datepicker.datepicker-rtl {
  direction: rtl;
}

.datepicker.datepicker-rtl table tr td span {
  float: right;
}

.datepicker-dropdown {
  top: 0;
  left: 0;
}

.datepicker-dropdown:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.datepicker-dropdown:after {
  content: "";
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-top: 0;
  position: absolute;
}

.datepicker-dropdown.datepicker-orient-left:before {
  left: 6px;
}

.datepicker-dropdown.datepicker-orient-left:after {
  left: 7px;
}

.datepicker-dropdown.datepicker-orient-right:before {
  right: 6px;
}

.datepicker-dropdown.datepicker-orient-right:after {
  right: 7px;
}

.datepicker-dropdown.datepicker-orient-top:before {
  top: -7px;
}

.datepicker-dropdown.datepicker-orient-top:after {
  top: -6px;
}

.datepicker-dropdown.datepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}

.datepicker-dropdown.datepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 7px solid #ffffff;
}

.datepicker > div {
  display: none;
}

.datepicker.days div.datepicker-days {
  display: block;
}

.datepicker.months div.datepicker-months {
  display: block;
}

.datepicker.years div.datepicker-years {
  display: block;
}

.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
}

.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  /* -webkit-border-radius: 4px */
  -moz-border-radius: 4px;
  /* border-radius: 4px */
  border: none;
}

.datepicker table thead tr td,
.datepicker table thead tr th {
  background-color: #fff;
}

.datepicker table tr {
  border: 0;
  border: none;
}

.datepicker table tr:nth-child(2n) {
  background: #fff;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #eeeeee;
  cursor: pointer;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999999;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  border-color: #fdf59a #fdf59a #fbed50;
  color: #000;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #fdf59a;
}

.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9;
}

.datepicker table tr td.today:hover:hover {
  color: #000;
}

.datepicker table tr td.today.active:hover {
  color: #fff;
}

.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
  background: #eeeeee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
  background-color: #f3d17a;
  background-image: -moz-linear-gradient(top, #f3c17a, #f3e97a);
  background-image: -ms-linear-gradient(top, #f3c17a, #f3e97a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
  background-image: -webkit-linear-gradient(top, #f3c17a, #f3e97a);
  background-image: -o-linear-gradient(top, #f3c17a, #f3e97a);
  background-image: linear-gradient(top, #f3c17a, #f3e97a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
  border-color: #f3e97a #f3e97a #edde34;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled] {
  background-color: #f3e97a;
}

.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active {
  background-color: #efe24b \9;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
  background-color: #9e9e9e;
  border-color: #808080 #808080 #595959;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled] {
  background-color: #808080;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  border-color: #0044cc #0044cc #002a80;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker table tr td span:hover {
  background: #eeeeee;
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-color: #006dcc;
  border-color: #0044cc #0044cc #002a80;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #0044cc;
}

.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}

.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #999999;
}

.datepicker th.datepicker-switch {
  width: 145px;
}

.datepicker thead {
  background: red;
}

.datepicker thead tr:first-child th,
.datepicker tfoot tr th {
  cursor: pointer;
}

.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
  background: #eeeeee;
}

.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}

.datepicker thead tr:first-child th.cw {
  cursor: default;
  background-color: #fff;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.input-daterange input {
  text-align: center;
}

.input-daterange input:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.input-daterange input:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-daterange .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 20px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  margin-left: -5px;
  margin-right: -5px;
}

.datepicker.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.datepicker.dropdown-menu th,
.datepicker.dropdown-menu td {
  padding: 4px 5px;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  width: 100%;
  height: 100%;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  top: 10%;
  width: 600px;
}

.modal-lg {
  position: relative;
  width: 900px;
  margin: auto;
  top: 10%;
}

.modal-sm {
  position: relative;
  width: 400px;
  margin: auto;
  top: 10%;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.modal-header {
  padding: 15px 25px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  padding: 6px;
  float: right;
}
.modal-header h2 {
  margin: 5px 0;
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
  font-weight: 700;
  font-size: 16px;
}

.modal-body {
  position: relative;
  padding: 10px 25px 20px 25px;
}

.modal-footer {
  padding: 15px 25px;
  text-align: right;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 0 auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 0;
  }

  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.step-container {
  padding: 20px 0;
  text-align: center;
}
.step-container .step-bar {
  height: 5px;
  background: #d9dde4;
  width: 66%;
  display: inline-block;
  margin-bottom: -23px;
  position: relative;
  z-index: 9;
}
.step-container .step {
  float: left;
  width: 33%;
}
.step-container .step .state {
  background: #BCC3CE;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  -webkit-box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  -moz-box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  -o-box-shadow: inset 0 3px 4px rgba(39, 40, 43, 0.125);
  position: relative;
  z-index: 10;
}
.step-container .step .state.end {
  background: #33bf82 url(../images/icn-process-end.png) no-repeat center center;
}
.step-container .step .state.stop {
  background: #e15c6c url(../images/icn-process-stop.png) no-repeat center center;
}
.step-container .step .state.start {
  background: #10B0E0 url(../images/icn-animate-process.gif) no-repeat center center;
}
.step-container .step .step-title h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 2px;
  font-size: 14px;
}
.step-container .step .step-body {
  padding: 5px 0;
  color: #888;
}
.step-container .step .step-body .item {
  margin: 5px 0;
}
.step-container .step .step-body span {
  background: #9fa9b8;
  color: #fff;
  padding: 3px 6px;
  margin-right: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: inline-block;
}

header {
  background: #4561B5;
}

.brand {
  float: left;
}

.brand h1 {
  display: inline-block;
  padding: 0 20px;
  margin: 7px 0 10px 0;
}
.brand h1 a {
  font-size: 18px;
  color: #fff;
}

footer {
  padding: 8px 0px;
}
footer p.info {
  font-size: 11px;
  color: #888;
  padding: 0;
  margin: 0;
}
footer p.info a {
  font-size: 11px;
}

body {
  -moz-animation-name: dropAnimate;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.4s;
  -webkit-animation-name: dropAnimate;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.4s;
  animation-name: dropAnimate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

@-moz-keyframes dropAnimate {
  0% {
    -moz-transform: translateY(-8px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes dropAnimate {
  0% {
    -webkit-transform: translateY(-8px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropAnimate {
  0% {
    transform: translateY(-8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Widget inbox */
.widget.header {
  padding: 10px 20px;
  margin-top: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.3);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.3);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.3);
}

.login-container {
  background: #222 url(../images/background.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 15%;
}

.inner-login {
  width: 590px;
  margin: 0 auto;
  background: #4561B5 url(../images/bg-login-panel.jpg) no-repeat top left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.inner-login .inner-left {
  float: left;
  width: 270px;
  padding: 40px;
  color: #9495e7;
}
.inner-login .inner-right {
  margin-left: 270px;
  padding: 40px;
  background: #fff;
  border-radius-right: 4px;
  -moz-border-radius-right: 4px;
  -webkit-border-radius-right: 4px;
  -o-border-radius-right: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
}
.inner-login .brand-login {
  padding-bottom: 80px;
}
.inner-login .info.copyright {
  position: absolute;
  bottom: 20px;
  width: 200px;
  font-size: 11px;
  line-height: 16px;
}
.inner-login .info.copyright a {
  color: #fff;
  opacity: 0.6;
  font-size: 11px;
}
.inner-login .info.copyright a:hover {
  opacity: 0.9;
}
.inner-login h2 {
  font-weight: 300;
  margin: 5px 0;
  padding-bottom: 15px;
}
.inner-login .forgot-password a {
  padding-bottom: 3px;
  border-bottom: 1px dotted #ddd;
}
.inner-login .forgot-password a:hover {
  border-bottom: 1px dotted #4561B5;
}
.inner-login .field {
  padding-bottom: 12px;
  position: relative;
}
.inner-login .field i.icnx {
  width: 10px;
  height: 14px;
  background: #ccc;
  float: left;
  position: absolute;
  top: 10px;
  left: 12px;
  background: url(../images/sprite-login.png) no-repeat;
}
.inner-login .field i.icnx.icn-username {
  background-position: -10px 0;
}
.inner-login .field i.icnx.icn-password {
  background-position: -10px -14px;
}
.inner-login .field input {
  padding-left: 30px;
  height: 36px;
}

.powered p {
  font-size: 12px;
  color: #77787B;
  margin: 15px 0 2px;
}

/*# sourceMappingURL=main.css.map */
