<div ng-include="'src/views/parts/menu.html'"></div>

<form class="container container-full">

	<div class="row">
		<div class="widget header">
			<div class="g4">
				<h3 class="coll">Antecedentes Profesionales</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="panel-body">

		<div class="contenedor" id="idContenedor">

			<div id="pestanas">
				<ul id="lista">
					<li><a id="idAcademico" href="#idContenedor-1">Antecentes
							Acad&eacute;micos</a></li>
					<li><a id="idOperativo" href="#idContenedor-2">Antecedentes
							de Desempe&ntilde;o Operativos y Administrativos</a></li>
					<li><a id="idApreciacion" href="#idContenedor-3">Apreciaci&oacute;n
							del Comando Superior</a></li>
				</ul>
			</div>

			<div id="contenidopestanas">
				<div id="idContenedor-1">
					<div ng-include="'src/views/antecprofesional/tabAcademico.html'"></div>
				</div>
				<div id="idContenedor-2">
					<div ng-include="'src/views/antecprofesional/tabOperativo.html'"></div>
				</div>
				<div id="idContenedor-3">
					<div ng-include="'src/views/antecprofesional/tabApreciacion.html'"></div>
				</div>

			</div>



		</div>

	</div>

</form>