<div ng-include="'src/views/parts/menu.html'"></div>

<form class="container container-full">
	<div class="row">
		<div class="widget header">
			<div class="g4">
				<h3 class="coll">Antecedentes Profesionales</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="row"></div>
	<div class="row"></div>
	
	<div class="panel-body">
		
		<div class="row">
			<div class="g11">
				<div class="ls-horizontal right">
					<div class="item">
						<select ng-model="id_criterio">
							<option value="">Criterio</option>
							<option ng-repeat="item in listaCriterio" value="{{item.codigo_parametro}}">{{item.valor_parametro}}</option>
						</select>
					</div>
					<div class="item">
						<select ng-model="id_operador">
							<option value="">Operador</option>
							<option ng-repeat="item in listaOperador" value="{{item.codigo_parametro}}">{{item.valor_parametro}}</option>
						</select>
					</div>
					<div class="item">
						<input type="text" ng-model="argumento">
					</div>
					<div class="item">
						<a class="btn btn-primary btn-sm" ng-click="buscar()">Buscar</a>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="row">		
			<table id="tblProfesional" ng-table="tblProfesional" show-filter="false" class="table square">
				<tbody>
					<tr ng-repeat="item in $data">
						<td data-title="'Id'" style="text-align: center;">{{item.persona_id}}</td>
						<td data-title="'Tipo doc.'" style="text-align: center;">{{item.tipo_documento}}</td>
						<td data-title="'Num doc.'" style="text-align: center;">{{item.numero_documento}}</td>
						<td data-title="'CIP'" style="text-align: center;">{{item.numero_cip}}</td>
						<td data-title="'Grado / Categor&iacute;a'" style="text-align: left;">{{item.grado_nombre_corto}}</td>
						<td data-title="'Arma / Carrera'" style="text-align: left;">{{item.arma_nombre_corto}}</td>
						<td data-title="'Apellidos y Nombres'" style="text-align: left;"><a ng-click="verDatosPersonal(item)">{{item.nombres}}</a></td>
						<td data-title="'Editar'"><a ng-click="editar(item)"><span class="icn icn-edit"></span></a></td>
					</tr>
				</tbody>
			</table>		
		</div>
		
		
		
	</div>
	
</form>