<script language="Javascript">

$('#fechaIniEM').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});

$('#fechaFinEM').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});

$('#fechaIniEA').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});

$('#fechaIniDA').datepicker({
	changeMonth : true,
	changeYear : true,
	dateFormat : "dd/mm/yy"
});


$('#btnExaminar').on('change', function() {
	nombreArchivo = $("#dataFile").val().split('\\').pop();
	$('#fileinput').text(nombreArchivo);
});

$('#btnExaminarENM').on('change', function() {
	nombreArchivo = $("#dataFileENM").val().split('\\').pop();
	$('#fileinputENM').text(nombreArchivo);
});

$('#btnExaminarDA').on('change', function() {
	nombreArchivo = $("#dataFileDA").val().split('\\').pop();
	$('#fileinputDA').text(nombreArchivo);
});

function fileUploadAcademico(form) {
	
	//TODO :Valida campos obligatorios en  Formulario //	
	
 
    var action_url= angular.element(document.getElementById("idContentAcademico")).scope().urlRest + '/UploadFileServlet';
    console.log(action_url);   
  
    var iframe = document.createElement("iframe");
    iframe.setAttribute("id", "upload_iframe");
    iframe.setAttribute("name", "upload_iframe");
    iframe.setAttribute("width", "0");
    iframe.setAttribute("height", "0");
    iframe.setAttribute("border", "0");
    iframe.setAttribute("style", "width: 0; height: 0; border: none;");
 
    // Add to document...
    form.parentNode.appendChild(iframe);
    window.frames['upload_iframe'].name = "upload_iframe";
 
    iframeId = document.getElementById("upload_iframe");
 
    // Add event...
    var eventHandler = function () {
 
            if (iframeId.detachEvent) iframeId.detachEvent("onload", eventHandler);
            else iframeId.removeEventListener("load", eventHandler, false);
 
            // Message from server...
            if (iframeId.contentDocument) {
                content = iframeId.contentDocument.body.innerHTML;
                //console.log("contentDocument 1> :" + content);
            } else if (iframeId.contentWindow) {
                content = iframeId.contentWindow.document.body.innerHTML;
               // console.log("contentWindow 2> :" + content);
            } else if (iframeId.document) {
                content = iframeId.document.body.innerHTML;
                //console.log("document 3> :" + content);
            }            
           
            setTimeout('iframeId.parentNode.removeChild(iframeId)', 250)
            
            
            angular.element(document.getElementById("idContentSeguro")).scope().grabarCarta(content)
             
                 
            //limpiando nombre de archivo
            nombreArchivo = "";
            $("#dataFile").val("");
            $('#fileinput').text("");    

            $("#dataFileAsc").val("");
            $('#fileinput-Asc').text("");      
                 
    }
 
    if (iframeId.addEventListener){
        iframeId.addEventListener("load", eventHandler, true);
    }
    if (iframeId.attachEvent){
        iframeId.attachEvent("onload", eventHandler);
    }
 
    // Set properties of form...
    form.setAttribute("target", "upload_iframe");
    form.setAttribute("action", action_url);
    form.setAttribute("method", "post");
    form.setAttribute("enctype", "multipart/form-data");
    form.setAttribute("accept-charset", "UTF-8");
    
    form.submit();
}



</script>

<div class="container container-full">
	<div ng-repeat="alert in alerts">
		<notification ng-model="alert" />
	</div>

	<div id="idContentAcademico">

		<div class="row" style="margin-bottom: 20px">
			<div class="item">
				<label id="lblDatosPersona" style="font-weight: bold;">{{paramFilter.datos_persona}}</label>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g11">
						<div class="item">
							<h4 style="color: #10B0E0; text-decoration: underline;"
								class="coll">Estudios Militares</h4>
						</div>
					</div>
					<div class="g1">
						<div class="item">
							<button type="button" class="btn btn-primary btn-sm"
								ng-click="nuevoEstudiosMilitares();">
								<span class="icn icn-plus-sign"></span>Nuevo
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<table ng-table="tblEstudiosMilitares" show-filter="false"
					class="table square" wt-responsive-table>
					<tbody>
						<tr ng-repeat="item in $data">
							<td title="'Id'" style="text-align: center;">{{item.antAcad_id}}</td>
							<td title="'Fecha'" style="text-align: center;">{{item.fechaIni}}</td>
							<td title="'Curso'" style="text-align: center;">{{item.curso.descripcion}}</td>
							<td title="'Tipo de curso'" style="text-align: center;">item.tipoCurso.valor_parametro</td>
							<td title="'Pa&iacute;s'" style="text-align: left;">{{item.pais.nombre}}</td>
							<td title="'Instituci&oacute;n'" style="text-align: left;">{{item.institucion.nombre}}</td>
							<td title="'Apreciaci&oacute;n'" style="text-align: left;">{{item.valorCalif}}</td>
							<td title="'Editar'"><a
								ng-click="editarEstudioMilitar(item)"
								ng-show="{{item.flag24Hrs}}"><span class="icn icn-edit"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g11">
						<div class="item">
							<h4 style="color: #10B0E0; text-decoration: underline;"
								class="coll">Estudios No Militares</h4>
						</div>
					</div>
					<div class="g1">
						<div class="item">
							<button type="button" class="btn btn-primary btn-sm"
								ng-click="nuevoEstudiosNoMilitares()">
								<span class="icn icn-plus-sign"></span>Nuevo
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<table ng-table="tblEstudiosNoMilitares" show-filter="false"
					class="table square" wt-responsive-table>
					<tbody>
						<tr ng-repeat="item in $data">
							<td title="'Id'" style="text-align: center;">{{item.antAcad_id}}</td>
							<td title="'Fecha'" style="text-align: center;">{{item.fechaIni}}</td>
							<td title="'Curso'" style="text-align: center;">{{item.curso.descripcion}}</td>
							<td title="'Nivel de curso'" style="text-align: center;">item.categCurso.valor_parametro</td>
							<td title="'Categor&iacute;a de curso'"
								style="text-align: center;">item.tipoCurso.valor_parametro</td>
							<td title="'Pa&iacute;s'" style="text-align: left;">{{item.pais.nombre}}</td>
							<td title="'Instituto'" style="text-align: left;">{{item.institucion.nombre}}</td>
							<td title="'Editar'"><a
								ng-click="editarEstudioNoMilitar(item)"
								ng-show="{{item.flag24Hrs}}"><span class="icn icn-edit"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g11">
						<div class="item">
							<h4 style="color: #10B0E0; text-decoration: underline;"
								class="coll">Examen de Ascenso</h4>
						</div>
					</div>
					<div class="g1">
						<div class="item">
							<button type="button" class="btn btn-primary btn-sm"
								ng-click="nuevoExamenAscenso();">
								<span class="icn icn-plus-sign"></span>Nuevo
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<table ng-table="tblExamenAscenso" show-filter="false"
					class="table square" wt-responsive-table>
					<tbody>
						<tr ng-repeat="item in $data">
							<td title="'Id'" style="text-align: center;">{{item.examen_id}}</td>
							<td title="'Fecha'" style="text-align: center;">{{item.fecha}}</td>
							<td title="'Grado'" style="text-align: center;">{{item.gradoNomb}}</td>
							<td title="'Promoci&oacute;n'" style="text-align: center;">item.promocion</td>
							<td title="'Nota'" style="text-align: center;">item.nota</td>
							<td title="'Editar'"><a ng-click="editarExamenAscenso(item)"
								ng-show="{{item.flag24Hrs}}"><span class="icn icn-edit"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="g12">
					<div class="g11">
						<div class="item">
							<h4 style="color: #10B0E0; text-decoration: underline;"
								class="coll">Dem&eacute;rito Acad&eacute;mico</h4>
						</div>
					</div>
					<div class="g1">
						<div class="item">
							<button type="button" class="btn btn-primary btn-sm"
								ng-click="nuevoDemeritoAcademico();">
								<span class="icn icn-plus-sign"></span>Nuevo
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<table ng-table="tblDemeritoAcademico" show-filter="false"
					class="table square" wt-responsive-table>
					<tbody>
						<tr ng-repeat="item in $data">
							<td title="'Id'" style="text-align: center;">{{item.demerito_id}}</td>
							<td title="'Fecha'" style="text-align: center;">{{item.fecha}}</td>
							<td title="'Grado'" style="text-align: center;">{{item.gradoCorto}}</td>
							<td title="'Tipo de curso'" style="text-align: center;">item.tipoCurso.valor_parametro</td>
							<td title="'Dem&eacute;rito'" style="text-align: center;">item.claseDemerito.descripcion</td>
							<td title="'Causal'" style="text-align: center;">item.causal.descripcion</td>
							<td title="'Estado'" style="text-align: center;">item.vigente</td>
							<td title="'Editar'"><a
								ng-click="editarDemeritoAcademico(item)"
								ng-show="{{item.flag24Hrs}}"><span class="icn icn-edit"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>
</div>


<div id="modalEstudiosMilitares" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document" style="width: 70%">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Tipo de curso</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estMilitar.tipoCurso_selected" ng-change="cargaLstCurso()"
									ng-options="item as item.valor_parametro for item in lstTipoCurso track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Curso</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estMilitar.curso_selected" 
									ng-options="item as item.descripcion for item in lstCurso track by item.curso_id">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Fecha de Inicio</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaIniEM" type="text" placeholder="dd/MM/yyyy"
									ng-model="estMilitar.fechaIni"> <i id="idIcono"
									class="icn icn-calendar"></i>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Fecha Fin</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaFinEM" type="text" placeholder="dd/MM/yyyy"
									ng-model="estMilitar.fechaFin"> <i id="idIcono"
									class="icn icn-calendar"></i>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Duraci&oacute;n (Mes)</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<input type="text" ng-model="estMilitar.durMes"
									ng-disabled="flagDisabEM">

							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Modalidad</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estMilitar.modalidad_selected"
									ng-disabled="flagDisabEM"
									ng-options="item as item.valor_parametro for item in lstModalidad track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Lugar</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estMilitar.pais_selected" ng-change="cargaLstInstitucion()"
									ng-options="item as item.nombre for item in lstPais track by item.pais_id">
									<option value="">-Seleccionar-</option>
								</select>

							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Instituci&oacute;n</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estMilitar.institucion_selected"
									ng-options="item as item.nombre for item in lstInstitucion track by item.inst_id">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Vacante alcanzada</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estMilitar.tipoVacante_selected"
									ng-options="item as item.valor_parametro for item in lstTipoVacante track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>

							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Certificado</label>
							</div>
						</div>
						<div class="g4">
							<div class="input-group">
								<span class="form-control" id="fileinput"></span> <span
									class="input-group-addon btn btn-default btn-file"
									id="btnExaminar"> <span class="icn icn-folder-open"
									title="Examinar"></span> <input type="file" name="dataFile"
									id="dataFile" class="upload" />
								</span>
							</div>
							<div style="margin-top: 3px;">
								<a ng-model="fileDonwload" href=""
									ng-click="descargarArchivo(estMilitar.fileNameRef)"
									ng-if="true" title="Descargar archivo"><span
									class="icn icn-download-alt"></span>{{estMilitar.fileName}}</a>
							</div>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Apreciaci&oacute;n</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estMilitar.apreciacion_selected"
									ng-change="selectTipoCalificacion()"
									ng-options="item as item.valor_parametro for item in lstApreciacion track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<fieldset ng-show="flagMerito || flagNota">
					<div class="row" ng-show="flagMerito">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>M&eacute;rito</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input type="text" ng-model="estMilitar.puesto">
								</div>
							</div>
							<div class="g2">
								<div class="item">
									<label>Total alumnos</label>
								</div>
							</div>
							<div class="g1">
								<div class="item" style="margin-bottom: 3px">
									<input type="text" ng-model="estMilitar.totalAlumnos">
								</div>
							</div>
							<div class="g1">
								<div class="item">
									<label>QUINTO</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input type="text" ng-model="estMilitar.quinto">
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<button type="button" class="btn btn-primary btn-sm"
										title="General Quinto" ng-click="generarQuinto()">Generar</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-show="flagNota">
						<div class="g12">
							<div class="g2">
								<div class="item">
									<label>Nota</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input type="text" ng-model="estMilitar.valorCalif">
								</div>
							</div>
							<div class="g3"></div>
							<div class="g1">
								<div class="item">
									<label>QUINTO</label>
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<input type="text" ng-model="estMilitar.quinto">
								</div>
							</div>
							<div class="g2">
								<div class="item" style="margin-bottom: 3px">
									<button type="button" class="btn btn-primary btn-sm"
										title="General Quinto" ng-click="generarQuinto()">Generar</button>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
					title="Grabar" ng-click="grabarEstMilitar()">Grabar</button>
				<button type="button" class="btn btn-primary btn-sm"
					data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<div id="modalEstudiosNoMilitares" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document" style="width: 70%">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Nivel de curso</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estNoMilitar.nivelCurso_selected"
									ng-options="item as item.valor_parametro for item in lstNivelCurso track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Curso</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estNoMilitar.categoria_selected"
									ng-options="item as item.valor_parametro for item in lstCategoria track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Nivel de idioma</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estNoMilitar.nivelIdioma_selected"
									ng-options="item as item.valor_parametro for item in lstNivelIdioma track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Curso</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estNoMilitar.curso_selected"
									ng-options="item as item.valor_parametro for item in lstCurso track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Fecha de Inicio</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaIniENM" type="text" placeholder="dd/MM/yyyy"
									ng-model="estNoMilitar.fechaIni"> <i id="idIcono"
									class="icn icn-calendar"></i>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Fecha Fin</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaFinENM" type="text" placeholder="dd/MM/yyyy"
									ng-model="estNoMilitar.fechaFin"> <i id="idIcono"
									class="icn icn-calendar"></i>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Duraci&oacute;n Mes(es)</label>
							</div>
						</div>
						<div class="g1">
							<div class="item" style="margin-bottom: 3px">
								<input type="text" ng-model="estNoMilitar.durMes">

							</div>
						</div>
						<div class="g1">
							<div class="item">
								<label>Hora(s)</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<input type="text" ng-model="estNoMilitar.durHora">

							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Modalidad</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estNoMilitar.modalidad_selected"
									ng-disabled="flagDisabEM"
									ng-options="item as item.valor_parametro for item in lstModalidad track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Lugar</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estNoMilitar.pais_selected"
									ng-options="item as item.nombre for item in lstPais track by item.pais_id">
									<option value="">-Seleccionar-</option>
								</select>

							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Instituci&oacute;n</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="estNoMilitar.institucion_selected"
									ng-options="item as item.nombre for item in lstInstitucionENM track by item.inst_id">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Certificado</label>
							</div>
						</div>
						<div class="g10">
							<div class="input-group">
								<span class="form-control" id="fileinputENM"></span> <span
									class="input-group-addon btn btn-default btn-file"
									id="btnExaminarENM"> <span class="icn icn-folder-open"
									title="Examinar"></span> <input type="file" name="dataFile"
									id="dataFileENM" class="upload" />
								</span>
							</div>
							<div style="margin-top: 3px;">
								<a ng-model="fileDonwload" href=""
									ng-click="descargarArchivo(estNoMilitar.fileNameRef)"
									ng-if="true" title="Descargar archivo"><span
									class="icn icn-download-alt"></span>{{estNoMilitar.fileName}}</a>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g2">&nbsp</div>
						<div class="g10">
							<fieldset style="width: 50%">
								<div class="row">
									<div class="g12">

										<div class="g3">
											<div class="item">
												<label>Afin Especialidad</label>
											</div>
										</div>
										<div class="g2">
											<div class="item" style="margin-bottom: 3px">
												<input type="radio" ng-model="estNoMilitar.afinEsp"
													value="1"> <label>Si</label>
											</div>
										</div>
										<div class="g2">
											<div class="item">
												<input type="radio" ng-model="estNoMilitar.afinEsp"
													value="0"> <label>No</label>
											</div>
										</div>
										<div class="g5"></div>
									</div>
								</div>
								<div class="row">
									<div class="g12">

										<div class="g3">
											<div class="item">
												<label>Afin Profesi&oacute;n</label>
											</div>
										</div>
										<div class="g2">
											<div class="item" style="margin-bottom: 3px">
												<input type="radio" ng-model="estNoMilitar.afinProf"
													value="1"> <label>Si</label>
											</div>
										</div>
										<div class="g2">
											<div class="item">
												<input type="radio" ng-model="estNoMilitar.afinProf"
													value="0"> <label>No</label>
											</div>
										</div>
										<div class="g5"></div>
									</div>
								</div>

							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
					title="Grabar" ng-click="grabarEstNoMilitar()">Grabar</button>
				<button type="button" class="btn btn-primary btn-sm"
					data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<div id="modalExamenAscenso" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document" style="width: 40%">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
			</div>
			<div class="modal-body">


				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Fecha de Examen</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaIniEA" type="text" placeholder="dd/MM/yyyy"
									ng-model="exaAscenso.fecha"> <i id="idIcono"
									class="icn icn-calendar"></i>
							</div>
						</div>


					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Descripci&oacute;n del Examen</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" style="margin-bottom: 3px">
								<input type="text" ng-model="exaAscenso.promocion">

							</div>
						</div>



					</div>
				</div>

				<div class="row">
					<div class="g12">
						<div class="g3">
							<div class="item">
								<label>Nota</label>
							</div>
						</div>
						<div class="g2">
							<div class="item" style="margin-bottom: 3px">
								<input type="text" ng-model="exaAscenso.nota">

							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
					title="Grabar" ng-click="grabarExamenAscenso()">Grabar</button>
				<button type="button" class="btn btn-primary btn-sm"
					data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<div id="modalDemeritoAcademico" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document" style="width: 60%">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Fecha</label>
							</div>
						</div>
						<div class="g9">
							<div class="item" id="idDTP" style="width: 180px">
								<input id="fechaIniDA" type="text" placeholder="dd/MM/yyyy"
									ng-model="demeritoAcad.fecha"> <i id="idIcono"
									class="icn icn-calendar"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Tipo de curso</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="demeritoAcad.tipoCurso_selected"
									ng-options="item as item.valor_parametro for item in lstTipoCurso track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Curso</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="demeritoAcad.curso_selected"
									ng-options="item as item.valor_parametro for item in lstCurso track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Demerito</label>
							</div>
						</div>
						<div class="g10">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="demeritoAcad.claseDemerito_selected"
									ng-options="item as item.valor_parametro for item in lstClaseDemerito track by item.codigo_parametro">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Causal</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="demeritoAcad.causal_selected"
									ng-options="item as item.descripcion for item in lstCausal track by item.causal_id">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Lugar</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="demeritoAcad.lugar_selected"
									ng-options="item as item.nombre for item in lstPais track by item.pais_id">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
						<div class="g2">
							<div class="item">
								<label>Instituci&oacute;n</label>
							</div>
						</div>
						<div class="g4">
							<div class="item" style="margin-bottom: 3px">
								<select ng-model="demeritoAcad.institucion_selected"
									ng-options="item as item.nombre for item in lstInstitucionDA track by item.inst_id">
									<option value="">-Seleccionar-</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Cobertura</label>
							</div>
						</div>
						<div class="g10">
							<div class="item" style="margin-bottom: 3px">
								<textarea ng-model="demeritoAcad.detalle"></textarea>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="g12">
						<div class="g2">
							<div class="item">
								<label>Documento</label>
							</div>
						</div>
						<div class="g10">
							<div class="input-group">
								<span class="form-control" id="fileinputDA"></span> <span
									class="input-group-addon btn btn-default btn-file"
									id="btnExaminarDA"> <span class="icn icn-folder-open"
									title="Examinar"></span> <input type="file" name="dataFile"
									id="dataFileDA" class="upload" />
								</span>
							</div>
							<div style="margin-top: 3px;">
								<a ng-model="fileDonwload" href=""
									ng-click="descargarArchivo(demeritoAcad.fileNameRef)"
									ng-if="true" title="Descargar archivo"><span
									class="icn icn-download-alt"></span>{{demeritoAcad.fileName}}</a>
							</div>
						</div>
					</div>
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
					title="Grabar" ng-click="grabarDemerito()">Grabar</button>
				<button type="button" class="btn btn-primary btn-sm"
					data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>






