<div ng-include="'src/views/parts/menu.html'"></div>

<div class="container container-full">

<form>
	<div class="row">
		<div class="widget header">
			<div class="g4">
				<h3 class="coll">Par&aacute;metros Generales</h3>
			</div>
			<div class="clear"></div>	
		</div>
	</div>
	
	<div class="row"></div>
	
	<div class="panel-body" >
	
		<div class="row">
		
				<div class="g2"></div>
				
				<div class="g10">
					
					  <div class="ls-horizontal left">
					  
						<div class="item">
							<label class="coll">Nombre tabla : </label>
						</div>						
					
						<div class="item">
							<select name="nombre_tabla_id" ng-model="nombre_tabla"  ng-change="filtrarParametro()">
								<option value="-1">-Seleccione-</option>
								<option ng-repeat="etip in listaTablas" value="{{etip.nombre_tabla}}">{{etip.nombre_tabla}}</option>
							</select>
						</div>
					
						<div class="item">
							<a class="btn btn-primary btn-sm" ng-click="abrirNuevoTabla()">Nuevo</a>
						</div>				
										
						<div class="item">
							<a class="btn btn-primary btn-sm" ng-click="actualizarTabla()">Editar</a>
					    </div>	
					
					</div>
					
				</div>	    	    
				
		</div>
		
		<div class="row">
		    <div class="widget header">
					<div class="g4">
		            	<h4 class="coll">Detalle</h4>
		    	    </div>
		    	    <div class="clear"></div>
		    </div>
		</div>
			
		<div class="row"></div>		
		
		<div class="row">
			<div class="g1"></div>
			<div class="g10">			
				<div class="ls-horizontal right">
					<div class="item">
						<a class="btn btn-primary btn-sm" ng-click="abrirNuevoParametro()">Nuevo</a>
					</div>
				</div>
		   </div>
		   <div class="g1"></div>
		</div>
		
		<div class="row"></div>
	
	    <div class="row">
	    
		    <div class="g1"></div>
		    
			<div class="g10">
			
				<div ng-repeat="alert in alerts">
					<notification ng-model="alert" />
				</div>
				
				<table ng-table="tblParametro" show-filter="false" class="table square">
					<tbody>
						<tr ng-repeat="item in $data">
							<td class="cel-center" data-title="'C&oacute;digo Par&aacute;metro'">{{item.codigo_parametro_dato}}</td>
							<td class="cel-center" data-title="'Valor Par&aacute;metro'">{{item.valor_parametro}}</td>
							<td width="30" style="text-align: center" data-title="'Estado'">
								<input style="height: 15px;" type="checkbox" ng-model="item.codigo_estado" ng-disabled="true" ng-change="seleccionarEstado(item)"/>
							</td>
							<td class="cel-center" data-title="'Editar'"><a ng-click="editarParametro(item)"><i class="fa fa-pencil fa-fw"></i></a></td>
						</tr>
					</tbody>
				</table>
				
			</div>
			
			<div class="g1"></div>
			
		</div>
  
  		<div class="row"></div>
  		


	<div id="modalParametro" class="modal fade" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<a data-dismiss="modal" class="close">X</a>
					<h4 class="modal-title">{{titulo}}</h4>
				</div>
				<div class="modal-body">
<!-- 					<div ng-repeat="alert in alerts"> -->
<!-- 						<notification ng-model="alert" /> -->
<!-- 					</div> -->
					<div class="row">
						<div class="ls-horizontal">
							<div class="g3">
								<label style="float: right"><b>Nombre tabla : </b></label>
							</div>
							<div class="g9">
								<input id="id_nombre_tabla" type="text" class="form-control" ng-model="eDefParametro.nombre_tabla">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="ls-horizontal">
							<div class="g3">
								<label style="float: right" id="label_codigo_parametro"><b>C&oacute;digo de Par&aacute;metro : </b></label>
							</div>
							<div class="g9">
								<input type="text" class="form-control" id="codigo_parametro" ng-model="eDefParametro.codigo_parametro">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="ls-horizontal">
							<div class="g3">
								<label style="float: right" id="label_valor_parametro"><b>Valor del Par&aacute;metro : </b></label>
							</div>
							<div class="g9">
								<input type="text" class="form-control" id="valor_parametro" ng-model="eDefParametro.valor_parametro">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="ls-horizontal">
							<div class="g3">
								<label style="float: right" id="label_estado"><b>Estado : </b></label>
							</div>
							
							<div class="g9">
								<input type="checkbox" ng-model="eDefParametro.bcodigo_estado" id="estado" ng-change="cambiarEstado()">
								<label id="label_activo">Activo</label>
							</div>
							
							
						</div>
					</div>
						 		<div class="modal-footer">
						 			<a class="btn btn-primary btn-ms" ng-click="grabarTabla()">Grabar</a>
						 		</div>
				</div>
			</div>
		</div>
		
	</div>
		<div class="modal fade" id="modalError" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Atenci&oacute;n</h4>
					</div>
					<div class="modal-body">{{textoError}}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-sm"
							ng-click="ok()" data-dismiss="modal">Aceptar</button>
					</div>
				</div>
			</div>
		</div>
  
  </div>
  	
</form>
</div>
