<footer>
	<div class="container container-full">
		<div class="f_logominam">
			<a href="http://www.minam.gob.pe" target="_self"><img
				src="src/assets/images/logominam.png" /></a>
		</div>


		<div class="row">
			<div class="g12">
				<div class="g6">
					<p>
						<strong>ATENCI&Oacute;N A LA CIUDADANIA</strong><br> Horario
						de atenci&oacute;n a la Ciudadania: lunes a viernes de 8:30a.m. a
						5:30p.m<br> Horario de Mesa de Partes: lunes a viernes de
						8:30a.m. a 4:45p.m. <br> Central Telef&oacute;nica: (511)
						6116000<br> Correo: atencion-ciudadania@minam.gob.pe
					</p>
					<img src="src/assets/images/bot_facebook.png"><img
						src="src/assets/images/bot_youtube.png"><img
						src="src/assets/images/bot_instagran.png"></span>
				</div>
				<div class="g6">
					<p>
						<strong>Plataforma de Atenci&oacute;n a la Ciudadania</strong><br>
						Av. Javier Prado Oeste 1440 - San Isidro, Lima<br> <strong>Modulos
							de Atenci&oacute;n a la Ciudadania</strong><br> Av. Javier Prado
						Oeste 820 - San Isidro, Lima<br> Calle Bielovucic 1325 -
						Lince, Lima<br> Av. Amador Merino Reyna 267 - San Isidro,
						Lima<br> Av. Dos de mayo 1545 - San Isidro
					</p>
				</div>
			</div>
		</div>

	</div>
</footer>