<form id="mainMenu">
	<header>
		<nav>
			<div class="container container-full">
				<div class="cabecera">
					<div class="logosigersol">
						<img src="./src/assets/images/logosigersol.png"
							style="height: 110px;" />
					</div>

					<!-- 					<div class="ls-horizontal right"> -->
					<div class="logominam">
						<a href="http://www.minam.gob.pe" target="_self"><img
							src="./src/assets/images/logominam.png" /></a>
					</div>
					<!-- 					</div> -->
				</div>

				<div class="menu_1">
					<ul>
						<li class="dropdown"><a id="csesion" ng-click="logout()">Salir</a></li>
<!-- 						<li class="dropdown"><a href="{{urlBase}}/#/preguntas">Ayuda</a></li> -->
						<li class="dropdown"><a href="#">Reportes</a></li>
						<li class="dropdown"><a href="{{urlBase}}/#/cambioClimatico/generacion" data-toggle="dropdown" class="dropdown-toggle">Cambio Clim&aacute;tico</a>					
						<ul class="dropdown-menu">
							<li><a href="{{urlBase}}/#/cambioClimatico/generacion">Generaci&oacute;n de Energ&iacute;a </a></li>
						</ul></li>
						<li class="dropdown"><a href="{{urlBase}}/#/gestion">Registro
								de Informaci&oacute;n</a></li>
						<li class="dropdown"><a href="{{urlBase}}/#/panel">Inicio
						</a></li>

					</ul>
				</div>

				<div class="clear"></div>

			</div>

		</nav>
	</header>
</form>