<div ng-include="'src/views/parts/menu.html'"></div>

<form>
	<div class="row">
		<div class="widget header">
			<div class="g4">
				<h3 class="coll">Funciones por perfil</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="g12">
				<div ng-repeat="alert in alerts">
					<notification ng-model="alert" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="ls-horizontal left">
				<div class="g1">&nbsp;</div>
				<div class="g10">
					<div class="item" style="padding-left: 22px;">
						<label for="perfil_id">Perfil:</label>
					</div>
					<div class="item">
						<select name="perfil_id" id="perfil_id"
							ng-model="perfil_id_buscar" ng-change="cargarTabla()">
							<option value="-1">-Seleccione-</option>
							<option ng-repeat="etip in listaPerfiles"
								value="{{etip.perfil_nombre}}">{{etip.perfil_nombre}}</option>
						</select>
					</div>
					<div class="item">
						<button type="button" class="btn btn-primary btn-sm"
							ng-click="abrirNuevoConfiguracionPerfil();">Nuevo</button>
					</div>
					<div class="item">
						<button type="button" class="btn btn-primary btn-sm"
							ng-click="abrirEditarConfiguracionPerfil(perfil_id_buscar);">Editar</button>
					</div>
				</div>
				<div class="g1">&nbsp;</div>
			</div>
		</div>
		<div class="row">
			<div class="ls-horizontal right">
				<div class="g1">&nbsp;</div>
				<div class="g10">
					<div class="item">
						<input type="text" placeholder="Argumento"
							ng-model="argumento_buscar" />
					</div>
					<div class="item">
						<a class="btn btn-primary btn-sm" ng-click="cargarTabla()">Buscar</a>
					</div>
					<div class="item">
						<a class="btn btn-primary btn-sm"
							ng-click="cargarTablaSinAsignar()">Nuevo</a>
					</div>
					<div class="item">
						<a class="btn btn-primary btn-sm" ng-click="guardarCambios()">Grabar</a>
					</div>
				</div>
				<div class="g1">&nbsp;</div>
			</div>
		</div>
		<div class="row">
			<div class="g12">&nbsp;</div>
		</div>
		<div class="row">
			<div class="g1"></div>
			<div class="g10">
				<table ng-table="tblFuncionPerfil" show-filter="false"
					class="table square">
					<tbody>
						<tr ng-repeat="item in $data">
							<td class="cel-left" title="'Funci&oacute;n'">{{item.funcion_nombre}}</td>
							<td width="30" style="text-align: center" data-title="'Insertar'">
								<input style="height: 15px;" type="checkbox"
								ng-model="item.bInsertar" ng-change="seleccionarInsertar(item)" />
							</td>
							<td width="30" style="text-align: center"
								data-title="'Consultar'"><input style="height: 15px;"
								type="checkbox" ng-model="item.bConsultar"
								ng-change="seleccionarConsultar(item)" /></td>
							<td width="30" style="text-align: center"
								data-title="'Actualizar'"><input style="height: 15px;"
								type="checkbox" ng-model="item.bActualizar"
								ng-change="seleccionarActualizar(item)" /></td>
							<td width="30" style="text-align: center" data-title="'Eliminar'">
								<input style="height: 15px;" type="checkbox"
								ng-model="item.bEliminar" ng-change="seleccionarEliminar(item)" />
							</td>
							<td width="30" style="text-align: center" data-title="'Exportar'">
								<input style="height: 15px;" type="checkbox"
								ng-model="item.bExportar" ng-change="seleccionarExportar(item)" />
							</td>
							<td width="30" style="text-align: center" data-title="'Estado'">
								<input style="height: 15px;" type="checkbox"
								ng-model="item.bCodigo_estado"
								ng-change="seleccionarEstado(item)" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="g1"></div>
		</div>
	</div>
	<div id="modalFormPerfil" class="modal fade" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<a data-dismiss="modal" class="close">X</a>
					<h4 class="modal-title">{{titulo_perfil}}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="ls-horizontal">
							<div class="g3">
								<label>Perfil:</label>
							</div>
							<div class="g9">
								<input type="text" id="perfil_nombre" name="perfil_nombre"
									class="form-control" ng-model="eDefPer.perfil_nombre"
									required="true" placeholder="Nombre" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="ls-horizontal">
							<div class="g3">
								<label>Descripci&oacute;n:</label>
							</div>
							<div class="g9">
								<textarea id="descripcion" name="descripcion"
									class="form-control" ng-model="eDefPer.descripcion" rows="3"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="ls-horizontal">
							<div class="g3">
								<label></label>
							</div>
							<div class="g9">
								<input type="checkbox" ng-model="eDefPer.codigo_estado"
									ng-change="cambiarEstadoPerfil()" /> Activo
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
						title="Grabar" ng-click="grabarPerfil();">Grabar</button>
					<button type="button" class="btn btn-primary btn-sm"
						data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	<div id="modalFormFuncionPerfil" class="modal fade" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<a ng-click="cancelarAXP()" data-dismiss="modal" class="close">X</a>
					<h4 class="modal-title">Agregar funci&oacute;n por perfil</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="ls-horizontal">
							<div class="item">Funci&oacute;n</div>
							<div class="item">
								<input type="text" placeholder="Funci&oacute;n"
									ng-model="funcion_buscar" />
							</div>
							<div class="item">
								<a class="btn btn-primary btn-sm"
									ng-click="buscarFuncionSinAsignar()">Buscar</a>
							</div>
							<div class="item">
								<a class="btn btn-primary btn-sm" ng-click="agregarFunciones()">Grabar</a>
							</div>							
						</div>
					</div>
					<div class="row">
						<div class="ls-horizontal">
							<table ng-table="tblSinFuncionPerfil" show-filter="false"
								class="table square">
								<tbody>
									<tr ng-repeat="item in $data">
										<td width="50" style="text-align: center"
											header="'ng-table/headers/checkbox.html'"><input
											style="height: 15px;" type="checkbox"
											ng-model="checkboxes.items[item.funcion_id+','+item.funcion_nombre]" />
										</td>
										<td class="cel-left" title="'Funci&oacute;n'">{{item.funcion_nombre}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td><label>Registros Total :
												{{tblSinFuncionPerfil.total()}} </label></td>
										<td><label>Registros seleccionados :
												{{contarCheck}} </label></td>
									</tr>
								</tfoot>
							</table>
							<script type="text/ng-template"
								id="ng-table/headers/checkbox.html">
								<input type="checkbox" style="height: 15px;" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>